In [26]:
# !kaggle competitions download -c ds3-which-whisky

In [27]:
import pandas as pd
train_features = pd.read_csv('train.csv.zip')

train_features.head()

,id,author,description,price,ratingValue,pert_alcohol,category
0,1,John Hansell,A marriage of 13 and 18 year old bourbons. A m...,85.0,97,51.5,2.0
1,2,Dave Broom,There have been some legendary Bowmores from t...,13500.0,97,42.9,1.0
2,3,John Hansell,This bottling celebrates master distiller Park...,150.0,97,50.0,2.0
3,4,John Hansell,What impresses me most is how this whisky evol...,4500.0,97,40.5,1.0
4,6,Davin de Kergommeaux,"After 40 years in barrels, the trademark Canad...",199.0,96,45.0,NaN

In [40]:
train_features.shape

(2476, 1)

In [29]:
train_features = train_features.dropna()

In [30]:
train_labels = train_features['category'].astype(int)

train_labels.head()

0    2
1    1
2    2
3    1
5    2
Name: category, dtype: int64

In [31]:


train_features = train_features.drop(columns=['id', 'author','price', 'ratingValue', 'pert_alcohol', 'category'])

In [32]:
train_features.head()

                                         description
0  A marriage of 13 and 18 year old bourbons. A m...
1  There have been some legendary Bowmores from t...
2  This bottling celebrates master distiller Park...
3  What impresses me most is how this whisky evol...
5  A caramel-laden fruit bouquet, followed by une...

In [33]:
train_labels.shape

(2476,)

In [34]:
test_features = pd.read_csv('test.csv')

test_features.head()

,id,author,description,price,ratingValue,pert_alcohol
0,955,Fred Minnick,"Think carnival aromas—the good ones, anyway—me...",36.0,90,50.0
1,3532,Lew Bryson,"A blend of three bourbons, between 6 and 12 ye...",90.0,82,49.3
2,1390,Davin de Kergommeaux,"The nose is focused on cereal, hints of fresh ...",48.0,89,45.0
3,1024,Gavin Smith,Swiss-based Chapter 7 released this 19 year ol...,180.0,90,55.8
4,1902,Gavin Smith,Valkyrie replaces the current Dark Origins exp...,71.0,87,45.9

In [35]:
# Import Statements
from sklearn.pipeline import Pipeline

from sklearn.linear_model import SGDClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
# Create Pipeline

vect = TfidfVectorizer(stop_words='english')
sgdc = SGDClassifier()

pipe = Pipeline([('vect', vect), ('clf', sgdc)])

In [38]:
X = train_features['description']
y = train_labels

In [39]:
# Fit Pipeline
pipe.fit(X, y)

Pipeline(memory=None,
     steps=[('vect', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
...m_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False))])

In [ ]:
pipe.predict(['Send me lots of money now', 'you won the lottery in Nigeria'])