<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Assignment 4*

# Word Embeddings

### Use Word2Vec to train your own model on a dataset.

1) **Optional** - Find your own dataset of documents to train you model on. You are going to need a lot of data, so it's probably not realistic to scrape data for this assignment given the time constraints that we're working under. Try to find a dataset that has > 5000 documents.

- If you can't find a dataset to use try this one: <https://www.kaggle.com/c/quora-question-pairs>

2) Clean/Tokenize the documents.

3) Vectorize the model using Word2Vec and explore the results using each of the following at least one time:

- your_model.wv.most_similar()
- your_model.wv.similarity()
- your_model.wv.doesn't_match()

In [1]:
import pandas as pd
import string
from nltk import word_tokenize
import nltk
nltk.download('punkt')
from gensim.models import Word2Vec
from sklearn.feature_extraction.text import CountVectorizer
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
data_scientist = pd.read_csv('data_scientist_jobs_indeed.csv')
data_scientist.Title = "Data Scientist"
data_analyst = pd.read_csv('data_analyst_jobs_indeed.csv')
data_analyst.Title = "Data Analyst"
data_engineer = pd.read_csv('data_engineer_jobs_indeed.csv')
data_engineer.Title = "Data Engineer"

df = pd.concat([data_scientist, data_analyst, data_engineer], axis=0).drop_duplicates()
df.shape

(13180, 5)

In [3]:
df.sample(5)

,Title,Location,Company,Salary,Summary
1836,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,"\n $86,000 - $126,000 a year (I...",This data scientist position will ...
3048,Data Scientist,"Hollywood, CA 90028",Ticketmaster,NaN,Carry out tasks encompassing data ...
3994,Data Analyst,NaN,Alexander Technology Group,NaN,The right fit for this Data Analys...
1954,Data Scientist,"Cincinnati, OH 45249",Procter and Gamble,NaN,"As a PhD Data Scientist, you'll be..."
2705,Data Scientist,"Cambridge, MA 02140 (North Cambridge area)",Voluntis,NaN,We seek an exceptional data scient...

In [0]:
# Subset to only Title and Summary
df = df[['Title','Summary']]

In [0]:
# Process text function

def process_text(text):
  from nltk.corpus import stopwords
  """Remove punctuation, lowercase, and tokenize text."""
  # TODO: check for special cases like "I'll"
  text = "".join([char.lower() for char in text
                  if char not in string.punctuation])
  stop = stopwords.words('english')
  return [i for i in word_tokenize(text) if i not in stop]

In [6]:
df.isna().sum()

Title      0
Summary    0
dtype: int64

In [7]:
df['Title'].value_counts(normalize=True)

Data Analyst      0.350607
Data Scientist    0.343930
Data Engineer     0.305463
Name: Title, dtype: float64

In [8]:
process_text("Testing the process text function, hope it's working! . , '' + - = ;;;; ; '.,*&^$#@#$%'")

['testing', 'process', 'text', 'function', 'hope', 'working']

In [0]:
df['Tokens'] = df['Summary'].apply(process_text) # Don't forget to take care of missing values if there are any

In [10]:
df.head()

,Title,Summary,Tokens
0,Data Scientist,"Natural Language Processing (NLP),...","[natural, language, processing, nlp, speech, d..."
1,Data Scientist,"Conduct exploratory data analysis,...","[conduct, exploratory, data, analysis, mine, d..."
4,Data Scientist,Data Scientist to join the Data Science team. ...,"[data, scientist, join, data, science, team, d..."
5,Data Scientist,Structured and unstructured data:....,"[structured, unstructured, data, scale, analyt..."
6,Data Scientist,"Research, evaluate, design and imp...","[research, evaluate, design, implement, machin..."

# Word2Vec

In [0]:
model = Word2Vec(df['Tokens'], min_count=5, size=100, seed=420)

In [12]:
model.wv.most_similar('python')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('r', 0.9873111248016357),
 ('talend', 0.9763953685760498),
 ('hadoop', 0.9690969586372375),
 ('spark', 0.9584083557128906),
 ('tableau', 0.9536489248275757),
 ('programming', 0.9522199630737305),
 ('eg', 0.9513393640518188),
 ('language', 0.949604868888855),
 ('preferred', 0.9491496086120605),
 ('demonstrated', 0.9485483765602112)]

In [47]:
model.wv.similarity('visualization', 'python')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

0.8155188

# Count Tokenizer

In [0]:
# Remove list brackets
df['Tokens'] = [','.join(map(str, l)) for l in df['Tokens']]

# Get rid of numbers
df['Tokens'] = df['Tokens'].str.replace('\d+', '')

In [33]:
# Instantiate CountVectorizer
cvec = CountVectorizer(ngram_range=(2,2), max_features=20000)

# Fir the CountVectorizer and transform the data
vec_ds = cvec.fit_transform(df['Tokens'])
vec_ds = cvec.fit_transform(df['Tokens'])


df_vec  = pd.DataFrame(vectorizers.todense(), columns=cvec.get_feature_names())
print (df_vec.shape)
df_vec.head()

(13180, 20000)

,ab testing,ab tests,abilities create,abilities passionate,ability analyze,ability apply,ability assist,ability bring,ability build,ability clearly,...,zestfinance develop,zillow group,zillow groups,zipcar seeking,zynga one,专业为统计经济信息系统计算机等stem类皆可 需要有基础编程技能比如对sql较熟悉,医疗保险公司data analyst全职实习机会,工作地点可选san francisco,总部位于湾区的医疗保险公司招数据分析师需要至少学士学历或在读生 专业为统计经济信息系统计算机等stem类皆可,需要有基础编程技能比如对sql较熟悉 工作地点可选san
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# The most common words

df_vec.sum().sort_values(ascending=False)[40:80]

engineer data            231
data collection          229
analyst data             221
management data          220
join team                219
data platform            217
including data           217
analyst responsible      215
data governance          213
business data            212
work closely             203
engineers data           191
modeling data            184
build data               183
data structures          182
data integrity           177
knowledge data           176
new data                 173
scientists data          171
experienced data         169
work data                169
analyst join             164
use data                 160
business intelligence    160
science team             159
scientist join           157
data cleansing           156
mining data              156
working data             153
perform data             152
multiple data            149
using data               148
data technologies        144
building data            143
scientist data           142
quality data             140
engineer responsible     136
healthcare data          135
data multiple            134
unstructured data        134
dtype: int64

### Stretch Goals:

1) Use Doc2Vec to train a model on your dataset, and then provide model with a new document and let it find similar documents.

2) Download the pre-trained word vectors from Google. Access the pre-trained vectors via the following link: https://code.google.com/archive/p/word2vec

  - Load the pre-trained word vectors and train the Word2vec model

  - Examine the first 100 keys or words of the vocabulary

  - Outputs the vector representation for a select set of words - the words can be of your choice

  - Examine the similarity between words - the words can be of your choice

  - For example:

    - model.similarity('house', 'bungalow')

    - model.similarity('house', 'umbrella')
    
3) Word2Vec is not the latest or greatest wording embedding model, but it has been around long enough to have well developed APIs in several of the major packages. Try one of the State of the Art (SoA) embeddings models on your dataset. The state of the art models are BERT and Elmo (and yes, that is a pun).

# Use Doc2Vec to train a model on your dataset, and then provide model with a new document and let it find similar documents.

In [0]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas(desc="progress-bar")
from gensim.models import Doc2Vec
from sklearn import utils
from sklearn.model_selection import train_test_split
import gensim
from gensim.models.doc2vec import TaggedDocument
import re
from xgboost import XGBClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

In [120]:
df = pd.concat([data_scientist, data_analyst, data_engineer], axis=0).drop_duplicates()
df = df[['Title', 'Summary']]
df.head()

            Title                                            Summary
0  Data Scientist              Natural Language Processing (NLP),...
1  Data Scientist              Conduct exploratory data analysis,...
4  Data Scientist  Data Scientist to join the Data Science team. ...
5  Data Scientist              Structured and unstructured data:....
6  Data Scientist              Research, evaluate, design and imp...

In [121]:
# Tokenize the sentences

df['Summary'].apply(lambda x: len(x.split(' '))).sum()

455292

In [0]:
def text_process(text):
    text = re.sub(r'\|\|\|', r' ', text)
    text = text.lower()
    text = text.replace('x', '')
    return text

df['Summary'] = df['Summary'].apply(cleanText)

In [123]:
df['Summary'][0]

0                natural language processing (nlp),...
0    data/systems integration analyst:. business an...
0                ensures adherence to enterprise da...
Name: Summary, dtype: object

In [0]:
from gensim.models import doc2vec

def label_sentences(corpus, label_type):
    """
    Gensim's Doc2Vec implementation requires each document/paragraph to have a label associated with it.
    We do this by using the TaggedDocument method. The format will be "TRAIN_i" or "TEST_i" where "i" is
    a dummy index of the complaint narrative.
    """
    labeled = []
    for i, v in enumerate(corpus):
        label = label_type + '_' + str(i)
        labeled.append(doc2vec.TaggedDocument(v.split(), [label]))
    return labeled

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df.Summary, df.Title, random_state=420, test_size=0.3)
X_train = label_sentences(X_train, 'Train')
X_test = label_sentences(X_test, 'Test')
all_data = X_train + X_test

In [126]:
len(all_data)

13180

In [127]:
all_data[:2]

[TaggedDocument(words=['data', 'scientist,', 'life', 'eperience', 'studies.', 'as', 'our', 'data', 'scientist,', 'life', 'eperience', 'studies,', 'you', 'will', 'have', 'an', 'ecellent', 'opportunity', 'to', 'join', 'a', 'highly-motivated', 'team', 'responsible', 'for', 'providing', 'analytical', 'insights', 'and', 'eperience', 'studies', 'to', 'the...'], tags=['Train_0']),
 TaggedDocument(words=['do', 'you', 'enjoy', 'designing', 'enterprise', 'level', 'research', 'and', 'analytic', 'frameworks?', 'how', 'would', 'you', 'like', 'to', 'turn', 'on', 'your', 'creative', 'genius', 'and', 'problem-solving', 'alongside', 'busin...'], tags=['Train_1'])]

We'll instantiate a Doc2Vec model-Distributed Bag of Words (DBOW). In the Word2Vec architecture, the two algorithm names are “continuous bag of words” (cbow) and “skip-gram” (sg); in the Doc2Vec architecture, the corresponding algorithms are “distributed bag of words” (dbow) and “distributed memory” (dm).

In [128]:
model_dbow = Doc2Vec(dm=0, vector_size=300, negative=5, min_count=1, alpha=0.065, min_alpha=0.065)
model_dbow.build_vocab([x for x in tqdm(all_data)])

100%|██████████| 13180/13180 [00:00<00:00, 1555194.02it/s]

In [129]:
%%time
for epoch in range(30):
    model_dbow.train(utils.shuffle([x for x in tqdm(all_data)]), total_examples=len(all_data), epochs=1)
    model_dbow.alpha -= 0.002
    model_dbow.min_alpha = model_dbow.alpha

100%|██████████| 13180/13180 [00:00<00:00, 2158483.73it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1032246.46it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2163975.84it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2255996.03it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1534473.07it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2203656.49it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2203920.05it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1475574.60it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2178558.69it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2269518.30it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2237550.66it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2335386.20it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2396017.98it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2253145.58it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2301549.89it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2101377.08it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1833408.29it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1505102.96it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2323802.04it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2185103.23it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2289444.49it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1576392.34it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2174530.99it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2323411.37it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1632728.65it/s]
100%|██████████| 13180/13180 [00:00<00:00, 1162047.56it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2158399.45it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2163891.13it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2204886.99it/s]
100%|██████████| 13180/13180 [00:00<00:00, 2292862.99it/s]

CPU times: user 43.3 s, sys: 4.48 s, total: 47.8 s
Wall time: 27.3 s

In [0]:
def get_vectors(model, corpus_size, vectors_size, vectors_type):
    """
    Get vectors from trained doc2vec model
    :param doc2vec_model: Trained Doc2Vec model
    :param corpus_size: Size of the data
    :param vectors_size: Size of the embedding vectors
    :param vectors_type: Training or Testing vectors
    :return: list of vectors
    """
    vectors = np.zeros((corpus_size, vectors_size))
    for i in range(0, corpus_size):
        prefix = vectors_type + '_' + str(i)
        vectors[i] = model.docvecs[prefix]
    return vectors

In [0]:
train_vectors_dbow = get_vectors(model_dbow, len(X_train), 300, 'Train')
test_vectors_dbow = get_vectors(model_dbow, len(X_test), 300, 'Test')

# Now let's classify the vectors...

In [0]:
log_reg = LogisticRegression(multi_class='multinomial',solver='lbfgs',
                             max_iter=1000)
xgb = XGBClassifier(max_depth=7, n_estimators=100, n_jobs=-1)
svc = LinearSVC()
ada = AdaBoostClassifier()
gaus = GaussianNB()

def train_and_score(classifier):
  classifier.fit(train_vectors_dbow, y_train)
  print(classifier.score(test_vectors_dbow, y_test))

In [184]:
%%time

train_and_score(log_reg)

0.8335862417804755
CPU times: user 5.82 s, sys: 952 ms, total: 6.77 s
Wall time: 3.44 s

In [200]:
%%time

train_and_score(xgb)

0.8662114314618108
CPU times: user 2min 25s, sys: 29.9 ms, total: 2min 25s
Wall time: 2min 25s

In [185]:
%%time

train_and_score(svc)

0.8394031360647446
CPU times: user 16.2 s, sys: 81.3 ms, total: 16.3 s
Wall time: 16.2 s

In [201]:
%%time

train_and_score(ada)

0.7384926656550329
CPU times: user 21.2 s, sys: 4.78 ms, total: 21.2 s
Wall time: 21.2 s

In [202]:
%%time

train_and_score(gaus)

0.7835103692463329
CPU times: user 86.7 ms, sys: 2.8 ms, total: 89.5 ms
Wall time: 90.9 ms

I was able able to predict which job summaries fall into the categories of Data Science, Data Engineer, and Data Analyst with ~85% accuracy.