<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Assignment 4*

# Word Embeddings

### Use Word2Vec to train your own model on a dataset.

1) **Optional** - Find your own dataset of documents to train you model on. You are going to need a lot of data, so it's probably not realistic to scrape data for this assignment given the time constraints that we're working under. Try to find a dataset that has > 5000 documents.

- If you can't find a dataset to use try this one: <https://www.kaggle.com/c/quora-question-pairs>

2) Clean/Tokenize the documents.

3) Vectorize the model using Word2Vec and explore the results using each of the following at least one time:

- your_model.wv.most_similar()
- your_model.wv.similarity()
- your_model.wv.doesn't_match()

In [1]:
import pandas as pd
import string
from nltk import word_tokenize
import nltk
nltk.download('punkt')
from gensim.models import Word2Vec
from sklearn.feature_extraction.text import CountVectorizer
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
data_scientist = pd.read_csv('data_scientist_jobs_indeed.csv')
data_scientist.Title = "Data Scientist"
data_analyst = pd.read_csv('data_analyst_jobs_indeed.csv')
data_analyst.Title = "Data Analyst"
data_engineer = pd.read_csv('data_engineer_jobs_indeed.csv')
data_engineer.Title = "Data Engineer"

df = pd.concat([data_scientist, data_analyst, data_engineer], axis=0).drop_duplicates()
df.shape

(13180, 5)

In [3]:
df.sample(5)

,Title,Location,Company,Salary,Summary
1836,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,"\n $86,000 - $126,000 a year (I...",This data scientist position will ...
3048,Data Scientist,"Hollywood, CA 90028",Ticketmaster,NaN,Carry out tasks encompassing data ...
3994,Data Analyst,NaN,Alexander Technology Group,NaN,The right fit for this Data Analys...
1954,Data Scientist,"Cincinnati, OH 45249",Procter and Gamble,NaN,"As a PhD Data Scientist, you'll be..."
2705,Data Scientist,"Cambridge, MA 02140 (North Cambridge area)",Voluntis,NaN,We seek an exceptional data scient...

In [0]:
# Subset to only Title and Summary
df = df[['Title','Summary']]

In [0]:
# Process text function

def process_text(text):
  from nltk.corpus import stopwords
  """Remove punctuation, lowercase, and tokenize text."""
  # TODO: check for special cases like "I'll"
  text = "".join([char.lower() for char in text
                  if char not in string.punctuation])
  stop = stopwords.words('english')
  return [i for i in word_tokenize(text) if i not in stop]

In [6]:
df.isna().sum()

Title      0
Summary    0
dtype: int64

In [7]:
df['Title'].value_counts(normalize=True)

Data Analyst      0.350607
Data Scientist    0.343930
Data Engineer     0.305463
Name: Title, dtype: float64

In [8]:
process_text("Testing the process text function, hope it's working! . , '' + - = ;;;; ; '.,*&^$#@#$%'")

['testing', 'process', 'text', 'function', 'hope', 'working']

In [0]:
df['Tokens'] = df['Summary'].apply(process_text) # Don't forget to take care of missing values if there are any

In [10]:
df.head()

,Title,Summary,Tokens
0,Data Scientist,"Natural Language Processing (NLP),...","[natural, language, processing, nlp, speech, d..."
1,Data Scientist,"Conduct exploratory data analysis,...","[conduct, exploratory, data, analysis, mine, d..."
4,Data Scientist,Data Scientist to join the Data Science team. ...,"[data, scientist, join, data, science, team, d..."
5,Data Scientist,Structured and unstructured data:....,"[structured, unstructured, data, scale, analyt..."
6,Data Scientist,"Research, evaluate, design and imp...","[research, evaluate, design, implement, machin..."

# Word2Vec

In [0]:
model = Word2Vec(df['Tokens'], min_count=5, size=100, seed=420)

In [12]:
model.wv.most_similar('python')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('r', 0.9873111248016357),
 ('talend', 0.9763953685760498),
 ('hadoop', 0.9690969586372375),
 ('spark', 0.9584083557128906),
 ('tableau', 0.9536489248275757),
 ('programming', 0.9522199630737305),
 ('eg', 0.9513393640518188),
 ('language', 0.949604868888855),
 ('preferred', 0.9491496086120605),
 ('demonstrated', 0.9485483765602112)]

In [47]:
model.wv.similarity('visualization', 'python')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

0.8155188

# Count Tokenizer

In [0]:
# Remove list brackets
df['Tokens'] = [','.join(map(str, l)) for l in df['Tokens']]

# Get rid of numbers
df['Tokens'] = df['Tokens'].str.replace('\d+', '')

In [33]:
# Instantiate CountVectorizer
cvec = CountVectorizer(ngram_range=(2,2), max_features=20000)

# Fir the CountVectorizer and transform the data
vectorizers = cvec.fit_transform(df['Tokens'])


df_vec  = pd.DataFrame(vectorizers.todense(), columns=cvec.get_feature_names())
print (df_vec.shape)
df_vec.head()

(13180, 20000)

,ab testing,ab tests,abilities create,abilities passionate,ability analyze,ability apply,ability assist,ability bring,ability build,ability clearly,...,zestfinance develop,zillow group,zillow groups,zipcar seeking,zynga one,专业为统计经济信息系统计算机等stem类皆可 需要有基础编程技能比如对sql较熟悉,医疗保险公司data analyst全职实习机会,工作地点可选san francisco,总部位于湾区的医疗保险公司招数据分析师需要至少学士学历或在读生 专业为统计经济信息系统计算机等stem类皆可,需要有基础编程技能比如对sql较熟悉 工作地点可选san
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# The most common words

df_vec.sum().sort_values(ascending=False)[40:80]

engineer data            231
data collection          229
analyst data             221
management data          220
join team                219
data platform            217
including data           217
analyst responsible      215
data governance          213
business data            212
work closely             203
engineers data           191
modeling data            184
build data               183
data structures          182
data integrity           177
knowledge data           176
new data                 173
scientists data          171
experienced data         169
work data                169
analyst join             164
use data                 160
business intelligence    160
science team             159
scientist join           157
data cleansing           156
mining data              156
working data             153
perform data             152
multiple data            149
using data               148
data technologies        144
building data            143
scientist data           142
quality data             140
engineer responsible     136
healthcare data          135
data multiple            134
unstructured data        134
dtype: int64

### Stretch Goals:

1) Use Doc2Vec to train a model on your dataset, and then provide model with a new document and let it find similar documents.

2) Download the pre-trained word vectors from Google. Access the pre-trained vectors via the following link: https://code.google.com/archive/p/word2vec

  - Load the pre-trained word vectors and train the Word2vec model

  - Examine the first 100 keys or words of the vocabulary

  - Outputs the vector representation for a select set of words - the words can be of your choice

  - Examine the similarity between words - the words can be of your choice

  - For example:

    - model.similarity('house', 'bungalow')

    - model.similarity('house', 'umbrella')
    
3) Word2Vec is not the latest or greatest wording embedding model, but it has been around long enough to have well developed APIs in several of the major packages. Try one of the State of the Art (SoA) embeddings models on your dataset. The state of the art models are BERT and Elmo (and yes, that is a pun).

# Use Doc2Vec to train a model on your dataset, and then provide model with a new document and let it find similar documents.