<a href="https://colab.research.google.com/github/derek-shing/DS-Unit-4-Sprint-2-NLP/blob/master/Copy_of_LS_DS_421_Text_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Assignment 1*

# Natural Language Processing (NLP)

# 1. String Basics

## 1.1 Count Characters

Write a function to count the character frequency of any string, and return the counts as a dictionary.

"google.com" -> {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
##### YOUR CODE HERE #####
from collections import Counter 
s = "google.com"
print(Counter(s))
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

## 1.2 Replace Characters

Write a function that takes in two parameters: 1) a string of text and 2) individual character. This function should return a new string of text where any of the specified character has been replaced with dollar signs: `$`

In [0]:
def redact(document, redaction_char="$"):
    ##### YOUR CODE HERE #####
    return document.replace(redaction_char,'$')
    #raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")
    
    
redact(s,'l')

'goog$e.com'

## 1.3 Slice Suffixes

Write a function that removes common suffixes from the ends of words. As a minimum this function should remove the suffixes: "ed",  "ing", "es", "tion", "ly"

"The daring fox leaped through the air gracefully, his eyes fixated on the capitulation of his prey." -> 

"The dar fox leap through the air graceful, his ey fixat on the capitula of his prey."

In [0]:
import string
import re

##### YOUR CODE HERE #####
s='The daring fox leaped through the air gracefully, his eyes fixated on the capitulation of his prey.'
word_list = s.split()
new_word_list =[]
p = tuple(string.punctuation)
suffixes =("ed", "ing", "es", "tion", "ly")
for word in word_list:
  if word.endswith(p):
    word = word[:-1]
  for suffix in suffixes:
    if word.endswith(suffix):
      word = word[:-len(suffix)]
      break
    
  new_word_list.append(word)
  
" ".join(new_word_list)

#aise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

'The dar fox leap through the air graceful his ey fixat on the capitula of his prey'

## 1.4 Remove Stopwords

Write a function that removes common "stopwords" from text.

In [0]:
stopwords = ['i','me','my','myself','we''our','ours','ourselves',
'you','your','yours','yourself','yourselves','he','him','his','himself',
'she','her','hers','herself','it','its','itself','they','them','their',
'theirs','themselves','what','which','who','whom','this','that','these',
'those','am','is','are','was','were','be','been','being','have','has',
'had','having','do','does','did','doing','a','an','the','and','but',
'if','or','because','as','until','while','of','at','by','for','with',
'about','against','between','into','through','during','before','after',
'above','below','to','from','up','down','in','out','on','off','over',
'under','again','further','then','once','here','there','when','where',
'why','how','all','any','both','each','few','more','most','other','some',
'such','no','nor','not','only','own','same','so','than','too','very',
's','t','can','will','just','don','should','now']

In [0]:
##### YOUR CODE HERE #####
def remove_stopwords(text):
#text ="Below is a list of three strings. Each string is a job listing with the job title of 'data scientist' from indeed.com. Write a function that does two things"
  words = text.split()
  new_words =[]
  for word in words:
    if not(word in stopwords):
      new_words.append(word)

  return " ".join(new_words)
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

## 1.5 Vectorize Words

Below is a list of three strings. Each string is a job listing with the job title of "data scientist" from indeed.com. Write a function that does two things:

1) Removes stopwords from each listing (uses above function)

2) Creates a dataframe where the header of each column is a particular word and each cell of the dataframe should be a 1 or 0 denoting whether that word is present or not in the job listing a body of text. The final dataframe should only have 3 rows, one for each of the three job listings.

Your final dataframe should not include any of the stopwords.

In [0]:
job_listings = ['Part-time, Contract, Internship\nSr. Machine Learning/Data Scientist\n\ndata245, Bannockburn, IL seeks data scientists.\n\nWe are open to all levels of experience (down to an intern) as we are building a team around new initiatives.\n\nYou will be developing state of the art algorithms to power various aspects of highly complex business models\nYou can articulate and understand a business problem, identify challenges, formulate the machine learning problem or NLP problems and provide/prototype solutions\nYou will provide technical leadership, identify and understand key business challenges and opportunities, and develop end-to-end software solutions using machine learning/NLP and optimization methods.\n\nYou will collaborate extensively with internal and external partners, program management, and, at a senior level, the engineering team to ensure that solution meet business needs, permit valid inferences and have functional feasibility\nYou will collect and manipulate large volumes of data; build new and improved techniques and/or solutions for data collection, management, and usage\nYou will communicate results in a comprehensible manner to all levels of the company (field teams up to Snr. Management) - this will require client facing in the future - but not initially\nYou will brainstorm with other team members and leadership - who has 30 plus years experience in the industry that requires the solution.\nRequirements:\n\nPHD or MS in Statistics, Machine Learning, or Computer Science (or technical degree with commensurate industry experience)\nIdeally the Senior position will possess at least 3 years of relevant work - or academic academic experience, as a Data Scientist / Machine Learning professional.\nExpertise in NLP a bonus\nStrong algorithmic design skills\nOther positions require less tenure, but the same relevant ML understanding.\nPrevious hands on experience, or thesis dedicated to the same\nDeep understanding of classic machine learning and deep learning theory, and extensive hands-on experience putting it into practice\nExcellent understanding of machine learning algorithms, processes, tools and platforms including CNN, RNN, NLP, tensorflow, keras, etc.\nPython proficiency is must\nApplied experience with machine learning on large datasets\\sparse data with structured and unstructured data.\nExperience with deep learning, and their optimizations for efficient implementation.\nGreat communication skills, ability to explain predictive analytics to non-technical audience (not client facing yet, and no sales)\nExperienced in predictive modelling.\nExecute analytical experiments methodically while outputting reproducible research.\nExcited to change an industry struggling to control costs.\nGood to have – Familiar with one or more programming languages e.g. C++ / Java / Android / iOS".\nJob Types: Full-time, Part-time, Internship, Contract\n\nSalary: $75,000.00 to $125,000.00 /year\n\nEducation:\n\nMaster\'s (Preferred)\nWork authorization:\n\nUnited States (Preferred)\nHours per week:\n\n30-39\nOvertime often available:\n\nNo\nContract Length:\n\nMore than 1 year\nTypical end time:\n\n5PM', "$96,970 - $148,967 a year\nThe professionals at the National Security Agency (NSA) have one common goal: to protect our nation. The mission requires a strong offense and a steadfast defense. The offense collects, processes, and disseminates intelligence information derived from foreign signals for intelligence and counterintelligence purposes. The defense prevents adversaries from gaining access to sensitive classified national security information. NSA is the nation's leader in providing foreign signals intelligence while also protecting U.S. government information systems, forging the frontier of communications, and data analysis. We serve the American people by applying technical skills to meaningful work, keeping our friends and families safe for generations to come. You will make a lasting impact serving your country as a Data Scientist at the National Security Agency, using your curiosity to analyze large data sets to inform decision-making against foreign threats. We are looking for critical thinkers, problem solvers, and motivated individuals who are enthusiastic about data and believe that answers to hard questions lie in the yet-to-be-told story of diverse, complicated data sets. You will employ your mathematical science, computer science, and quantitative analysis skills to ensure solutions to complex data problems and take full advantage of the NSA's software and hardware capabilities in all areas of our enterprise, including analytic capabilities, research, and foreign intelligence operations. Data Scientists are hired into positions directly supporting a technical mission office or the Data Scientist Development Program (DSDP). The NSA/CSS Data Scientist Development Program is a three-year opportunity to build your data science talent, experience the breadth of data science at NSA through six- to nine-month assignments in a variety of diverse organizations, and collaborate with NSA's experts in the field of data science. You will have opportunities to attend technical conferences with experts from industry and academia. You will routinely discuss and share NSA's challenges and successes at weekly technical roundtables. We foster an environment where you will develop your data science skills, allowing you to quickly contribute to NSA's mission. As a member of a technical mission office or the DSDP, Data Scientists tackle challenging real-world problems leveraging big data, high-performance computing, machine learning, and a breadth of other methodologies. As a Data Scientist at NSA, responsibilities may include: - Collecting and combining data from multiple sources - Uncovering and exploring anomalous data (including metadata) - Applying the scientific process to data evaluation, performing statistical inference, and data mining - Developing analytic plans, engineer supporting algorithms, and design and implement solutions which execute analytic plans. - Designing and developing tools and techniques for analysis - Analyzing data using mathematical/statistical methods - Evaluating, documenting, and communicating research processes, analyses, and results to customers, peers, and leadership - Creating interpretable visualizations\n\nSkills\n\nThe ideal candidate is someone with a desire for continual learning and strong problem-solving, analytic and interpersonal skills. You might be a great fit for our team if any of the following describe you: - Completed a degree program in the fields of mathematics, statistics, computer science, computational sciences, or a passion for rigorous analysis of data - Tenacity, integrity, persistence, and willingness to learn - Ability to solve complex problems - Use critical thinking and reasoning to make analytic determinations - Works effectively in a collaborative environment - Strong communications skills to both technical and non-technical audiences - The desire to serve over 300 million fellow Americans and make a difference in world events\n\nPay, Benefits, & Work Schedule\n\nOn the job training, internal NSA courses, and external training will be made available based on the need and experience of the selectee. Monday - Friday, with basic 8 hr/day requirements between 0800 to 1800 (flexible)\n\nPosition Summary\n\nNSA is in search of Computer Science professionals to solve complex problems, test innovative approaches and research new solutions to storing, manipulating, and presenting information. We are looking for you to apply your computer science expertise to projects that seek to create new standards for the transformation of information. If you want to develop technologies and tools and be a part of cutting edge innovations ' join our team of experts! Help protect national security interests as part of the world's most advanced team of computer science professionals!\n\nMandatory Qualification Reqs\n\nCandidates for the NSA's Data Scientist roles are asked to complete a data science examination evaluating their knowledge of statistics, mathematics, and computer science topics that pertain to data science work. Passing this examination is a requirement in order to be considered for selection into a data scientist position. Salary Range: $69,545 - $86,659 (Entry Level/Developmental) *The qualifications listed are the minimum acceptable to be considered for the position. Salary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position. Entry is with a Bachelor's degree and no experience. An Associate's degree plus 2 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. Degree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science. A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g. physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, and life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence). College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count. Note: A broader range of degrees will be considered if accompanied by a Certificate in Data Science from an accredited college/university.\n\nRelevant experience must be in designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, and/or software engineering. Experience in more than one area is strongly preferred. Salary Range: $80,445 - $107,140 (Full Performance) *The qualifications listed are the minimum acceptable to be considered for the position. Salary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position. Entry is with a Bachelor's degree plus 3 years of relevant experience or a Master's degree plus 1 year of relevant experience or a Doctoral degree and no experience. An Associate's degree plus 5 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position.\nDegree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science. A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g. physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, and life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence). College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count. Note: A broader range of degrees will be considered if accompanied by a Certificate in Data Science from an accredited college/university. Relevant experience must be in two or more of the following: designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, or software engineering. Salary Range: $96,970 - $148,967 (Senior) *The qualifications listed are the minimum acceptable to be considered for the position. Salary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position. Entry is with a Bachelor's degree plus 6 years of relevant experience or a Master's degree plus 4 years of relevant experience or a Doctoral degree plus 2 years of relevant experience. An Associate's degree plus 8 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. Degree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science. A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g., physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence). College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count. Note: A broader range of degrees will be considered if accompanied by a Certificate in Data Science from an accredited college/university. Relevant experience must be in two or more of the following: designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, or software engineering. Salary Range: $134,789- $164,200 (Expert) *The qualifications listed are the minimum acceptable to be considered for the position. Salary offers are based on candidates' education level and years of experience relevant to the position and also take into account information provided by the hiring manager/organization regarding the work level for the position. Entry is with a Bachelor's degree plus 9 years of relevant experience or a Master's degree plus 7 years of relevant experience or a Doctoral degree plus 5 years of relevant experience. An Associate's degree plus 11 years of relevant experience may be considered for individuals with in-depth experience that is clearly related to the position. Degree must be in Mathematics, Applied Mathematics, Statistics, Applied Statistics, Machine Learning, Data Science, Operations Research, or Computer Science. A degree in a related field (e.g., Computer Information Systems, Engineering), a degree in the physical/hard sciences (e.g., physics, chemistry, biology, astronomy), or other science disciplines (i.e., behavioral, social, life) may be considered if it includes a concentration of coursework (typically 5 or more courses) in advanced mathematics (typically 200 level or higher; such as calculus, differential equations, discrete mathematics) and/or computer science (e.g., algorithms, programming, data structures, data mining, artificial intelligence). College-level Algebra or other math courses intended to meet a basic college level requirement, or upper level math courses designated as elementary or basic do not count. Note: A broader range of degrees will be considered if accompanied by a Certificate in Data Science from an accredited college/university. Relevant experience must be in two or more of the following: designing/implementing machine learning, data mining, advanced analytical algorithms, programming, data science, advanced statistical analysis, artificial intelligence, or software engineering.\n\nHow To Apply - External\n\nTo apply for this position, please click the 'Apply' button located at the top right of this posting. After completing the application for the first time, or reviewing previously entered information, and clicking the 'Submit' button, you will receive a confirmation email. Please ensure your spam filters are configured to accept emails from noreply@intelligencecareers.gov. ***PLEASE NOTE: U.S. Citizenship is required for all applicants. Reasonable accommodations provided to applicants with disabilities during the application and hiring process where appropriate. NSA is an equal opportunity employer and abides by applicable employment laws and regulations. All applicants and employees are subject to random drug testing in accordance with Executive Order 12564. Employment is contingent upon successful completion of a security background investigation and polygraph. This position is a Defense Civilian Intelligence Personnel System (DCIPS) position in the Excepted Service under 10 U.S.C. 1601. DoD Components with DCIPS positions apply Veterans' Preference to eligible candidates as defined by Section 2108 of Title 5 USC, in accordance with the procedures provided in DoD Instruction 1400.25, Volume 2005, DCIPS Employment and Placement. If you are a veteran claiming veterans' preference, as defined by Section 2108 of Title 5 U.S.C., you may be asked to submit documents verifying your eligibility. Please note that you may be asked a series of questions depending on the position you apply for. Your responses will be used as part of the screening process of your application and will assist in determining your eligibility for the position. Be sure to elaborate on experiences in your resume. Failure to provide the required information or providing inaccurate information will result in your application not being considered for this position. Only those applicants who meet the qualifications for the position will be contacted to begin employment processing. Please Note: Job Posting could close earlier than the closing date due to sufficient number of applicants or position no longer available. We encourage you to apply as soon as possible.\n\nDCIPS Disclaimer\n\nThe National Security Agency (NSA) is part of the DoD Intelligence Community Defense Civilian Intelligence Personnel System (DCIPS). All positions in the NSA are in the Excepted Services under 10 United States Codes (USC) 1601 appointment authority.", '\nMinneapolis, Providence or Framingham\n\nWho is Virgin Pulse?\nVirgin Pulse, founded as part of Sir Richard Branson’s famed Virgin Group, helps organizations build employee health and wellbeing into the DNA of their corporate cultures. As the only company to deliver a powerful, mobile-first digital platform infused with live services, including coaching and biometric screenings, Virgin Pulse’s takes a high-tech-meets-high-touch-approach to engage employees in improving across all aspects of their health and wellbeing, every day – from prevention and building a healthy lifestyle to condition and disease management to condition reversal, all while engaging users daily in building and sustaining healthy habits and behaviors. A global leader in health and wellbeing, Virgin Pulse is committed to helping change lives and businesses around the world for good so that people and organizations can thrive, together. Today, more than 3100 organizations across the globe are using Virgin Pulse’s solutions to improve health, employee wellbeing and engagement, reduce costs and create strong workplace cultures.\n\nWho are our employees?\nAt Virgin Pulse we’re passionate about changing lives for good. We want to make a difference in the world by helping people be healthy so they can perform at their best, every day, at work and home. Our award-winning solutions support leading employers in improving and simplifying the employee health and wellbeing journey and engaging people in all aspects of their health. But our world-class products and programs are nothing without our people – the employees who design, build, promote, sell, test and perfect the latest innovations in workplace health and wellbeing. Our people are our top priority and we invest in their health and happiness. At Virgin Pulse, we have so much more than a strong, supportive company culture – have a shared vision for a healthier, happier world.\nWho you are.\nYou are an experienced Data Scientist who is capable of providing support to our organization’s efforts to maintain an innovative leadership position in the employee engagement SaaS industry. The Data Scientist accesses datasets from various sources, conducts analysis, and presents the findings of each analytic and reporting project. The incumbent will be able to interpret the findings and clearly communicate results and recommendations to internal and external customers. Moreover, you are a professional who is self-directed and thrives working in a fast-paced, collaborative environment, in which expectations are high both for the quality and speed of work.\nIn the role of a Data Scientist you will wear many hats and your skills will be crucial in the following:\nWrite SQL, R, Python programs to access, clean, and transform required data prior to analysis and reporting\nConsult to and collaborate with analytics and client reporting team members to ensure appropriate data is analyzed and that results are provided in a format consistent with standard and customized client reporting services\nTroubleshoot and perform data audits to ensure and improve data integrity; investigate and resolve data discrepancies\nPlan and manage data analytic and reporting process to ensure the projects remain on schedule\nConduct ad hoc analysis as required using varied analytical tools and techniques\nSupport Client Success, sales and Marketing staff with direct communication with Virgin Pulse clients and prospects regarding the results of the analysis\nAchieve annual Key Performance Indicator objectives, which can include report volumes and scope, internal and external client satisfaction, introducing new areas of data and analysis, and influencing company product and process decisions\n\nWhat you bring to the team.\nIn order to represent the best of what we have to offer, you come to us with a multitude of positive attributes including:\nA bachelor’s degree in statistics, computer science, economics, or related field; Master’s degree is a plus\nA minimum of four years of work experience in a similar position\nExperience with data and analytic programming languages such as SQL, R, Python\nExperience with data visualization tools and techniques preferred\nExperience with producing and delivering results using varied media (i.e., multiple MS office formats, dashboards/visualization tools, and potentially other formats)\nExperience in employee health management/health engagement industry preferred\n\nIn addition, you possess the following additional competencies and characteristics:\nStrong analytical skills, with an emphasis on quantitative analysis, descriptive and inferential statistics\nExpertise in statistical analytical software, or the ability to learn through prior experience tools such as SAS, Stata, R, SPSS or similar statistical software\nStrong consulting, communication and presentation skills\nAdvanced R, SQL and database programming skills, experience with MS SQL Server, RedShift, Postgres, and Cassandra/NOSQL databases\nExperience working with large-scale datasets and multiple projects simultaneously\nCreative energy, self-starter, works equally well independently and collaboratively']

In [0]:
### YOUR CODE HERE
#remove_stopwords(job_listings)
len(job_listings)
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

3

# 2. Regex + Pandas Practice

Load the contents of the following text file into your notebook:
<https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python-Regular-Expressions/data.txt>

If you're using Google Colab then you will have to download the raw file from github and either upload to your google drive or upload it to the notebook like we have done with CSVs in the past.

## 2.1 Make sure your notebook has access to the .txt file

In [0]:
from google.colab import files
uploaded = files.upload()

Saving data.txt to data.txt

## 2.2 Read in the contents of the file

In [60]:
with open('data.txt', 'r', encoding='utf-8') as f:
  contents = f.read()
  
contents

"Dave Martin\n615-555-7164\n173 Main St., Springfield RI 55924\ndavemartin@bogusemail.com\n\nCharles Harris\n800-555-5669\n969 High St., Atlantis VA 34075\ncharlesharris@bogusemail.com\n\nEric Williams\n560-555-5153\n806 1st St., Faketown AK 86847\nlaurawilliams@bogusemail.com\n\nCorey Jefferson\n900-555-9340\n826 Elm St., Epicburg NE 10671\ncoreyjefferson@bogusemail.com\n\nJennifer Martin-White\n714-555-7405\n212 Cedar St., Sunnydale CT 74983\njenniferwhite@bogusemail.com\n\nErick Davis\n800-555-6771\n519 Washington St., Olympus TN 32425\ntomdavis@bogusemail.com\n\nNeil Patterson\n783-555-4799\n625 Oak St., Dawnstar IL 61914\nneilpatterson@bogusemail.com\n\nLaura Jefferson\n516-555-4615\n890 Main St., Pythonville LA 29947\nlaurajefferson@bogusemail.com\n\nMaria Johnson\n127-555-1867\n884 High St., Braavos\u200e ME 43597\nmariajohnson@bogusemail.com\n\nMichael Arnold\n608-555-4938\n249 Elm St., Quahog OR 90938\nmichaelarnold@bogusemail.com\n\nMichael Smith\n568-555-6051\n619 Park St., Winterfell VA 99000\nmichaelsmith@bogusemail.com\n\nErik Stuart\n292-555-1875\n220 Cedar St., Lakeview NY 87282\nrobertstuart@bogusemail.com\n\nLaura Martin\n900-555-3205\n391 High St., Smalltown WY 28362\nlauramartin@bogusemail.com\n\nBarbara Martin\n614-555-1166\n121 Hill St., Braavos\u200e UT 92474\nbarbaramartin@bogusemail.com\n\nLinda Jackson\n530-555-2676\n433 Elm St., Westworld TX 61967\nlindajackson@bogusemail.com\n\nEric Miller\n470-555-2750\n838 Main St., Balmora MT 56526\nstevemiller@bogusemail.com\n\nDave Arnold\n800-555-6089\n732 High St., Valyria KY 97152\ndavearnold@bogusemail.com\n\nJennifer Jacobs\n880-555-8319\n217 High St., Old-town IA 82767\njenniferjacobs@bogusemail.com\n\nNeil Wilson\n777-555-8378\n191 Main St., Mordor IL 72160\nneilwilson@bogusemail.com\n\nKurt Jackson\n998-555-7385\n607 Washington St., Blackwater NH 97183\nkurtjackson@bogusemail.com\n\nMary Jacobs\n800-555-7100\n478 Oak St., Bedrock IA 58176\nmaryjacobs@bogusemail.com\n\nMichael White\n903-555-8277\n906 Elm St., Mordor TX 89212\nmichaelwhite@bogusemail.com\n\nJennifer Jenkins\n196-555-5674\n949 Main St., Smalltown SC 96962\njenniferjenkins@bogusemail.com\n\nSam Wright\n900-555-5118\n835 Pearl St., Smalltown ND 77737\nsamwright@bogusemail.com\n\nJohn Davis\n905-555-1630\n451 Lake St., Bedrock GA 34615\njohndavis@bogusemail.com\n\nEric Davis\n203-555-3475\n419 Lake St., Balmora OR 30826\nneildavis@bogusemail.com\n\nLaura Jackson\n884-555-8444\n443 Maple St., Quahog MS 29348\nlaurajackson@bogusemail.com\n\nJohn Williams\n904-555-8559\n756 Hill St., Valyria KY 94854\njohnwilliams@bogusemail.com\n\nMichael Martin\n889-555-7393\n216 High St., Olympus NV 21888\nmichaelmartin@bogusemail.com\n\nMaggie Brown\n195-555-2405\n806 Lake St., Lakeview MD 59348\nmaggiebrown@bogusemail.com\n\nErik Wilson\n321-555-9053\n354 Hill St., Mordor FL 74122\nkurtwilson@bogusemail.com\n\nElizabeth Arnold\n133-555-1711\n805 Maple St., Winterfell NV 99431\nelizabetharnold@bogusemail.com\n\nJane Martin\n900-555-5428\n418 Park St., Metropolis ID 16576\njanemartin@bogusemail.com\n\nTravis Johnson\n760-555-7147\n749 Washington St., Braavos\u200e SD 25668\ntravisjohnson@bogusemail.com\n\nLaura Jefferson\n391-555-6621\n122 High St., Metropolis ME 29540\nlaurajefferson@bogusemail.com\n\nTom Williams\n932-555-7724\n610 High St., Old-town FL 60758\ntomwilliams@bogusemail.com\n\nJennifer Taylor\n609-555-7908\n332 Main St., Pythonville OH 78172\njennifertaylor@bogusemail.com\n\nErick Wright\n800-555-8810\n858 Hill St., Blackwater NC 79714\njenniferwright@bogusemail.com\n\nSteve Doe\n149-555-7657\n441 Elm St., Atlantis MS 87195\nstevedoe@bogusemail.com\n\nKurt Davis\n130-555-9709\n404 Oak St., Atlantis ND 85386\nkurtdavis@bogusemail.com\n\nCorey Harris\n143-555-9295\n286 Pearl St., Vice City TX 57112\ncoreyharris@bogusemail.com\n\nNicole Taylor\n903-555-9878\n465 Hill St., Old-town LA 64102\nnicoletaylor@bogusemail.com\n\nElizabeth Davis\n574-555-3194\n151 Lake St., Eerie SD 17880\nelizabethdavis@bogusemail.com\n\nMaggie Jenkins\n496-555-7533\n504 Lake St., Gotham PA 46692\nmaggiejenkins@bogusemail.com\n\nLinda Davis\n210-555-3757\n201 Pine St., Vice City AR 78455\nlindadavis@bogusemail.com\n\nDave Moore\n900-555-9598\n251 Pine St., Old-town OK 29087\ndavemoore@bogusemail.com\n\nLinda Jenkins\n866-555-9844\n117 High St., Bedrock NE 11899\nlindajenkins@bogusemail.com\n\nEric White\n669-555-7159\n650 Oak St., Smalltown TN 43281\nsamwhite@bogusemail.com\n\nLaura Robinson\n152-555-7417\n377 Pine St., Valyria NC 78036\nlaurarobinson@bogusemail.com\n\nCharles Patterson\n893-555-9832\n416 Pearl St., Valyria AK 62260\ncharlespatterson@bogusemail.com\n\nJoe Jackson\n217-555-7123\n683 Cedar St., South Park KS 66724\njoejackson@bogusemail.com\n\nMichael Johnson\n786-555-6544\n288 Hill St., Smalltown AZ 18586\nmichaeljohnson@bogusemail.com\n\nCorey Miller\n780-555-2574\n286 High St., Springfield IA 16272\ncoreymiller@bogusemail.com\n\nJames Moore\n926-555-8735\n278 Main St., Gotham KY 89569\njamesmoore@bogusemail.com\n\nJennifer Stuart\n895-555-3539\n766 Hill St., King's Landing GA 54999\njenniferstuart@bogusemail.com\n\nCharles Martin\n874-555-3949\n775 High St., Faketown PA 89260\ncharlesmartin@bogusemail.com\n\nEric Wilks\n800-555-2420\n885 Main St., Blackwater OH 61275\njoewilks@bogusemail.com\n\nElizabeth Arnold\n936-555-6340\n528 Hill St., Atlantis NH 88289\nelizabetharnold@bogusemail.com\n\nJohn Miller\n372-555-9809\n117 Cedar St., Thundera NM 75205\njohnmiller@bogusemail.com\n\nCorey Jackson\n890-555-5618\n115 Oak St., Gotham UT 36433\ncoreyjackson@bogusemail.com\n\nSam Thomas\n670-555-3005\n743 Lake St., Springfield MS 25473\nsamthomas@bogusemail.com\n\nPatricia Thomas\n509-555-5997\n381 Hill St., Blackwater CT 30958\npatriciathomas@bogusemail.com\n\nJennifer Davis\n721-555-5632\n125 Main St., Smalltown MT 62155\njenniferdavis@bogusemail.com\n\nPatricia Brown\n900-555-3567\n292 Hill St., Gotham WV 57680\npatriciabrown@bogusemail.com\n\nBarbara Williams\n147-555-6830\n514 Park St., Balmora NV 55462\nbarbarawilliams@bogusemail.com\n\nJames Taylor\n582-555-3426\n776 Hill St., Dawnstar MA 51312\njamestaylor@bogusemail.com\n\nEric Harris\n400-555-1706\n421 Elm St., Smalltown NV 72025\nbarbaraharris@bogusemail.com\n\nTravis Anderson\n525-555-1793\n937 Cedar St., Thundera WA 78862\ntravisanderson@bogusemail.com\n\nSam Robinson\n317-555-6700\n417 Pine St., Lakeview MD 13147\nsamrobinson@bogusemail.com\n\nSteve Robinson\n974-555-8301\n478 Park St., Springfield NM 92369\nsteverobinson@bogusemail.com\n\nMary Wilson\n800-555-3216\n708 Maple St., Braavos\u200e UT 29551\nmarywilson@bogusemail.com\n\nSam Wilson\n746-555-4094\n557 Pearl St., Westworld KS 23225\nsamwilson@bogusemail.com\n\nCharles Jones\n922-555-1773\n855 Hill St., Olympus HI 81427\ncharlesjones@bogusemail.com\n\nLaura Brown\n711-555-4427\n980 Maple St., Smalltown MO 96421\nlaurabrown@bogusemail.com\n\nTom Harris\n355-555-1872\n676 Hill St., Blackwater AR 96698\ntomharris@bogusemail.com\n\nPatricia Taylor\n852-555-6521\n588 Pine St., Olympus FL 98412\npatriciataylor@bogusemail.com\n\nBarbara Williams\n691-555-5773\n351 Elm St., Sunnydale GA 26245\nbarbarawilliams@bogusemail.com\n\nMaggie Johnson\n332-555-5441\n948 Cedar St., Quahog DE 56449\nmaggiejohnson@bogusemail.com\n\nKurt Miller\n900-555-7755\n381 Hill St., Quahog AL 97503\nkurtmiller@bogusemail.com\n\nNeil Stuart\n379-555-3685\n496 Cedar St., Sunnydale RI 49113\nneilstuart@bogusemail.com\n\nLinda Patterson\n127-555-9682\n736 Cedar St., Lakeview KY 47472\nlindapatterson@bogusemail.com\n\nCharles Davis\n789-555-7032\n678 Lake St., Mordor MN 11845\ncharlesdavis@bogusemail.com\n\nJennifer Jefferson\n783-555-5135\n289 Park St., Sunnydale WA 74526\njenniferjefferson@bogusemail.com\n\nErick Taylor\n315-555-6507\n245 Washington St., Bedrock IL 26941\ncoreytaylor@bogusemail.com\n\nRobert Wilks\n481-555-5835\n573 Elm St., Sunnydale IL 47182\nrobertwilks@bogusemail.com\n\nTravis Jackson\n365-555-8287\n851 Lake St., Metropolis PA 22772\ntravisjackson@bogusemail.com\n\nTravis Jackson\n911-555-7535\n489 Oak St., Atlantis HI 73725\ntravisjackson@bogusemail.com\n\nLaura Wilks\n681-555-2460\n371 Pearl St., Smalltown SC 47466\nlaurawilks@bogusemail.com\n\nNeil Arnold\n274-555-9800\n504 Oak St., Faketown PA 73860\nneilarnold@bogusemail.com\n\nLinda Johnson\n800-555-1372\n667 High St., Balmora IN 82473\nlindajohnson@bogusemail.com\n\nJennifer Wilson\n300-555-7821\n266 Pine St., Westworld DC 58720\njenniferwilson@bogusemail.com\n\nNicole White\n133-555-3889\n276 High St., Braavos\u200e IL 57764\nnicolewhite@bogusemail.com\n\nMaria Arnold\n705-555-6863\n491 Elm St., Metropolis PA 31836\nmariaarnold@bogusemail.com\n\nJennifer Davis\n215-555-9449\n859 Cedar St., Old-town MT 31169\njenniferdavis@bogusemail.com\n\nMary Patterson\n988-555-6112\n956 Park St., Valyria CT 81541\nmarypatterson@bogusemail.com\n\nJane Stuart\n623-555-3006\n983 Oak St., Old-town RI 15445\njanestuart@bogusemail.com\n\nRobert Davis\n192-555-4977\n789 Maple St., Mordor IN 22215\nrobertdavis@bogusemail.com\n\nJames Taylor\n178-555-4899\n439 Hill St., Olympus NV 39308\njamestaylor@bogusemail.com\n\nEric Stuart\n952-555-3089\n777 High St., King's Landing AZ 16547\njohnstuart@bogusemail.com\n\nCharles Miller\n900-555-6426\n207 Washington St., Blackwater MA 24886\ncharlesmiller@bogusemail.com\n"

## 2.3 Turn the "unstructured" .txt file into a "structured" dataframe
Once you have read in the file's contents your task is to get this unstructured text data into a dataframe with the following headers:

- First Name
- Last Name
- Email
- Phone Number
- Street Address
- City
- State
- Zipcode

In [0]:
##### Your Code Here #####
import re
import pandas as pd
data =[]
records = re.split("\n\n",contents)
for record in records:
   data.append(re.split("\n",record))

data
df = pd.DataFrame(data)
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

In [62]:
df

,0,1,2,3,4
0,Dave Martin,615-555-7164,"173 Main St., Springfield RI 55924",davemartin@bogusemail.com,None
1,Charles Harris,800-555-5669,"969 High St., Atlantis VA 34075",charlesharris@bogusemail.com,None
2,Eric Williams,560-555-5153,"806 1st St., Faketown AK 86847",laurawilliams@bogusemail.com,None
3,Corey Jefferson,900-555-9340,"826 Elm St., Epicburg NE 10671",coreyjefferson@bogusemail.com,None
4,Jennifer Martin-White,714-555-7405,"212 Cedar St., Sunnydale CT 74983",jenniferwhite@bogusemail.com,None
5,Erick Davis,800-555-6771,"519 Washington St., Olympus TN 32425",tomdavis@bogusemail.com,None
6,Neil Patterson,783-555-4799,"625 Oak St., Dawnstar IL 61914",neilpatterson@bogusemail.com,None
7,Laura Jefferson,516-555-4615,"890 Main St., Pythonville LA 29947",laurajefferson@bogusemail.com,None
8,Maria Johnson,127-555-1867,"884 High St., Braavos‎ ME 43597",mariajohnson@bogusemail.com,None
9,Michael Arnold,608-555-4938,"249 Elm St., Quahog OR 90938",michaelarnold@bogusemail.com,None
10,Michael Smith,568-555-6051,"619 Park St., Winterfell VA 99000",michaelsmith@bogusemail.com,None
11,Erik Stuart,292-555-1875,"220 Cedar St., Lakeview NY 87282",robertstuart@bogusemail.com,None
12,Laura Martin,900-555-3205,"391 High St., Smalltown WY 28362",lauramartin@bogusemail.com,None
13,Barbara Martin,614-555-1166,"121 Hill St., Braavos‎ UT 92474",barbaramartin@bogusemail.com,None
14,Linda Jackson,530-555-2676,"433 Elm St., Westworld TX 61967",lindajackson@bogusemail.com,None
15,Eric Miller,470-555-2750,"838 Main St., Balmora MT 56526",stevemiller@bogusemail.com,None
16,Dave Arnold,800-555-6089,"732 High St., Valyria KY 97152",davearnold@bogusemail.com,None
17,Jennifer Jacobs,880-555-8319,"217 High St., Old-town IA 82767",jenniferjacobs@bogusemail.com,None
18,Neil Wilson,777-555-8378,"191 Main St., Mordor IL 72160",neilwilson@bogusemail.com,None
19,Kurt Jackson,998-555-7385,"607 Washington St., Blackwater NH 97183",kurtjackson@bogusemail.com,None
20,Mary Jacobs,800-555-7100,"478 Oak St., Bedrock IA 58176",maryjacobs@bogusemail.com,None
21,Michael White,903-555-8277,"906 Elm St., Mordor TX 89212",michaelwhite@bogusemail.com,None
22,Jennifer Jenkins,196-555-5674,"949 Main St., Smalltown SC 96962",jenniferjenkins@bogusemail.com,None
23,Sam Wright,900-555-5118,"835 Pearl St., Smalltown ND 77737",samwright@bogusemail.com,None
24,John Davis,905-555-1630,"451 Lake St., Bedrock GA 34615",johndavis@bogusemail.com,None
25,Eric Davis,203-555-3475,"419 Lake St., Balmora OR 30826",neildavis@bogusemail.com,None
26,Laura Jackson,884-555-8444,"443 Maple St., Quahog MS 29348",laurajackson@bogusemail.com,None
27,John Williams,904-555-8559,"756 Hill St., Valyria KY 94854",johnwilliams@bogusemail.com,None
28,Michael Martin,889-555-7393,"216 High St., Olympus NV 21888",michaelmartin@bogusemail.com,None
29,Maggie Brown,195-555-2405,"806 Lake St., Lakeview MD 59348",maggiebrown@bogusemail.com,None
...,...,...,...,...,...
70,Mary Wilson,800-555-3216,"708 Maple St., Braavos‎ UT 29551",marywilson@bogusemail.com,None
71,Sam Wilson,746-555-4094,"557 Pearl St., Westworld KS 23225",samwilson@bogusemail.com,None
72,Charles Jones,922-555-1773,"855 Hill St., Olympus HI 81427",charlesjones@bogusemail.com,None
73,Laura Brown,711-555-4427,"980 Maple St., Smalltown MO 96421",laurabrown@bogusemail.com,None
74,Tom Harris,355-555-1872,"676 Hill St., Blackwater AR 96698",tomharris@bogusemail.com,None
75,Patricia Taylor,852-555-6521,"588 Pine St., Olympus FL 98412",patriciataylor@bogusemail.com,None
76,Barbara Williams,691-555-5773,"351 Elm St., Sunnydale GA 26245",barbarawilliams@bogusemail.com,None
77,Maggie Johnson,332-555-5441,"948 Cedar St., Quahog DE 56449",maggiejohnson@bogusemail.com,None
78,Kurt Miller,900-555-7755,"381 Hill St., Quahog AL 97503",kurtmiller@bogusemail.com,None
79,Neil Stuart,379-555-3685,"496 Cedar St., Sunnydale RI 49113",neilstuart@bogusemail.com,None
80,Linda Patterson,127-555-9682,"736 Cedar St., Lakeview KY 47472",lindapatterson@bogusemail.com,None
81,Charles Davis,789-555-7032,"678 Lake St., Mordor MN 11845",charlesdavis@bogusemail.com,None
82,Jennifer Jefferson,783-555-5135,"289 Park St., Sunnydale WA 74526",jenniferjefferson@bogusemail.com,None
83,Erick Taylor,315-555-6507,"245 Washington St., Bedrock IL 26941",coreytaylor@bogusemail.com,None
84,Robert Wilks,481-555-5835,"573 Elm St., Sunnydale IL 47182",robertwilks@bogusemail.com,None
85,Travis Jackson,365-555-8287,"851 Lake St., Metropolis PA 22772",travisjackson@bogusemail.com,None
86,Travis Jackson,911-555-7535,"489 Oak St., Atlantis HI 73725",travisjackson@bogusemail.com,None
87,Laura Wilks,681-555-2460,"371 Pearl St., Smalltown SC 47466",laurawilks@bogusemail.com,None
88,Neil Arnold,274-555-9800,"504 Oak St., Faketown PA 73860",neilarnold@bogusemail.com,None
89,Linda Johnson,800-555-1372,"667 High St., Balmora IN 82473",lindajohnson@bogusemail.com,None
90,Jennifer Wilson,300-555-7821,"266 Pine St., Westworld DC 58720",jenniferwilson@bogusemail.com,None
91,Nicole White,133-555-3889,"276 High St., Braavos‎ IL 57764",nicolewhite@bogusemail.com,None
92,Maria Arnold,705-555-6863,"491 Elm St., Metropolis PA 31836",mariaarnold@bogusemail.com,None
93,Jennifer Davis,215-555-9449,"859 Cedar St., Old-town MT 31169",jenniferdavis@bogusemail.com,None
94,Mary Patterson,988-555-6112,"956 Park St., Valyria CT 81541",marypatterson@bogusemail.com,None
95,Jane Stuart,623-555-3006,"983 Oak St., Old-town RI 15445",janestuart@bogusemail.com,None
96,Robert Davis,192-555-4977,"789 Maple St., Mordor IN 22215",robertdavis@bogusemail.com,None
97,James Taylor,178-555-4899,"439 Hill St., Olympus NV 39308",jamestaylor@bogusemail.com,None
98,Eric Stuart,952-555-3089,"777 High St., King's Landing AZ 16547",johnstuart@bogusemail.com,None
99,Charles Miller,900-555-6426,"207 Washington St., Blackwater MA 24886",charlesmiller@bogusemail.com,

# 3. Web Scraping + Pandas

Scrape the unordered list of information about Ohio University President's salaries from this article: 
[Ohio Private University President's Salaries](https://www.cleveland.com/metro/2017/12/case_western_reserve_university_president_barbara_snyders_base_salary_and_bonus_pay_tops_among_private_colleges_in_ohio.html)

Get the data from this webpage into a dataframe with the following headers:

- First Name
- Last Name
- School
- Salary

Salary information should be stored as an integer and not have "$" or commas ","

In [0]:
##### Your Code Here #####
import requests
from bs4 import BeautifulSoup

url = "https://www.cleveland.com/metro/2017/12/case_western_reserve_university_president_barbara_snyders_base_salary_and_bonus_pay_tops_among_private_colleges_in_ohio.html"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

In [0]:
l = soup.find(class_="article__unordered-list")

In [0]:
l = l.find_all(class_="article__unordered-list-item")

In [0]:
import re

In [12]:
data=[]
for i in l:
  data.append(i.text)
  
data

['Grant Cornwell, College of Wooster (left in 2015): $911,651',
 'Marvin Krislov, Oberlin College (left in 2016): \xa0$829,913',
 'Mark Roosevelt, Antioch College, (left in 2015): $507,672',
 'Laurie Joyner, Wittenberg University (left in 2015): $463,504',
 'Richard Giese, University of Mount Union (left in 2015): $453,800',
 'Sean Decatur,Kenyon College: $451,698',
 'Adam Weinberg, Denison University: $435,322',
 'Daniel Dibiasio, Ohio Northern University: $414,716',
 'Denvy Bowman, Capital University (left in 2016): $388,570',
 'Anne Steele, Muskingum University (left in 2016): $384,233',
 'Kathy Krendl, Otterbein University: \xa0$378,035',
 'Rockwell Jones, Ohio Wesleyan University: $366,625',
 'Robert Helmer, Baldwin Wallace University: $365,616',
 'Robert Huntington, Heidelberg University: $300,005',
 'Lori Varlotta, Hiram College: $293,336',
 'Joseph Bruno, Marietta College (left in 2016): $288,295',
 'W. Richard Merriman Jr., University of Mount Union (started in June 2015): $221,761']

In [0]:
row_list = []

for i in data:
  name = i[:re.search(",",i).start()]
  school =i[re.search(",",i).start()+2:re.search(":",i).start()]
  salary = i[re.search(":",i).start()+2:]
  d={"Name":name,"School":school,"Salary":salary}
  row_list.append(d)

In [0]:
import pandas as pd

In [0]:
df2 = pd.DataFrame(row_list)

In [0]:
df2['Salary']=df2.Salary.str.replace("$","")
df2['Salary']=df2.Salary.str.replace(",","")
df2['Salary'] =df2['Salary'].astype(int)

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
Name      17 non-null object
Salary    17 non-null int64
School    17 non-null object
dtypes: int64(1), object(2)
memory usage: 488.0+ bytes

In [57]:
df2

,Name,Salary,School
0,Grant Cornwell,911651,College of Wooster (left in 2015)
1,Marvin Krislov,829913,Oberlin College (left in 2016)
2,Mark Roosevelt,507672,"Antioch College, (left in 2015)"
3,Laurie Joyner,463504,Wittenberg University (left in 2015)
4,Richard Giese,453800,University of Mount Union (left in 2015)
5,Sean Decatur,451698,enyon College
6,Adam Weinberg,435322,Denison University
7,Daniel Dibiasio,414716,Ohio Northern University
8,Denvy Bowman,388570,Capital University (left in 2016)
9,Anne Steele,384233,Muskingum University (left in 2016)
10,Kathy Krendl,378035,Otterbein University
11,Rockwell Jones,366625,Ohio Wesleyan University
12,Robert Helmer,365616,Baldwin Wallace University
13,Robert Huntington,300005,Heidelberg University
14,Lori Varlotta,293336,Hiram College
15,Joseph Bruno,288295,Marietta College (left in 2016)
16,W. Richard Merriman Jr.,221761,University of Mount Union (started in June 2015)

# 4. Stretch Goals

* Write a web scraper that can scrape "Data Scientist" job listings from indeed.com.
* Look ahead to some of the topics from later this week:
 - Tokenization
 - Stemming
 - Lemmatization
 - Chunking
 - Part of Speech Tagging
 - Named Entity Recognition
 - Document Classification