# Part 1 - Working with Text Data

### Use Python string methods remove irregular whitespace from the following string:

In [3]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [4]:
def remove_wspace(s):
    if '\n' in s or '   ' in s or '. ' in s:
        s = ''.join(s.split('\n'))
        s = ' '.join(s.split('  '))
        s = '.'.join(s.split('.  '))
        remove_wspace(s)
    return s

In [5]:
remove_wspace(whitespace_string)

' This is a  string  that has  a lot of extra  whitespace.'

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://github.com/ryanleeallred/datasets/blob/master/dates.txt)

- Day
- Month
- Year

In [6]:
import pandas as pd
import re

url = 'https://github.com/ryanleeallred/datasets/blob/master/dates.txt'
dates_df = pd.read_csv(url, sep='delimiter', names=['date'])

C:\Users\jhump\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [7]:
pd.set_option('display.max_colwidth', 500)

In [8]:
dates_df.head()

                                                               date
0                                                   <!DOCTYPE html>
1                                                  <html lang="en">
2                                                            <head>
3                                            <meta charset="utf-8">
4  <link rel="dns-prefetch" href="https://github.githubassets.com">

In [9]:
from bs4 import BeautifulSoup


def clean_html_with_bs4(string):
    soup = BeautifulSoup(string)
    string = soup.get_text()
    return string


dates_df.date = dates_df.date.apply(clean_html_with_bs4)

In [10]:
import numpy as np

dates_df = dates_df.replace('', np.nan)
dates_df = dates_df.dropna()
# dates_df.tail(50)  # dates are in certain lines from 481 to 576, inclusive

In [25]:
# Do regex search and return from a function
import re


def find_and_format_dates(df, col):
    output_list = []
    df_string = str(df[col].values)
    regex = r"[A-Z][a-z]+\s\d{1,2}"
    search_result = re.findall(regex, df_string)
    for string in search_result:
        string = string.split(' ')
        output_list.append(tuple([string[0], string[1], '2015']))
    # print(len(output_list), '\n', output_list)
    return output_list

In [21]:
find_and_format_dates(dates_df, 'date')

21
 [('Mar', '29', '2015'), ('March', '8', '2015'), ('March', '15', '2015'), ('March', '22', '2015'), ('March', '29', '2015'), ('April', '5', '2015'), ('April', '12', '2015'), ('April', '19', '2015'), ('April', '26', '2015'), ('May', '3', '2015'), ('May', '10', '2015'), ('May', '17', '2015'), ('May', '24', '2015'), ('May', '31', '2015'), ('June', '7', '2015'), ('June', '14', '2015'), ('June', '21', '2015'), ('June', '28', '2015'), ('July', '5', '2015'), ('July', '12', '2015'), ('July', '19', '2015')]

In [26]:
data = find_and_format_dates(dates_df, 'date')
output_dates_df = pd.DataFrame(data, columns=['Day', 'Month', 'Year'])

In [28]:
output_dates_df.head(25)

      Day Month  Year
0     Mar    29  2015
1   March     8  2015
2   March    15  2015
3   March    22  2015
4   March    29  2015
5   April     5  2015
6   April    12  2015
7   April    19  2015
8   April    26  2015
9     May     3  2015
10    May    10  2015
11    May    17  2015
12    May    24  2015
13    May    31  2015
14   June     7  2015
15   June    14  2015
16   June    21  2015
17   June    28  2015
18   July     5  2015
19   July    12  2015
20   July    19  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [ ]:
##### Your Code Here #####

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.

In [ ]:
##### Your Code Here #####

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [ ]:
##### Your Code Here #####