<a href="https://colab.research.google.com/github/Ruwai/DS-Unit-4-Sprint-2-NLP/blob/master/DS42SC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Sprint Challenge*

# Natural Language Processing

**Part 1 - Working with Text Data**
Use Python string methods remove irregular whitespace from the following string:

In [2]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [3]:
##### Your Code Here #####

new_string = " ".join(whitespace_string.split())
print(new_string)

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt)

- Day
- Month
- Year

In [4]:
##### Your Code Here #####
import re

dates = """
March 8, 2015
March 15, 2015
March 22, 2015
March 29, 2015
April 5, 2015
April 12, 2015
April 19, 2015
April 26, 2015
May 3, 2015
May 10, 2015
May 17, 2015
May 24, 2015
May 31, 2015
June 7, 2015
June 14, 2015
June 21, 2015
June 28, 2015
July 5, 2015
July 12, 2015
July 19, 2015
"""

regex = r"([a-zA-Z]+) (\d+)(..)(\d+)"
search_result = re.findall(regex, dates)
print(search_result)

[('March', '8', ', ', '2015'), ('March', '15', ', ', '2015'), ('March', '22', ', ', '2015'), ('March', '29', ', ', '2015'), ('April', '5', ', ', '2015'), ('April', '12', ', ', '2015'), ('April', '19', ', ', '2015'), ('April', '26', ', ', '2015'), ('May', '3', ', ', '2015'), ('May', '10', ', ', '2015'), ('May', '17', ', ', '2015'), ('May', '24', ', ', '2015'), ('May', '31', ', ', '2015'), ('June', '7', ', ', '2015'), ('June', '14', ', ', '2015'), ('June', '21', ', ', '2015'), ('June', '28', ', ', '2015'), ('July', '5', ', ', '2015'), ('July', '12', ', ', '2015'), ('July', '19', ', ', '2015')]

In [5]:
import pandas as pd

df = pd.DataFrame(search_result, columns=['Month', 'Day', 'Commas', 'Year'])
df.head()

   Month Day Commas  Year
0  March   8     ,   2015
1  March  15     ,   2015
2  March  22     ,   2015
3  March  29     ,   2015
4  April   5     ,   2015

In [6]:
df.drop(columns=['Commas'],inplace=True)
df.head()

   Month Day  Year
0  March   8  2015
1  March  15  2015
2  March  22  2015
3  March  29  2015
4  April   5  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [7]:
##### Your Code Here #####
url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv'

df = pd.read_csv(url)
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [8]:
# wow that is messy

df['SentimentText'][3]

"          .. Omgaga. Im sooo  im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)..."

In [9]:
import string

def apply_changes(ugly_string):
    
    new_string = ugly_string.lower()
    new_string = " ".join(new_string.split())
    for p in string.punctuation:
        new_string = new_string.replace(p, '')

    return new_string

df['SentimentText'] = df['SentimentText'].apply(apply_changes)
df['SentimentText'][3]

' omgaga im sooo im gunna cry ive been at this dentist since 11 i was suposed 2 just get a crown put on 30mins'

In [10]:
df.head()

   Sentiment                                      SentimentText
0          0                        is so sad for my apl friend
1          0                      i missed the new moon trailer
2          1                              omg its already 730 o
3          0   omgaga im sooo im gunna cry ive been at this ...
4          0                 i think mi bf is cheating on me tt

In [11]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.12.0)

In [12]:
#it's ready
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
df['SentimentTextTokens'] = df.apply(lambda x: nltk.word_tokenize(x['SentimentText']), axis=1)

In [15]:
df.head()

,Sentiment,SentimentText,SentimentTextTokens
0,0,is so sad for my apl friend,"[is, so, sad, for, my, apl, friend]"
1,0,i missed the new moon trailer,"[i, missed, the, new, moon, trailer]"
2,1,omg its already 730 o,"[omg, its, already, 730, o]"
3,0,omgaga im sooo im gunna cry ive been at this ...,"[omgaga, im, sooo, im, gunna, cry, ive, been, ..."
4,0,i think mi bf is cheating on me tt,"[i, think, mi, bf, is, cheating, on, me, tt]"

In [16]:
df['SentimentTextStrTokens'] = df['SentimentTextTokens'].astype('str')
df.head()

,Sentiment,SentimentText,SentimentTextTokens,SentimentTextStrTokens
0,0,is so sad for my apl friend,"[is, so, sad, for, my, apl, friend]","['is', 'so', 'sad', 'for', 'my', 'apl', 'friend']"
1,0,i missed the new moon trailer,"[i, missed, the, new, moon, trailer]","['i', 'missed', 'the', 'new', 'moon', 'trailer']"
2,1,omg its already 730 o,"[omg, its, already, 730, o]","['omg', 'its', 'already', '730', 'o']"
3,0,omgaga im sooo im gunna cry ive been at this ...,"[omgaga, im, sooo, im, gunna, cry, ive, been, ...","['omgaga', 'im', 'sooo', 'im', 'gunna', 'cry',..."
4,0,i think mi bf is cheating on me tt,"[i, think, mi, bf, is, cheating, on, me, tt]","['i', 'think', 'mi', 'bf', 'is', 'cheating', '..."

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####

Term Frequency - Inverse Document Frequency scores should be interpreted in descending order where the top scores are the most important words in a specific document, with or without context.

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.
 - Stretch goal: Track your results in a DataFrmae and produce a visualization of the results

In [17]:
##### Your Code Here #####
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

X = df['SentimentTextStrTokens']
y = df['Sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=420)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(79991,)
(19998,)
(79991,)
(19998,)

In [18]:
vectorizer=CountVectorizer(max_features=None,ngram_range=(1,1),stop_words='english')

vectorizer.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [19]:
train_words_count = vectorizer.transform(X_train)
test_words_count = vectorizer.transform(X_test)

print(train_words_count.shape)
print(test_words_count.shape)

(79991, 102266)
(19998, 102266)

In [0]:
# X_train_v = pd.DataFrame(train_words_count.toarray(), columns=vectorizer.get_feature_names())

# print(X_train_v.shape)
# X_train_v.head()

# can't do this method Colab ran out of RAM...

In [0]:
# X_test_v = pd.DataFrame(test_words_count.toarray(),columns)

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

LR = LogisticRegression(random_state=42).fit(train_words_count,y_train)
MNB = MultinomialNB().fit(train_words_count,y_train)
RF = RandomForestClassifier().fit(train_words_count,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [26]:
from sklearn.metrics import accuracy_score

#LR 
train_preds = LR.predict(train_words_count)
test_preds = LR.predict(test_words_count)

print(f'Train Accuracy for LR: {accuracy_score(y_train,train_preds)}')
print(f'Test Accuracy for LR: {accuracy_score(y_test,test_preds)}')

Train Accuracy for LR: 0.9056643872435649
Test Accuracy for LR: 0.7477747774777478

In [27]:
train_preds = MNB.predict(train_words_count)
test_preds = MNB.predict(test_words_count)

print(f'Train Accuracy for MNB: {accuracy_score(y_train,train_preds)}')
print(f'Test Accuracy for MNB: {accuracy_score(y_test,test_preds)}')

Train Accuracy for MNB: 0.8960383043092348
Test Accuracy for MNB: 0.7438243824382438

In [28]:
train_preds = RF.predict(train_words_count)
test_preds = RF.predict(test_words_count)

print(f'Train Accuracy for RF: {accuracy_score(y_train,train_preds)}')
print(f'Test Accuracy for RF: {accuracy_score(y_test,test_preds)}')

Train Accuracy for RF: 0.9822480029003263
Test Accuracy for RF: 0.698019801980198

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [29]:
##### Your Code Here #####
!pip install gensim
import gensim

Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.16.3)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.8.3)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.12.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.2.1)
Requirement already satisfied: boto>=2.32 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.49.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (1.9.138)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.21.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.9.4)
Requirement already satisfied: botocore<1.13.0,>=1.12.138 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (1.12.138)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.138->boto3->smart-open>=1.2.1->gensim) (2.5.3)
Requirement already satisfied: docutils>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.138->boto3->smart-open>=1.2.1->gensim) (0.14)

In [39]:
from gensim.models.word2vec import Word2Vec

model = Word2Vec(df['SentimentTextTokens'], min_count=3, size=420)
print(model)

Word2Vec(vocab=22146, size=420, alpha=0.025)

In [40]:
model.wv.most_similar('twitter')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('facebook', 0.7981023788452148),
 ('myspace', 0.7290792465209961),
 ('everyone', 0.703342616558075),
 ('youtube', 0.6812082529067993),
 ('fb', 0.6777151823043823),
 ('tweets', 0.6717411279678345),
 ('updates', 0.6678978204727173),
 ('someone', 0.6608356237411499),
 ('blog', 0.6430208683013916),
 ('list', 0.6429527401924133)]

In [0]:
#is that it?