<a href="https://colab.research.google.com/github/axrd/DS-Unit-4-Sprint-2-NLP/blob/master/DS42SC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1 - Working with Text Data

### Use Python string methods remove irregular whitespace from the following string:

In [1]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [2]:
 ##### Your Code Here #####
 print(" ".join(whitespace_string.split()))

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://github.com/ryanleeallred/datasets/blob/master/dates.txt)

- Day
- Month
- Year

In [0]:
##### Your Code Here #####
import re

In [5]:
# Uploading the .txt file and casting it as a string object 'dates':
from google.colab import files
uploaded = files.upload()

Saving dates.txt to dates.txt

In [8]:
with open('dates.txt', 'r', encoding='utf-8') as f:
  dates = f.read()
  
dates

'March 8, 2015\nMarch 15, 2015\nMarch 22, 2015\nMarch 29, 2015\nApril 5, 2015\nApril 12, 2015\nApril 19, 2015\nApril 26, 2015\nMay 3, 2015\nMay 10, 2015\nMay 17, 2015\nMay 24, 2015\nMay 31, 2015\nJune 7, 2015\nJune 14, 2015\nJune 21, 2015\nJune 28, 2015\nJuly 5, 2015\nJuly 12, 2015\nJuly 19, 2015'

In [60]:
regex = r"([a-zA-Z]+) ([\d]{1,2}), ([\d]{4})"

search_result = re.findall(regex, dates)
print(search_result)

for match in search_result:
  print(match)

[('March', '8', '2015'), ('March', '15', '2015'), ('March', '22', '2015'), ('March', '29', '2015'), ('April', '5', '2015'), ('April', '12', '2015'), ('April', '19', '2015'), ('April', '26', '2015'), ('May', '3', '2015'), ('May', '10', '2015'), ('May', '17', '2015'), ('May', '24', '2015'), ('May', '31', '2015'), ('June', '7', '2015'), ('June', '14', '2015'), ('June', '21', '2015'), ('June', '28', '2015'), ('July', '5', '2015'), ('July', '12', '2015'), ('July', '19', '2015')]
('March', '8', '2015')
('March', '15', '2015')
('March', '22', '2015')
('March', '29', '2015')
('April', '5', '2015')
('April', '12', '2015')
('April', '19', '2015')
('April', '26', '2015')
('May', '3', '2015')
('May', '10', '2015')
('May', '17', '2015')
('May', '24', '2015')
('May', '31', '2015')
('June', '7', '2015')
('June', '14', '2015')
('June', '21', '2015')
('June', '28', '2015')
('July', '5', '2015')
('July', '12', '2015')
('July', '19', '2015')

In [61]:
# Data frame conversion
import pandas as pd

df = pd.DataFrame(search_result, columns=['Month', 'Day', 'Year'])
df.head()

   Month Day  Year
0  March   8  2015
1  March  15  2015
2  March  22  2015
3  March  29  2015
4  April   5  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [79]:
##### Your Code Here #####
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize

# Loading data:
tweets = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv")

tweets.shape 
tweets.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [76]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [84]:
punct = str.maketrans('','',string.punctuation)
stop_w = set(stopwords.words('english'))

def nltk_ed(data):
  # Tokenize wprds
  tokens = word_tokenize(data)
  # Lowercase everything
  lowercase_tokens = [w.lower() for w in tokens]
  # Remove Punctuation
  no_punctuation = [x.translate(punct) for x in lowercase_tokens]
  # Remove Stopwords
  no_stopwords = [w for w in no_punctuation if not w in stop_w]
  # Remove empty strings
  words = [w for w in no_stopwords if len(w) > 0]
  return words
tweets['Tokenized'] = tweets['SentimentText'].apply(nltk_ed)
tweets.head(10)

,Sentiment,SentimentText,Tokenized
0,0,is so sad for my APL frie...,"[sad, apl, friend]"
1,0,I missed the New Moon trail...,"[missed, new, moon, trailer]"
2,1,omg its already 7:30 :O,"[omg, already, 730]"
3,0,.. Omgaga. Im sooo im gunna CRy. I'...,"[omgaga, im, sooo, im, gunna, cry, dentist, si..."
4,0,i think mi bf is cheating on me!!! ...,"[think, mi, bf, cheating, tt]"
5,0,or i just worry too much?,"[worry, much]"
6,1,Juuuuuuuuuuuuuuuuussssst Chillin!!,"[juuuuuuuuuuuuuuuuussssst, chillin]"
7,0,Sunny Again Work Tomorrow :-| ...,"[sunny, work, tomorrow, tv, tonight]"
8,1,handed in my uniform today . i miss you ...,"[handed, uniform, today, miss, already]"
9,1,hmmmm.... i wonder how she my number @-),"[hmmmm, wonder, number]"

### How should TF-IDF scores be interpreted? How are they calculated?



*TF-IDF stands for Term Frequency - Inverse Document Frequency.*

*The point of TF-IDF is to evaluate what is unique in a given document. If a term appears across all documents, it's 'score' is penalized. 
Mathematically this is accomplished by :*

<center><img src="https://mungingdata.files.wordpress.com/2017/11/equation.png?w=430&h=336" width="300"></center>


*Put another way, if you're trying to understand how relevant a specific term is to a specific document, it would help to understand how commonly that term appears throughout the document. By establishing this sort of 'baseline', one can make more holistic evaluations.* 

*By using the log of TF and/or IDF, once a term appears a large number of times, each additional appearance is deemed less important.*

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.

In [93]:
##### Your Code Here #####
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

X = tweets.SentimentText
y = tweets.Sentiment

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(69992,)
(29997,)
(69992,)
(29997,)

In [88]:
vect = CountVectorizer(max_features=500, ngram_range=(1,1), stop_words='english')
vect.fit(X_train)

print(len(vect.vocabulary_))

500

In [89]:
train_w_counts = vect.transform(X_train)

X_train_vectorized = pd.DataFrame(train_w_counts.toarray(), columns=vect.get_feature_names())

print(X_train_vectorized.shape)
X_train_vectorized.head()

(69992, 500)

,10,100,20,30,30secondstomars,able,actually,add,ago,agree,...,yay,yea,yeah,year,years,yep,yes,yesterday,youtube,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
test_w_counts = vect.transform(X_test)

X_test_vectorized = pd.DataFrame(test_w_counts.toarray(), columns=vect.get_feature_names())

print(X_test_vectorized.shape)
X_test_vectorized.head()

(29997, 500)

,10,100,20,30,30secondstomars,able,actually,add,ago,agree,...,yay,yea,yeah,year,years,yep,yes,yesterday,youtube,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
Logreg = LogisticRegression(solver='lbfgs', random_state=42).fit(X_train_vectorized, y_train)

train_preds = Logreg.predict(X_train_vectorized)
test_preds = Logreg.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_preds)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_preds)}')

Train Accuracy: 0.718482112241399
Test Accuracy: 0.7139380604727139

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [0]:
##### Your Code Here #####
import gensim
from gensim.models import Word2Vec

In [0]:
w2v = Word2Vec(tweets.Tokenized, min_count=25, window=3, size=250, negative=25)

In [97]:
words = list(w2v.wv.vocab)
print(f'Vocabulary Size: {len(words)}')

Vocabulary Size: 3092

In [98]:
w2v.wv.most_similar('twitter', topn=10)

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('myspace', 0.7652249932289124),
 ('facebook', 0.7632557153701782),
 ('email', 0.762852132320404),
 ('account', 0.7533079385757446),
 ('updates', 0.7336857318878174),
 ('fb', 0.7256651520729065),
 ('info', 0.7216475605964661),
 ('site', 0.7213759422302246),
 ('page', 0.7194035053253174),
 ('spam', 0.7157479524612427)]