# Part 1 - Working with Text Data

### Use Python string methods remove irregular whitespace from the following string:

In [2]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [4]:
 ##### Your Code Here #####
    
reg_space_string = " ".join(whitespace_string.split())

print(reg_space_string)

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://github.com/ryanleeallred/datasets/blob/master/dates.txt)

- Day
- Month
- Year

In [8]:
import re

string = """
March 8, 2015
March 15, 2015
March 22, 2015
March 29, 2015
April 5, 2015
April 12, 2015
April 19, 2015
April 26, 2015
May 3, 2015
May 10, 2015
May 17, 2015
May 24, 2015
May 31, 2015
June 7, 2015
June 14, 2015
June 21, 2015
June 28, 2015
July 5, 2015
July 12, 2015
July 19, 2015
"""

In [22]:
regex = r"([a-zA-Z]+) (\d+)(..)(\d+)" 
search_result = re.findall(regex, string)
print(search_result)

[('March', '8', ', ', '2015'), ('March', '15', ', ', '2015'), ('March', '22', ', ', '2015'), ('March', '29', ', ', '2015'), ('April', '5', ', ', '2015'), ('April', '12', ', ', '2015'), ('April', '19', ', ', '2015'), ('April', '26', ', ', '2015'), ('May', '3', ', ', '2015'), ('May', '10', ', ', '2015'), ('May', '17', ', ', '2015'), ('May', '24', ', ', '2015'), ('May', '31', ', ', '2015'), ('June', '7', ', ', '2015'), ('June', '14', ', ', '2015'), ('June', '21', ', ', '2015'), ('June', '28', ', ', '2015'), ('July', '5', ', ', '2015'), ('July', '12', ', ', '2015'), ('July', '19', ', ', '2015')]

In [24]:
import pandas as pd

In [28]:
df = pd.DataFrame(search_result, columns=['Month', 'Day', 'comma', 'Year'])
df = df.drop(columns = 'comma')
df.head()

   Month Day  Year
0  March   8  2015
1  March  15  2015
2  March  22  2015
3  March  29  2015
4  April   5  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [69]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv')

In [70]:
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [71]:
def remove_whitespace(x):
    try:
        # remove spaces inside and outside of string
        x = " ".join(x.split())

    except:
        pass
    return x

In [72]:
df.SentimentText = df.SentimentText.apply(remove_whitespace)

In [73]:
df.head()

   Sentiment                                      SentimentText
0          0           is so sad for my APL friend.............
1          0                   I missed the New Moon trailer...
2          1                            omg its already 7:30 :O
3          0  .. Omgaga. Im sooo im gunna CRy. I've been at ...
4          0             i think mi bf is cheating on me!!! T_T

In [74]:
df.SentimentText = df.SentimentText.str.lower()

In [75]:
df.head()

   Sentiment                                      SentimentText
0          0           is so sad for my apl friend.............
1          0                   i missed the new moon trailer...
2          1                            omg its already 7:30 :o
3          0  .. omgaga. im sooo im gunna cry. i've been at ...
4          0             i think mi bf is cheating on me!!! t_t

In [76]:
import string
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [77]:
df.SentimentText = df.SentimentText.apply(remove_punctuations)

In [78]:
df.head()

   Sentiment                                      SentimentText
0          0                        is so sad for my apl friend
1          0                      i missed the new moon trailer
2          1                              omg its already 730 o
3          0   omgaga im sooo im gunna cry ive been at this ...
4          0                 i think mi bf is cheating on me tt

In [79]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [80]:
df['SentimentText'] = df.apply(lambda row: nltk.word_tokenize(row['SentimentText']), axis=1)

In [81]:
df.head()

   Sentiment                                      SentimentText
0          0                [is, so, sad, for, my, apl, friend]
1          0               [i, missed, the, new, moon, trailer]
2          1                        [omg, its, already, 730, o]
3          0  [omgaga, im, sooo, im, gunna, cry, ive, been, ...
4          0       [i, think, mi, bf, is, cheating, on, me, tt]

In [82]:
df['SentimentText'] = df['SentimentText'].apply(lambda x: [item for item in x if item not in stop])

In [83]:
df.head(20)

    Sentiment                                      SentimentText
0           0                                 [sad, apl, friend]
1           0                       [missed, new, moon, trailer]
2           1                                [omg, already, 730]
3           0  [omgaga, im, sooo, im, gunna, cry, ive, dentis...
4           0                      [think, mi, bf, cheating, tt]
5           0                                      [worry, much]
6           1                [juuuuuuuuuuuuuuuuussssst, chillin]
7           0               [sunny, work, tomorrow, tv, tonight]
8           1            [handed, uniform, today, miss, already]
9           1                            [hmmmm, wonder, number]
10          0                            [must, think, positive]
11          1                [thanks, haters, face, day, 112102]
12          0                             [weekend, sucked, far]
13          0                     [jb, isnt, showing, australia]
14          0                                   [ok, thats, win]
15          0                             [lt, way, feel, right]
16          0  [awhhe, man, im, completely, useless, rt, funn...
17          1  [feeling, strangely, fine, im, gon, na, go, li...
18          0                [huge, roll, thunder, nowso, scary]
19          0  [cut, beard, growing, well, year, im, gon, na,...

In [84]:
nltk.download('wordnet')
from nltk.stem.wordnet import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /home/xailus/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [85]:
lemmatizer = WordNetLemmatizer()

In [86]:


df['SentimentText'] = df['SentimentText'].apply(lambda x: [lemmatizer.lemmatize(item) for item in x ])
df.head()

   Sentiment                                      SentimentText
0          0                                 [sad, apl, friend]
1          0                       [missed, new, moon, trailer]
2          1                                [omg, already, 730]
3          0  [omgaga, im, sooo, im, gunna, cry, ive, dentis...
4          0                      [think, mi, bf, cheating, tt]

In [87]:
df.head(20)

    Sentiment                                      SentimentText
0           0                                 [sad, apl, friend]
1           0                       [missed, new, moon, trailer]
2           1                                [omg, already, 730]
3           0  [omgaga, im, sooo, im, gunna, cry, ive, dentis...
4           0                      [think, mi, bf, cheating, tt]
5           0                                      [worry, much]
6           1                [juuuuuuuuuuuuuuuuussssst, chillin]
7           0               [sunny, work, tomorrow, tv, tonight]
8           1            [handed, uniform, today, miss, already]
9           1                            [hmmmm, wonder, number]
10          0                            [must, think, positive]
11          1                 [thanks, hater, face, day, 112102]
12          0                             [weekend, sucked, far]
13          0                     [jb, isnt, showing, australia]
14          0                                   [ok, thats, win]
15          0                             [lt, way, feel, right]
16          0  [awhhe, man, im, completely, useless, rt, funn...
17          1  [feeling, strangely, fine, im, gon, na, go, li...
18          0                [huge, roll, thunder, nowso, scary]
19          0  [cut, beard, growing, well, year, im, gon, na,...

### How should TF-IDF scores be interpreted? How are they calculated?

TF-IDF scores are calculated across a set of documents. TFIDF finds words that appear more frequently in a given document than in other documents in the set. TFIDF can be used as a vectorization method - it embeds the importance of specific words in a document.

In [97]:
df['SentimentText_notoken'] = df['SentimentText'].apply(lambda x: [' '.join(x)])

In [101]:
df.head(20)

,Sentiment,SentimentText,SentimentText_notoken
0,0,"[sad, apl, friend]",[sad apl friend]
1,0,"[missed, new, moon, trailer]",[missed new moon trailer]
2,1,"[omg, already, 730]",[omg already 730]
3,0,"[omgaga, im, sooo, im, gunna, cry, ive, dentis...",[omgaga im sooo im gunna cry ive dentist since...
4,0,"[think, mi, bf, cheating, tt]",[think mi bf cheating tt]
5,0,"[worry, much]",[worry much]
6,1,"[juuuuuuuuuuuuuuuuussssst, chillin]",[juuuuuuuuuuuuuuuuussssst chillin]
7,0,"[sunny, work, tomorrow, tv, tonight]",[sunny work tomorrow tv tonight]
8,1,"[handed, uniform, today, miss, already]",[handed uniform today miss already]
9,1,"[hmmmm, wonder, number]",[hmmmm wonder number]
10,0,"[must, think, positive]",[must think positive]
11,1,"[thanks, hater, face, day, 112102]",[thanks hater face day 112102]
12,0,"[weekend, sucked, far]",[weekend sucked far]
13,0,"[jb, isnt, showing, australia]",[jb isnt showing australia]
14,0,"[ok, thats, win]",[ok thats win]
15,0,"[lt, way, feel, right]",[lt way feel right]
16,0,"[awhhe, man, im, completely, useless, rt, funn...",[awhhe man im completely useless rt funny twit...
17,1,"[feeling, strangely, fine, im, gon, na, go, li...",[feeling strangely fine im gon na go listen se...
18,0,"[huge, roll, thunder, nowso, scary]",[huge roll thunder nowso scary]
19,0,"[cut, beard, growing, well, year, im, gon, na,...",[cut beard growing well year im gon na start s...

In [100]:
df.dtypes

Sentiment                 int64
SentimentText            object
SentimentText_notoken    object
dtype: object

In [102]:
df['SentimentText_notoken'] = df['SentimentText_notoken'].apply(str)

In [103]:
df.head(20)

,Sentiment,SentimentText,SentimentText_notoken
0,0,"[sad, apl, friend]",['sad apl friend']
1,0,"[missed, new, moon, trailer]",['missed new moon trailer']
2,1,"[omg, already, 730]",['omg already 730']
3,0,"[omgaga, im, sooo, im, gunna, cry, ive, dentis...",['omgaga im sooo im gunna cry ive dentist sinc...
4,0,"[think, mi, bf, cheating, tt]",['think mi bf cheating tt']
5,0,"[worry, much]",['worry much']
6,1,"[juuuuuuuuuuuuuuuuussssst, chillin]",['juuuuuuuuuuuuuuuuussssst chillin']
7,0,"[sunny, work, tomorrow, tv, tonight]",['sunny work tomorrow tv tonight']
8,1,"[handed, uniform, today, miss, already]",['handed uniform today miss already']
9,1,"[hmmmm, wonder, number]",['hmmmm wonder number']
10,0,"[must, think, positive]",['must think positive']
11,1,"[thanks, hater, face, day, 112102]",['thanks hater face day 112102']
12,0,"[weekend, sucked, far]",['weekend sucked far']
13,0,"[jb, isnt, showing, australia]",['jb isnt showing australia']
14,0,"[ok, thats, win]",['ok thats win']
15,0,"[lt, way, feel, right]",['lt way feel right']
16,0,"[awhhe, man, im, completely, useless, rt, funn...",['awhhe man im completely useless rt funny twi...
17,1,"[feeling, strangely, fine, im, gon, na, go, li...",['feeling strangely fine im gon na go listen s...
18,0,"[huge, roll, thunder, nowso, scary]",['huge roll thunder nowso scary']
19,0,"[cut, beard, growing, well, year, im, gon, na,...",['cut beard growing well year im gon na start ...

In [104]:
df.dtypes

Sentiment                 int64
SentimentText            object
SentimentText_notoken    object
dtype: object

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.

In [105]:
from sklearn.model_selection import train_test_split

X = df.SentimentText_notoken
y = df.Sentiment

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [106]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(79991,)
(19998,)
(79991,)
(19998,)

In [108]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=None, ngram_range=(1,1), stop_words='english')

vectorizer.fit(X_train)

#print(vectorizer.vocabulary_)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [111]:
train_word_counts = vectorizer.transform(X_train)

In [114]:
train_word_counts.shape

(79991, 98395)

In [115]:
test_word_counts = vectorizer.transform(X_test)

In [116]:
test_word_counts.shape

(19998, 98395)

In [119]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(random_state=42).fit(train_word_counts, y_train)

train_predictions = LR.predict(train_word_counts)
test_predictions = LR.predict(test_word_counts)

In [120]:
from sklearn.metrics import accuracy_score

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.9014639146904027
Test Accuracy: 0.7495749574957495

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [121]:
!pip install -U gensim
import gensim

Collecting gensim
  Downloading https://files.pythonhosted.org/packages/1a/22/18d108180fb6d9408a7c7d3c47e1a7c7a4e0d348420be27faa9a22f57117/gensim-3.7.1-cp37-cp37m-manylinux1_x86_64.whl (24.2MB)
    100% |████████████████████████████████| 24.2MB 1.9MB/s
Collecting smart-open>=1.7.0 (from gensim)
  Downloading https://files.pythonhosted.org/packages/ff/c8/de7dcf34d4b5f2ae94fe1055e0d6418fb97a63c9dc3428edd264704983a2/smart_open-1.8.0.tar.gz (40kB)
    100% |████████████████████████████████| 40kB 6.8MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in /home/xailus/anaconda3/lib/python3.7/site-packages (from gensim) (1.15.4)
Requirement already satisfied, skipping upgrade: six>=1.5.0 in /home/xailus/anaconda3/lib/python3.7/site-packages (from gensim) (1.12.0)
Requirement already satisfied, skipping upgrade: scipy>=0.18.1 in /home/xailus/anaconda3/lib/python3.7/site-packages (from gensim) (1.1.0)
Requirement already satisfied, skipping upgrade: boto>=2.32 in /home/xailus/anaconda3/lib/python3.7/site-packages (from smart-open>=1.7.0->gensim) (2.49.0)
Collecting bz2file (from smart-open>=1.7.0->gensim)
  Downloading https://files.pythonhosted.org/packages/61/39/122222b5e85cd41c391b68a99ee296584b2a2d1d233e7ee32b4532384f2d/bz2file-0.98.tar.gz
Requirement already satisfied, skipping upgrade: requests in /home/xailus/anaconda3/lib/python3.7/site-packages (from smart-open>=1.7.0->gensim) (2.21.0)
Collecting boto3 (from smart-open>=1.7.0->gensim)
  Downloading https://files.pythonhosted.org/packages/3c/19/97d22014b97783aa9986c5c9fc9361f2539bd50a5532a7c3f13e7f13dc34/boto3-1.9.124-py2.py3-none-any.whl (128kB)
    100% |████████████████████████████████| 133kB 33.9MB/s
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/xailus/anaconda3/lib/python3.7/site-packages (from requests->smart-open>=1.7.0->gensim) (2018.11.29)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /home/xailus/anaconda3/lib/python3.7/site-packages (from requests->smart-open>=1.7.0->gensim) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /home/xailus/anaconda3/lib/python3.7/site-packages (from requests->smart-open>=1.7.0->gensim) (1.24.1)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /home/xailus/anaconda3/lib/python3.7/site-packages (from requests->smart-open>=1.7.0->gensim) (3.0.4)
Collecting jmespath<1.0.0,>=0.7.1 (from boto3->smart-open>=1.7.0->gensim)
  Downloading https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Collecting botocore<1.13.0,>=1.12.124 (from boto3->smart-open>=1.7.0->gensim)
  Downloading https://files.pythonhosted.org/packages/57/bd/2e5b84f477389442a349511404d269aed9f98d26a4f5fa240229280a3d01/botocore-1.12.124-py2.py3-none-any.whl (5.3MB)
    100% |████████████████████████████████| 5.4MB 11.0MB/s
Collecting s3transfer<0.3.0,>=0.2.0 (from boto3->smart-open>=1.7.0->gensim)
  Downloading https://files.pythonhosted.org/packages/d7/de/5737f602e22073ecbded7a0c590707085e154e32b68d86545dcc31004c02/s3transfer-0.2.0-py2.py3-none-any.whl (69kB)
    100% |████████████████████████████████| 71kB 5.5MB/s
Requirement already satisfied, skipping upgrade: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /home/xailus/anaconda3/lib/python3.7/site-packages (from botocore<1.13.0,>=1.12.124->boto3->smart-open>=1.7.0->gensim) (2.7.5)
Requirement already satisfied, skipping upgrade: docutils>=0.10 in /home/xailus/anaconda3/lib/python3.7/site-packages (from botocore<1.13.0,>=1.12.124->boto3->smart-open>=1.7.0->gensim) (0.14)
Building wheels for collected packages: smart-open, bz2file
  Running setup.py bdist_wheel for smart-open ... done
  Stored in directory: /home/xailus/.cache/pip/wheels/f7/a6/ff/9ab5842c14e50e95a06a4675b0b4a689c9cab6064dac2b01d0
  Running setup.py bdist_wheel for bz2file ... done
  Stored in directory: /home/xailus/.cache/pip/wheels/81/75/d6/e1317bf09bf1af5a30befc2a007869fa6e1f516b8f7c591cb9
Successfully built smart-open bz2file
Installing collected packages: bz2file, jmespath, botocore, s3transfer, boto3, smart-open, gensim
Successfully installed boto3-1.9.124 botocore-1.12.124 bz2file-0.98 gensim-3.7.1 jmespath-0.9.4 s3transfer-0.2.0 smart-open-1.8.0

In [123]:
from gensim.models.word2vec import Word2Vec

In [134]:
model = Word2Vec(df['SentimentText'], min_count=5, size=200)

In [135]:
print(model)
#print(list(model.wv.vocab))
#print(len(model.wv.vocab))

Word2Vec(vocab=12165, size=200, alpha=0.025)

In [136]:
model.wv.most_similar('twitter')

[('dm', 0.8501983880996704),
 ('facebook', 0.8293087482452393),
 ('following', 0.8256533741950989),
 ('link', 0.8233585357666016),
 ('blog', 0.8219295144081116),
 ('email', 0.8137913942337036),
 ('list', 0.8130325078964233),
 ('update', 0.8097699880599976),
 ('follow', 0.8063111901283264),
 ('message', 0.805451512336731)]