<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Sprint Challenge*

# Natural Language Processing

**Part 1 - Working with Text Data**
Use Python string methods remove irregular whitespace from the following string:

In [1]:
import pandas as pd
import numpy as np
import re
import requests
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import roc_auc_score
import string

In [2]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [3]:
print(re.sub('[\s]+', ' ', whitespace_string.strip()))

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt)

- Day
- Month
- Year

In [23]:
request = requests.get('https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt')
date = request.text.replace('\r', '')

In [24]:
date

'March 8, 2015\nMarch 15, 2015\nMarch 22, 2015\nMarch 29, 2015\nApril 5, 2015\nApril 12, 2015\nApril 19, 2015\nApril 26, 2015\nMay 3, 2015\nMay 10, 2015\nMay 17, 2015\nMay 24, 2015\nMay 31, 2015\nJune 7, 2015\nJune 14, 2015\nJune 21, 2015\nJune 28, 2015\nJuly 5, 2015\nJuly 12, 2015\nJuly 19, 2015'

In [27]:
date = date.split('\n')

In [28]:
day = [re.findall(r'[\d]{1,2},', i)[0] for i in date]

In [22]:
day

['8,',
 '15',
 '22',
 '29',
 '5,',
 '12',
 '19',
 '26',
 '3,',
 '10',
 '17',
 '24',
 '31',
 '7,',
 '14',
 '21',
 '28',
 '5,',
 '12',
 '19']

In [30]:
month = [re.findall(r'[A-Z][a-z]+', i)[0] for i in date]

In [31]:
month

['March',
 'March',
 'March',
 'March',
 'April',
 'April',
 'April',
 'April',
 'May',
 'May',
 'May',
 'May',
 'May',
 'June',
 'June',
 'June',
 'June',
 'July',
 'July',
 'July']

In [32]:
year = [re.findall(r'[\d]{4}', i)[0] for i in date]

In [33]:
year

['2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015',
 '2015']

In [34]:
df = pd.DataFrame({'Day' : day, 'Month': month, 'Year': year})

In [35]:
df

    Day  Month  Year
0    8,  March  2015
1   15,  March  2015
2   22,  March  2015
3   29,  March  2015
4    5,  April  2015
5   12,  April  2015
6   19,  April  2015
7   26,  April  2015
8    3,    May  2015
9   10,    May  2015
10  17,    May  2015
11  24,    May  2015
12  31,    May  2015
13   7,   June  2015
14  14,   June  2015
15  21,   June  2015
16  28,   June  2015
17   5,   July  2015
18  12,   July  2015
19  19,   July  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [36]:
data = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv')

In [70]:
data.head(20)

,Sentiment,SentimentText,Tokenized
0,0,is so sad for my APL frie...,"[is, so, sad, for, my, APL, friend, ..., ..., ..."
1,0,I missed the New Moon trail...,"[I, missed, the, New, Moon, trailer, ...]"
2,1,omg its already 7:30 :O,"[omg, its, already, 7:30, :, O]"
3,0,.. Omgaga. Im sooo im gunna CRy. I'...,"[.., Omgaga, ., Im, sooo, im, gunna, CRy, ., I..."
4,0,i think mi bf is cheating on me!!! ...,"[i, think, mi, bf, is, cheating, on, me, !, !,..."
5,0,or i just worry too much?,"[or, i, just, worry, too, much, ?]"
6,1,Juuuuuuuuuuuuuuuuussssst Chillin!!,"[Juuuuuuuuuuuuuuuuussssst, Chillin, !, !]"
7,0,Sunny Again Work Tomorrow :-| ...,"[Sunny, Again, Work, Tomorrow, :, -|, TV, Toni..."
8,1,handed in my uniform today . i miss you ...,"[handed, in, my, uniform, today, ., i, miss, y..."
9,1,hmmmm.... i wonder how she my number @-),"[hmmmm, ..., ., i, wonder, how, she, my, numbe..."
10,0,I must think about positive..,"[I, must, think, about, positive..]"
11,1,thanks to all the haters up in my face a...,"[thanks, to, all, the, haters, up, in, my, fac..."
12,0,this weekend has sucked so far,"[this, weekend, has, sucked, so, far]"
13,0,jb isnt showing in australia any more!,"[jb, isnt, showing, in, australia, any, more, !]"
14,0,ok thats it you win.,"[ok, thats, it, you, win, .]"
15,0,&lt;-------- This is the way i feel right ...,"[&, lt, ;, --, --, --, --, This, is, the, way,..."
16,0,awhhe man.... I'm completely useless rt no...,"[awhhe, man, ..., ., I, 'm, completely, useles..."
17,1,Feeling strangely fine. Now I'm gonna go l...,"[Feeling, strangely, fine, ., Now, I, 'm, gon,..."
18,0,HUGE roll of thunder just now...SO scary!!!!,"[HUGE, roll, of, thunder, just, now, ..., SO, ..."
19,0,I just cut my beard off. It's only been gr...,"[I, just, cut, my, beard, off, ., It, 's, only..."

In [38]:
data.shape

(99989, 2)

In [42]:
data.loc[0][1]

'                     is so sad for my APL friend.............'

In [43]:
for i in range(len(data)):
    ''.join(re.sub("(@[A-Za-z0-9]+)","", data.loc[i][1].lower()))

In [50]:
data['Tokenized'] = data['SentimentText'].apply(word_tokenize)

In [67]:
data.head(10)

,Sentiment,SentimentText,Tokenized
0,0,is so sad for my APL frie...,"[is, so, sad, for, my, APL, friend, ..., ..., ..."
1,0,I missed the New Moon trail...,"[I, missed, the, New, Moon, trailer, ...]"
2,1,omg its already 7:30 :O,"[omg, its, already, 7:30, :, O]"
3,0,.. Omgaga. Im sooo im gunna CRy. I'...,"[.., Omgaga, ., Im, sooo, im, gunna, CRy, ., I..."
4,0,i think mi bf is cheating on me!!! ...,"[i, think, mi, bf, is, cheating, on, me, !, !,..."
5,0,or i just worry too much?,"[or, i, just, worry, too, much, ?]"
6,1,Juuuuuuuuuuuuuuuuussssst Chillin!!,"[Juuuuuuuuuuuuuuuuussssst, Chillin, !, !]"
7,0,Sunny Again Work Tomorrow :-| ...,"[Sunny, Again, Work, Tomorrow, :, -|, TV, Toni..."
8,1,handed in my uniform today . i miss you ...,"[handed, in, my, uniform, today, ., i, miss, y..."
9,1,hmmmm.... i wonder how she my number @-),"[hmmmm, ..., ., i, wonder, how, she, my, numbe..."

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####


TF-IDF scores determine how important a word is to a document, in a collection of documents.

TF-IDF calculates the importance of the word dpending on the frequency the word appears in a document. If the word appears in multiple documents (also known as a corpus) the word is less important.

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.
 - Stretch goal: Track your results in a DataFrmae and produce a visualization of the results

In [52]:
X_train = data['SentimentText']
y_train = data['Sentiment']

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, stratify=y_train)

In [55]:
stopwords = stopwords.words('english')

In [56]:
tfid = TfidfVectorizer(max_features=None,
                           ngram_range=(1,1),
                           stop_words=stopwords)

In [57]:
pipeline = make_pipeline(tfid,
                         GradientBoostingClassifier())

In [58]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('tfidfvectorizer', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 3), norm='l2', preprocessor=None, smooth...    subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False))])

In [62]:
train_pred = pipeline.predict(X_train)

In [63]:
test_pred = pipeline.predict(X_test)

In [64]:
print('ROC AUC train score: ', roc_auc_score(train_pred, y_train))
print('ROC AUC test score: ', roc_auc_score(test_pred, y_test))

ROC AUC train score:  0.7323111899794309
ROC AUC test score:  0.717155859771513

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [65]:
from gensim.models.word2vec import Word2Vec

C:\Users\Donaldo\Anaconda3\lib\site-packages\smart_open\ssh.py:34: UserWarning: paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress
  warnings.warn('paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress')

In [68]:
model = Word2Vec(data['Tokenized'])

In [69]:
model.most_similar('twitter')

C:\Users\Donaldo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  """Entry point for launching an IPython kernel.

[('facebook', 0.7177311778068542),
 ('everyone', 0.6967092156410217),
 ('myspace', 0.6674982905387878),
 ('Twitter', 0.6450036764144897),
 ('someone', 0.6031166315078735),
 ('everything', 0.5901314616203308),
 ('msn', 0.5884891748428345),
 ('message', 0.5767815113067627),
 ('who', 0.5759022235870361),
 ('phone', 0.5758541822433472)]