<a href="https://colab.research.google.com/github/ShreyasJothish/DS-Unit-4-Sprint-2-NLP/blob/master/DS42SC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1 - Working with Text Data

### Use Python string methods remove irregular whitespace from the following string:

In [1]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [2]:
##### Your Code Here #####
# Use split and join to remove blank spaces.
cleaned_string = (" ").join(whitespace_string.split())
print(cleaned_string)

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://github.com/ryanleeallred/datasets/blob/master/dates.txt)

- Day
- Month
- Year

In [0]:
# Generic imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
##### Your Code Here #####
from google.colab import files
uploaded = files.upload()

Saving dates.txt to dates (6).txt

In [5]:
# Read the contents from file dates.txt
with open('dates.txt', 'r', encoding='utf-8') as f:
  contents = f.read()
  
contents

'March 8, 2015\nMarch 15, 2015\nMarch 22, 2015\nMarch 29, 2015\nApril 5, 2015\nApril 12, 2015\nApril 19, 2015\nApril 26, 2015\nMay 3, 2015\nMay 10, 2015\nMay 17, 2015\nMay 24, 2015\nMay 31, 2015\nJune 7, 2015\nJune 14, 2015\nJune 21, 2015\nJune 28, 2015\nJuly 5, 2015\nJuly 12, 2015\nJuly 19, 2015'

In [0]:
import re

# Use regular expression and word grouping
regex_name = r"([a-zA-Z]+) (\d{1,2}), (\d{4})" 
name = re.findall(regex_name, contents)

In [7]:
df = pd.DataFrame(name, columns=['Month', 'Day','Year'])
print(f'Shape of the DataFrame {df.shape}')
print(f'Check for nan values {df.isnull().sum()}')
df.head(20)

Shape of the DataFrame (20, 3)
Check for nan values Month    0
Day      0
Year     0
dtype: int64

    Month Day  Year
0   March   8  2015
1   March  15  2015
2   March  22  2015
3   March  29  2015
4   April   5  2015
5   April  12  2015
6   April  19  2015
7   April  26  2015
8     May   3  2015
9     May  10  2015
10    May  17  2015
11    May  24  2015
12    May  31  2015
13   June   7  2015
14   June  14  2015
15   June  21  2015
16   June  28  2015
17   July   5  2015
18   July  12  2015
19   July  19  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [8]:
##### Your Code Here #####
url = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv"
tweetdf = pd.read_csv(url)

print(f'Shape:\n{tweetdf.shape}')
print(f'Check NaN values:\n{tweetdf.isnull().sum()}')
print(f'datatypes:\n{tweetdf.dtypes}')
tweetdf.head()

Shape:
(99989, 2)
Check NaN values:
Sentiment        0
SentimentText    0
dtype: int64
datatypes:
Sentiment         int64
SentimentText    object
dtype: object

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [9]:
!pip install -U nltk

import nltk
nltk.download('punkt')
nltk.download('stopwords')

Requirement already up-to-date: nltk in /usr/local/lib/python3.6/dist-packages (3.4)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.11.0)
Requirement already satisfied, skipping upgrade: singledispatch in /usr/local/lib/python3.6/dist-packages (from nltk) (3.4.0.3)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
# nltk imports
import string
from nltk.tokenize import sent_tokenize # Sentence Tokenizer
from nltk.tokenize import word_tokenize # Word Tokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.probability import FreqDist

In [0]:
table = str.maketrans('','', string.punctuation)
stop_words = set(stopwords.words('english'))


""" 
To Do:
1) Text should be lowercase.
2) Stopwords should be removed.
3) Punctuation should be removed.
4) Tweets should be tokenized at the word level.
"""

def nltk_tokenize(input):
  # Tokenize by word
  tokens = word_tokenize(input)
  #print(tokens)
  # Make all words lowercase
  lowercase_tokens = [w.lower() for w in tokens]
  #print(lowercase_tokens)
  # Strip punctuation from within words
  no_punctuation = [x.translate(table) for x in lowercase_tokens]
  #print(no_punctuation)
  # Remove stopwords
  no_stopwords = [w for w in no_punctuation if not w in stop_words]
  #print(no_stopwords)
  # Remove empty strings
  words = [w for w in no_stopwords if len(w) > 0]
  #print(words)
  return words

In [12]:
# Invoke nltk_tokenize on SentimentText
tweetdf['SentimentText_Tokenized'] = tweetdf['SentimentText'].apply(nltk_tokenize)
tweetdf.head()

,Sentiment,SentimentText,SentimentText_Tokenized
0,0,is so sad for my APL frie...,"[sad, apl, friend]"
1,0,I missed the New Moon trail...,"[missed, new, moon, trailer]"
2,1,omg its already 7:30 :O,"[omg, already, 730]"
3,0,.. Omgaga. Im sooo im gunna CRy. I'...,"[omgaga, im, sooo, im, gunna, cry, dentist, si..."
4,0,i think mi bf is cheating on me!!! ...,"[think, mi, bf, cheating, tt]"

In [13]:
pd.set_option('display.max_colwidth', 200)
for i in range(10):
  print(f'{tweetdf.SentimentText[i]}\n{tweetdf.SentimentText_Tokenized[i]}')

                     is so sad for my APL friend.............
['sad', 'apl', 'friend']
                   I missed the New Moon trailer...
['missed', 'new', 'moon', 'trailer']
              omg its already 7:30 :O
['omg', 'already', '730']
          .. Omgaga. Im sooo  im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
['omgaga', 'im', 'sooo', 'im', 'gunna', 'cry', 'dentist', 'since', '11', 'suposed', '2', 'get', 'crown', 'put', '30mins']
         i think mi bf is cheating on me!!!       T_T
['think', 'mi', 'bf', 'cheating', 'tt']
         or i just worry too much?
['worry', 'much']
       Juuuuuuuuuuuuuuuuussssst Chillin!!
['juuuuuuuuuuuuuuuuussssst', 'chillin']
       Sunny Again        Work Tomorrow  :-|       TV Tonight
['sunny', 'work', 'tomorrow', 'tv', 'tonight']
      handed in my uniform today . i miss you already
['handed', 'uniform', 'today', 'miss', 'already']
      hmmmm.... i wonder how she my number @-)
['hmmmm', 'wonder', 'number']

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####

TF-IDF stands for frequency inverse document frequency. 

When document is transformed to a **bag of words (BOW)** representation meaning we’re keeping track of what words there are but not what order they’re in. This gives information in binary if a particular word appears in the document or not.

In BOW we've lost word order, but also lost information on number of times the same word appears in a particular sentence. On updating the BOW representation to contain frequency of words we get **term frequency (TF)** representation. With TF representation, we can tell how many times word/term appears in each document.

With TF representation we cannot identify rare/special words. So counting the number of sentences that have each word will give us the **document frequency (DF)**. The document frequencies are high for words that are repetative, so dividing TF representation by the DF will give us low scores for repetative words and high scores for rare/special words.

$\frac{term frequency (TF)}{document frequency (DF)}$

Dividing by a number is the same as multiplying by its inverse, 
$\frac{1}{number}$, so we can call this transformation **term frequency inverse document frequency (TF-IDF)**.

Higher the value of TF-IDF the special/rarer the word and shall be considered important.

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.

In [14]:
##### Your Code Here #####
from sklearn.model_selection import train_test_split

X = tweetdf.SentimentText
y = tweetdf.Sentiment

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(79991,)
(19998,)
(79991,)
(19998,)

In [15]:
# Count Vectorizer method
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=300, ngram_range=(1,1), stop_words='english')
vectorizer.fit(X_train)

print(len(vectorizer.vocabulary_))

300

In [16]:
train_word_counts = vectorizer.transform(X_train)

X_train_vectorized = pd.DataFrame(train_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_train_vectorized.shape)
X_train_vectorized.head()

(79991, 300)

,10,able,actually,add,ago,agree,ah,amazing,amp,anymore,...,xx,ya,yay,yea,yeah,year,years,yep,yes,yesterday
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
test_word_counts = vectorizer.transform(X_test)

X_test_vectorized = pd.DataFrame(test_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_test_vectorized.shape)
X_test_vectorized.head()

(19998, 300)

,10,able,actually,add,ago,agree,ah,amazing,amp,anymore,...,xx,ya,yay,yea,yeah,year,years,yep,yes,yesterday
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

LR = LogisticRegression(solver='lbfgs', random_state=42).fit(X_train_vectorized, y_train)

train_predictions = LR.predict(X_train_vectorized)
test_predictions = LR.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.701391406533235
Test Accuracy: 0.6985698569856986

In [19]:
from sklearn.naive_bayes import MultinomialNB

MNB = MultinomialNB().fit(X_train_vectorized, y_train)

train_predictions = MNB.predict(X_train_vectorized)
test_predictions = MNB.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.6980285282094235
Test Accuracy: 0.6964196419641964

In [20]:
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(n_estimators=100).fit(X_train_vectorized, y_train)

train_predictions = RFC.predict(X_train_vectorized)
test_predictions = RFC.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.873810803715418
Test Accuracy: 0.66991699169917

### Stretch Goal 1

In [21]:
#TF-IDF Vectorization Method
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=300, ngram_range=(1,1), stop_words='english')

vectorizer.fit(X_train)

print(len(vectorizer.vocabulary_))

300

In [22]:
train_word_counts = vectorizer.transform(X_train)

X_train_vectorized = pd.DataFrame(train_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_train_vectorized.shape)
X_train_vectorized.head()

(79991, 300)

,10,able,actually,add,ago,agree,ah,amazing,amp,anymore,...,xx,ya,yay,yea,yeah,year,years,yep,yes,yesterday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
test_word_counts = vectorizer.transform(X_test)

X_test_vectorized = pd.DataFrame(test_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_test_vectorized.shape)
X_test_vectorized.head()

(19998, 300)

,10,able,actually,add,ago,agree,ah,amazing,amp,anymore,...,xx,ya,yay,yea,yeah,year,years,yep,yes,yesterday
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.525546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
LR = LogisticRegression(solver='lbfgs', random_state=42).fit(X_train_vectorized, y_train)

train_predictions = LR.predict(X_train_vectorized)
test_predictions = LR.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.7016414346613994
Test Accuracy: 0.6981198119811981

In [25]:
MNB = MultinomialNB().fit(X_train_vectorized, y_train)

train_predictions = MNB.predict(X_train_vectorized)
test_predictions = MNB.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.6986285957170182
Test Accuracy: 0.6942694269426942

In [26]:
RFC = RandomForestClassifier(n_estimators=100).fit(X_train_vectorized, y_train)

train_predictions = RFC.predict(X_train_vectorized)
test_predictions = RFC.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

Train Accuracy: 0.8730232151117001
Test Accuracy: 0.683018301830183

### Stretch Goal 2 - Use Logistic Regression based on TFIDF score and F1 score metrics

In [27]:
tweetdf.Sentiment.value_counts(normalize=True)

1    0.564632
0    0.435368
Name: Sentiment, dtype: float64

In [28]:
from sklearn.metrics import f1_score

LR = LogisticRegression(solver='lbfgs', random_state=42).fit(X_train_vectorized, y_train)

train_predictions = LR.predict(X_train_vectorized)
test_predictions = LR.predict(X_test_vectorized)

print(f'Train F1 Score: {f1_score(y_train, train_predictions)}')
print(f'Test F1 Score: {f1_score(y_test, test_predictions)}')

Train F1 Score: 0.7577252608925162
Test F1 Score: 0.7547629686801804

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [29]:
##### Your Code Here #####
!pip install -U gensim
import gensim

Requirement already up-to-date: gensim in /usr/local/lib/python3.6/dist-packages (3.7.1)
Requirement already satisfied, skipping upgrade: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.1.0)
Requirement already satisfied, skipping upgrade: smart-open>=1.7.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.14.6)
Requirement already satisfied, skipping upgrade: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.11.0)
Requirement already satisfied, skipping upgrade: boto>=2.32 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.7.0->gensim) (2.49.0)
Requirement already satisfied, skipping upgrade: bz2file in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.7.0->gensim) (0.98)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.7.0->gensim) (2.18.4)
Requirement already satisfied, skipping upgrade: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.7.0->gensim) (1.9.115)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.7.0->gensim) (2019.3.9)
Requirement already satisfied, skipping upgrade: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.7.0->gensim) (1.22)
Requirement already satisfied, skipping upgrade: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.7.0->gensim) (2.6)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.7.0->gensim) (3.0.4)
Requirement already satisfied, skipping upgrade: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.7.0->gensim) (0.9.4)
Requirement already satisfied, skipping upgrade: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.7.0->gensim) (0.2.0)
Requirement already satisfied, skipping upgrade: botocore<1.13.0,>=1.12.115 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.7.0->gensim) (1.12.115)
Requirement already satisfied, skipping upgrade: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.115->boto3->smart-open>=1.7.0->gensim) (2.5.3)
Requirement already satisfied, skipping upgrade: docutils>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.115->boto3->smart-open>=1.7.0->gensim) (0.14)

In [0]:
from gensim.models import Word2Vec
w2v = Word2Vec(tweetdf.SentimentText_Tokenized, min_count=20, window=3, 
               size=300, negative=20)

In [31]:
words = list(w2v.wv.vocab)
print(f'Vocabulary Size: {len(words)}')

Vocabulary Size: 3730

In [32]:
w2v.wv.most_similar('twitter', topn=10)

[('account', 0.7515109777450562),
 ('facebook', 0.7445433139801025),
 ('email', 0.7371340394020081),
 ('updates', 0.737048864364624),
 ('myspace', 0.7251198291778564),
 ('dm', 0.7250415086746216),
 ('address', 0.720714807510376),
 ('fb', 0.7206610441207886),
 ('info', 0.7202619910240173),
 ('page', 0.7181308269500732)]

In [33]:
for i in range(20):
  print(words[i])

sad
friend
missed
new
moon
trailer
omg
already
im
sooo
gunna
cry
dentist
since
11
2
get
put
think
mi

In [34]:
w2v.wv.doesnt_match(['sad','happy','sorrow'])

'sad'

In [36]:
w2v.wv.similarity("dentist","women")

0.85655785

In [38]:
w2v.wv.most_similar(positive=["man"], negative=["woman"], topn=15)

[('wait', 0.30748018622398376),
 ('sucks', 0.30516156554222107),
 ('sorry', 0.2419767677783966),
 ('sooo', 0.2320500761270523),
 ('sleep', 0.23050057888031006),
 ('aww', 0.2214367538690567),
 ('tired', 0.2136673629283905),
 ('okay', 0.20935091376304626),
 ('im', 0.20641760528087616),
 ('damn', 0.20112481713294983),
 ('boo', 0.20016545057296753),
 ('awww', 0.1900474727153778),
 ('wan', 0.18219617009162903),
 ('sick', 0.17409318685531616),
 ('baby', 0.1677500307559967)]