<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Sprint Challenge*

# Natural Language Processing

**Part 1 - Working with Text Data**
Use Python string methods remove irregular whitespace from the following string:

In [1]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [2]:
" ".join(whitespace_string.split())

'This is a string that has a lot of extra whitespace.'

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt)

- Day
- Month
- Year

In [3]:
with open('dates.txt', 'r', encoding='utf-8') as f:
  contents = f.read()
  
contents

'March 8, 2015\nMarch 15, 2015\nMarch 22, 2015\nMarch 29, 2015\nApril 5, 2015\nApril 12, 2015\nApril 19, 2015\nApril 26, 2015\nMay 3, 2015\nMay 10, 2015\nMay 17, 2015\nMay 24, 2015\nMay 31, 2015\nJune 7, 2015\nJune 14, 2015\nJune 21, 2015\nJune 28, 2015\nJuly 5, 2015\nJuly 12, 2015\nJuly 19, 2015'

In [4]:
import re
dates = re.findall(r"([a-zA-Z]+) ([0-9]+), ([0-9]+)", contents)
dates

[('March', '8', '2015'),
 ('March', '15', '2015'),
 ('March', '22', '2015'),
 ('March', '29', '2015'),
 ('April', '5', '2015'),
 ('April', '12', '2015'),
 ('April', '19', '2015'),
 ('April', '26', '2015'),
 ('May', '3', '2015'),
 ('May', '10', '2015'),
 ('May', '17', '2015'),
 ('May', '24', '2015'),
 ('May', '31', '2015'),
 ('June', '7', '2015'),
 ('June', '14', '2015'),
 ('June', '21', '2015'),
 ('June', '28', '2015'),
 ('July', '5', '2015'),
 ('July', '12', '2015'),
 ('July', '19', '2015')]

In [5]:
import pandas as pd
df = pd.DataFrame(dates, columns=['Month', 'Day','Year'])
df

    Month Day  Year
0   March   8  2015
1   March  15  2015
2   March  22  2015
3   March  29  2015
4   April   5  2015
5   April  12  2015
6   April  19  2015
7   April  26  2015
8     May   3  2015
9     May  10  2015
10    May  17  2015
11    May  24  2015
12    May  31  2015
13   June   7  2015
14   June  14  2015
15   June  21  2015
16   June  28  2015
17   July   5  2015
18   July  12  2015
19   July  19  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [6]:
import string
import pandas as pd
import re
# !pip install -U nltk

import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import sent_tokenize # Sentence Tokenizer
from nltk.tokenize import word_tokenize # Word Tokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.probability import FreqDist

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to /home/ec2-user/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ec2-user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
twit_df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv')
twit_df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [8]:
print(twit_df.Sentiment.value_counts(normalize=True))
print("-"*100)
print(twit_df.SentimentText.value_counts().sum())
twit_df.shape

1    0.564632
0    0.435368
Name: Sentiment, dtype: float64
----------------------------------------------------------------------------------------------------
99989

(99989, 2)

In [9]:
table = str.maketrans('','', string.punctuation)
stop_words = set(stopwords.words('english'))

def tokenize(texts):
    # Tokenize by word
    tokens = word_tokenize(texts)

    # Make all words lowercase
    lowercase_tokens = [w.lower() for w in tokens]

    # Strip punctuation from within words
    no_punctuation = [x.translate(table) for x in lowercase_tokens]

    # Remove words that aren't alphabetic
    alphabetic = [word for word in no_punctuation if word.isalpha()]

    # Remove stopwords
    words = [w for w in alphabetic if not w in stop_words]
    return words

twit_df['tokenized_SentimentText'] = twit_df['SentimentText'].apply(tokenize)
twit_df.SentimentText = twit_df.tokenized_SentimentText.apply(lambda x:' '.join(x))
twit_df.head()

,Sentiment,SentimentText,tokenized_SentimentText
0,0,sad apl friend,"[sad, apl, friend]"
1,0,missed new moon trailer,"[missed, new, moon, trailer]"
2,1,omg already,"[omg, already]"
3,0,omgaga im sooo im gunna cry dentist since supo...,"[omgaga, im, sooo, im, gunna, cry, dentist, si..."
4,0,think mi bf cheating tt,"[think, mi, bf, cheating, tt]"

### How should TF-IDF scores be interpreted? How are they calculated?

* TF-IDF is short for term frequency-inverse document frequency. It evaluate a keyword within a document in a corpus to score and rank the importance of such keyword based on how many times it appears.  Each word is given a  specific TF-IDF score.  Higher TF-IDF score means the word is less common and word with lower TF-IDF score is more common.
* TF = word frequency / total words of a document.  IDF = log(number of documents/ word frequency in all documents).  TF-IDF = TF * IDF

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.
 - Stretch goal: Track your results in a DataFrmae and produce a visualization of the results

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
X = twit_df.SentimentText
y = twit_df.Sentiment

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=5000, ngram_range=(1,1), stop_words='english')
vectorizer.fit(X_train)
print(vectorizer.get_feature_names()[300:325])

train_word_counts = vectorizer.transform(X_train)

X_train_vectorized = pd.DataFrame(train_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_train_vectorized.shape)
X_train_vectorized.head()

['apples', 'application', 'applied', 'apply', 'appointment', 'appreciate', 'appreciated', 'apprentice', 'appropriate', 'approval', 'approve', 'approved', 'apps', 'appt', 'april', 'aprilyim', 'apt', 'ar', 'aral', 'arancinibaby', 'aravindkumar', 'arbonneteam', 'archie', 'archuphils', 'area']
(79991, 5000)

,aafreen,aah,aalaap,aaron,abby,abc,abcdefglynis,abduzeedo,ability,abit,...,yummy,yup,yur,yw,zac,zealand,zero,zombie,zone,zoo
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
test_word_counts = vectorizer.transform(X_test)

X_test_vectorized = pd.DataFrame(test_word_counts.toarray(), columns=vectorizer.get_feature_names())

print(X_test_vectorized.shape)
X_test_vectorized.head()

(19998, 5000)

,aafreen,aah,aalaap,aaron,abby,abc,abcdefglynis,abduzeedo,ability,abit,...,yummy,yup,yur,yw,zac,zealand,zero,zombie,zone,zoo
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Accuracy Test

In [13]:
results = []
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

LR = LogisticRegression(random_state=42).fit(X_train_vectorized, y_train)

train_predictions = LR.predict(X_train_vectorized)
test_predictions = LR.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

columns = ['model', 'acc_train', 'acc_test', 'vect']

result = {}
result['model'] = 'Logistic Regression'
result['acc_train'] = accuracy_score(y_train, train_predictions)
result['acc_test'] = accuracy_score(y_test, test_predictions)
result['vect_type'] = 'Count'

results.append(result)

Train Accuracy: 0.7795001937717994
Test Accuracy: 0.7498249824982498

In [14]:
from sklearn.naive_bayes import MultinomialNB

MNB = MultinomialNB().fit(X_train_vectorized, y_train)

train_predictions = MNB.predict(X_train_vectorized)
test_predictions = MNB.predict(X_test_vectorized)

print(f'Train Accuracy: {accuracy_score(y_train, train_predictions)}')
print(f'Test Accuracy: {accuracy_score(y_test, test_predictions)}')

result = {}
result['model'] = 'Multinomial Naive Bayes'
result['acc_train'] = accuracy_score(y_train, train_predictions)
result['acc_test'] = accuracy_score(y_test, test_predictions)
result['vect_type'] = 'Count'

results.append(result)

Train Accuracy: 0.7660736832893701
Test Accuracy: 0.7465746574657466

In [15]:
# Accuracy results
pd.DataFrame.from_records(results)

   acc_test  acc_train                    model vect_type
0  0.749825   0.779500      Logistic Regression     Count
1  0.746575   0.766074  Multinomial Naive Bayes     Count

## ROC AUC Scores

In [16]:
results = []
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

LR = LogisticRegression(random_state=42).fit(X_train_vectorized, y_train)

train_predictions = LR.predict(X_train_vectorized)
test_predictions = LR.predict(X_test_vectorized)

print(f'Train ROC AUC Score: {roc_auc_score(y_train, train_predictions)}')
print(f'Test ROC AUC Score: {roc_auc_score(y_test, test_predictions)}')

columns = ['model', 'auc_train', 'auc_test', 'vect']

result = {}
result['model'] = 'Logistic Regression'
result['auc_train'] = roc_auc_score(y_train, train_predictions)
result['auc_test'] = roc_auc_score(y_test, test_predictions)
result['vect_type'] = 'Count'

results.append(result)

Train ROC AUC Score: 0.7679205350669274
Test ROC AUC Score: 0.7383023978866086

In [17]:
from sklearn.naive_bayes import MultinomialNB

MNB = MultinomialNB().fit(X_train_vectorized, y_train)

train_predictions = MNB.predict(X_train_vectorized)
test_predictions = MNB.predict(X_test_vectorized)

print(f'Train Accuracy: {roc_auc_score(y_train, train_predictions)}')
print(f'Test Accuracy: {roc_auc_score(y_test, test_predictions)}')

result = {}
result['model'] = 'Multinomial Naive Bayes'
result['auc_train'] = roc_auc_score(y_train, train_predictions)
result['auc_test'] = roc_auc_score(y_test, test_predictions)
result['vect_type'] = 'Count'

results.append(result)

Train Accuracy: 0.7584726357183148
Test Accuracy: 0.7387886710018289

In [18]:
# roc_auc_score results
pd.DataFrame.from_records(results)

   auc_test  auc_train                    model vect_type
0  0.738302   0.767921      Logistic Regression     Count
1  0.738789   0.758473  Multinomial Naive Bayes     Count

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [19]:
!pip install -U gensim
import gensim
from gensim.models import Word2Vec

Requirement already up-to-date: gensim in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (3.7.2)
Requirement not upgraded as not directly required: smart-open>=1.7.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from gensim) (1.8.3)
Requirement not upgraded as not directly required: scipy>=0.18.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from gensim) (1.1.0)
Requirement not upgraded as not directly required: numpy>=1.11.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from gensim) (1.15.4)
Requirement not upgraded as not directly required: six>=1.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from gensim) (1.11.0)
Requirement not upgraded as not directly required: requests in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from smart-open>=1.7.0->gensim) (2.20.1)
Requirement not upgraded as not directly required: boto>=2.32 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from smart-open>=1.7.0->gensim) (2.48.0)
Requirement not upgraded as not directly required: boto3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from smart-open>=1.7.0->gensim) (1.9.138)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->smart-open>=1.7.0->gensim) (2019.3.9)
Requirement not upgraded as not directly required: idna<2.8,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->smart-open>=1.7.0->gensim) (2.6)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->smart-open>=1.7.0->gensim) (3.0.4)
Requirement not upgraded as not directly required: urllib3<1.25,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->smart-open>=1.7.0->gensim) (1.23)
Requirement not upgraded as not directly required: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3->smart-open>=1.7.0->gensim) (0.9.4)
Requirement not upgraded as not directly required: botocore<1.13.0,>=1.12.138 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3->smart-open>=1.7.0->gensim) (1.12.138)
Requirement not upgraded as not directly required: s3transfer<0.3.0,>=0.2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3->smart-open>=1.7.0->gensim) (0.2.0)
Requirement not upgraded as not directly required: docutils>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.138->boto3->smart-open>=1.7.0->gensim) (0.14)
Requirement not upgraded as not directly required: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.138->boto3->smart-open>=1.7.0->gensim) (2.7.3)
You are using pip version 10.0.1, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [24]:
model = Word2Vec(twit_df.tokenized_SentimentText, min_count=1, size=5)
model.wv.most_similar('twitter', topn=10)

[('harley', 0.9986058473587036),
 ('precooked', 0.9978617429733276),
 ('aceitonoequal', 0.9976887106895447),
 ('strategy', 0.9974822998046875),
 ('brandipowers', 0.9972800016403198),
 ('juggernaut', 0.9965915679931641),
 ('bradwilson', 0.9965680837631226),
 ('dizzy', 0.9963905811309814),
 ('bids', 0.9963849782943726),
 ('cwilso', 0.9961029291152954)]

In [21]:
model.wv.most_similar('funny', topn=10)

[('ahoova', 0.9993448257446289),
 ('dodgy', 0.9993407726287842),
 ('surreal', 0.9991070628166199),
 ('awful', 0.9985026121139526),
 ('aalaap', 0.998380184173584),
 ('busted', 0.9982904195785522),
 ('embrace', 0.9980837106704712),
 ('edward', 0.9979701638221741),
 ('celebrity', 0.9979403018951416),
 ('shy', 0.9979146718978882)]

In [22]:
dir(model.wv)

['__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_adapt_by_suffix',
 '_load_specials',
 '_log_evaluate_word_analogies',
 '_save_specials',
 '_smart_save',
 'accuracy',
 'add',
 'closer_than',
 'cosine_similarities',
 'distance',
 'distances',
 'doesnt_match',
 'evaluate_word_analogies',
 'evaluate_word_pairs',
 'get_keras_embedding',
 'get_vector',
 'index2entity',
 'index2word',
 'init_sims',
 'load',
 'load_word2vec_format',
 'log_accuracy',
 'log_evaluate_word_pairs',
 'most_similar',
 'most_similar_cosmul',
 'most_similar_to_given',
 'n_similarity',
 'rank',
 'relative_cosine_similarity',
 'save',
 'save_word2vec_format',
 'similar_by_vector',
 'similar_by_word',
 'similarity',
 'similarity_matrix',
 'syn0',
 'syn0norm',
 'vector_size',
 'vectors',
 'vectors_norm',
 'vocab',
 'wmdistance',
 'word_vec',
 'words_closer_than',
 'wv']

In [23]:
model.wv.similarity('twitter','funny')

0.96546155