<a href="https://colab.research.google.com/github/tesseract314/DS-Unit-4-Sprint-2-NLP/blob/master/DS42SC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Sprint Challenge*

# Natural Language Processing

**Part 1 - Working with Text Data**
Use Python string methods remove irregular whitespace from the following string:

In [75]:
import pandas as pd
import re
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from gensim.models.word2vec import Word2Vec

pd.set_option('max_colwidth', 800)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [1]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [2]:
# remove whitespace
" ".join(whitespace_string.split())

'This is a string that has a lot of extra whitespace.'

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt)

- Day
- Month
- Year

In [0]:
# put text in string variable
dates_text = '''
March 8, 2015
March 15, 2015
March 22, 2015
March 29, 2015
April 5, 2015
April 12, 2015
April 19, 2015
April 26, 2015
May 3, 2015
May 10, 2015
May 17, 2015
May 24, 2015
May 31, 2015
June 7, 2015
June 14, 2015
June 21, 2015
June 28, 2015
July 5, 2015
July 12, 2015
July 19, 2015
'''

In [0]:
# regex to extract month and day
regex = r"([a-zA-Z]+) (\d+)"

In [31]:
# find all matching regex
result = re.findall(regex, dates_text)
result

[('March', '8'),
 ('March', '15'),
 ('March', '22'),
 ('March', '29'),
 ('April', '5'),
 ('April', '12'),
 ('April', '19'),
 ('April', '26'),
 ('May', '3'),
 ('May', '10'),
 ('May', '17'),
 ('May', '24'),
 ('May', '31'),
 ('June', '7'),
 ('June', '14'),
 ('June', '21'),
 ('June', '28'),
 ('July', '5'),
 ('July', '12'),
 ('July', '19')]

In [32]:
# make dataframe
df = pd.DataFrame(result, columns=['Month', 'Day'])
df.head()

   Month Day
0  March   8
1  March  15
2  March  22
3  March  29
4  April   5

In [0]:
# regex to find year
regex2 = r"\b[0-9]{4}\b"
result2 = re.findall(regex2, dates_text)

In [35]:
# add year column and show all results in df
df['Year'] = result2
df

    Month Day  Year
0   March   8  2015
1   March  15  2015
2   March  22  2015
3   March  29  2015
4   April   5  2015
5   April  12  2015
6   April  19  2015
7   April  26  2015
8     May   3  2015
9     May  10  2015
10    May  17  2015
11    May  24  2015
12    May  31  2015
13   June   7  2015
14   June  14  2015
15   June  21  2015
16   June  28  2015
17   July   5  2015
18   July  12  2015
19   July  19  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [51]:
# read data
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv')
df.head()

,Sentiment,SentimentText
0,0,is so sad for my APL friend.............
1,0,I missed the New Moon trailer...
2,1,omg its already 7:30 :O
3,0,.. Omgaga. Im sooo im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
4,0,i think mi bf is cheating on me!!! T_T

In [54]:
df.shape

(99989, 2)

In [0]:
# function to tokenize and clean
def tokenize_clean(doc):
    # make tokens with split
    tokens = doc.split()
    # remove punctuation
    table = str.maketrans('', '', string.punctuation)
    tokens = [w.translate(table) for w in tokens]
    # remove non-alphabetic tokens
    tokens = [word for word in tokens if word.isalpha()]
    # remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [w for w in tokens if not w in stop_words]
    # remove short tokens and make all words lower
    tokens = [word.lower() for word in tokens if len(word) > 2]
    return tokens

In [53]:
# apply above function to sentiment text
df['SentimentText'] = df['SentimentText'].apply(tokenize_clean)
# show clean tweets
df.head(10)

,Sentiment,SentimentText
0,0,"[sad, apl, friend]"
1,0,"[missed, new, moon, trailer]"
2,1,"[omg, already]"
3,0,"[omgaga, sooo, gunna, cry, ive, dentist, since, suposed, get, crown, put]"
4,0,"[think, cheating]"
5,0,"[worry, much]"
6,1,"[juuuuuuuuuuuuuuuuussssst, chillin]"
7,0,"[sunny, again, work, tomorrow, tonight]"
8,1,"[handed, uniform, today, miss, already]"
9,1,"[hmmmm, wonder, number]"

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####

The TF-IDF score accounts for the frequency of a word as it appears in a single document AND across all documents. The term frequency (tf) is equal to the number of times a specific word appears in a document divided by the total number of words in that document. The inverse document frequency (idf) is equal to the log of total documents divided by the number of times a specific word appears in all the documents. The TF-IDF score is term frequency multiplied by inverse document frequency.

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.
 - Stretch goal: Track your results in a DataFrmae and produce a visualization of the results

In [58]:
# make text data sklearn compatible
documents = []
for text in df['SentimentText'].tolist():
  text = " ".join(text)
  documents.append(text)
  
len(documents) == len(df['SentimentText'])

True

In [59]:
# insert compatible data into df
df['SentimentText'] = documents
df.head()

   Sentiment                                                  SentimentText
0          0                                                 sad apl friend
1          0                                        missed new moon trailer
2          1                                                    omg already
3          0  omgaga sooo gunna cry ive dentist since suposed get crown put
4          0                                                 think cheating

In [0]:
# split into independent and dependent variables
X = df['SentimentText']
y = df['Sentiment']

# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [67]:
# model instance
vectorizer = CountVectorizer(min_df=.001)

# fit model
vectorizer.fit(X_train)

# print feature list
print(vectorizer.get_feature_names())

['able', 'absolutely', 'account', 'actually', 'add', 'afternoon', 'ago', 'agree', 'ahh', 'ahhh', 'aint', 'air', 'album', 'alex', 'alexalltimelow', 'all', 'almost', 'alone', 'along', 'alot', 'already', 'alright', 'also', 'although', 'always', 'alyssamilano', 'amazing', 'amp', 'and', 'andyclemmensen', 'annoying', 'another', 'answer', 'anymore', 'anyone', 'anything', 'anyway', 'aplusk', 'app', 'apparently', 'apple', 'appreciate', 'are', 'arent', 'around', 'art', 'ashleytisdale', 'ask', 'asked', 'asking', 'asleep', 'ass', 'ate', 'aubreyoday', 'awake', 'away', 'awesome', 'awful', 'aww', 'awww', 'awwww', 'babe', 'baby', 'babygirlparis', 'back', 'backstreetboys', 'bad', 'band', 'bday', 'beach', 'beat', 'beautiful', 'bed', 'beer', 'behind', 'believe', 'best', 'bet', 'better', 'bgt', 'big', 'billyraycyrus', 'birthday', 'bit', 'bitch', 'black', 'blog', 'blue', 'body', 'boo', 'book', 'books', 'bored', 'boring', 'bought', 'bout', 'box', 'boy', 'boys', 'bradiewebbstack', 'break', 'breakfast', 'bring', 'bro', 'broke', 'broken', 'brother', 'btw', 'bummer', 'business', 'busy', 'but', 'buy', 'bye', 'cake', 'call', 'called', 'came', 'camera', 'can', 'cannot', 'cant', 'car', 'card', 'care', 'case', 'cat', 'catch', 'caught', 'cause', 'chance', 'change', 'chat', 'check', 'cheers', 'chicken', 'chocolate', 'choice', 'chris', 'city', 'class', 'clean', 'close', 'closed', 'club', 'coffee', 'cold', 'come', 'comes', 'coming', 'comment', 'company', 'completely', 'computer', 'concert', 'congrats', 'congratulations', 'cool', 'cos', 'could', 'couldnt', 'country', 'couple', 'course', 'coz', 'crap', 'crazy', 'crc', 'cream', 'cry', 'crying', 'cut', 'cute', 'cuz', 'dad', 'damn', 'dance', 'date', 'day', 'days', 'dead', 'deal', 'dear', 'decided', 'def', 'definitely', 'did', 'didnt', 'die', 'died', 'different', 'dinner', 'disappointed', 'doesnt', 'dog', 'done', 'dont', 'doubt', 'download', 'dream', 'dreams', 'dress', 'drink', 'drive', 'driving', 'drunk', 'dude', 'due', 'dunno', 'earlier', 'early', 'easy', 'eat', 'eating', 'either', 'else', 'email', 'end', 'english', 'enjoy', 'enjoyed', 'enjoying', 'enough', 'episode', 'especially', 'etc', 'even', 'evening', 'event', 'ever', 'every', 'everyone', 'everything', 'exactly', 'exam', 'exams', 'except', 'excited', 'exciting', 'experience', 'extra', 'eye', 'eyes', 'face', 'facebook', 'fact', 'fail', 'fair', 'fall', 'family', 'fan', 'fans', 'fantastic', 'far', 'fast', 'fav', 'favorite', 'feel', 'feeling', 'feels', 'fell', 'felt', 'figure', 'film', 'final', 'finally', 'find', 'fine', 'fingers', 'finish', 'finished', 'first', 'fix', 'flight', 'flu', 'fly', 'follow', 'followers', 'followfriday', 'following', 'food', 'for', 'forever', 'forget', 'forgot', 'forward', 'found', 'free', 'friday', 'friend', 'friends', 'front', 'fuck', 'fucking', 'full', 'fun', 'funny', 'future', 'game', 'games', 'gave', 'get', 'gets', 'getting', 'girl', 'girls', 'give', 'giving', 'glad', 'god', 'goes', 'goin', 'going', 'gone', 'gonna', 'good', 'goodnight', 'google', 'gorgeous', 'got', 'gotta', 'great', 'green', 'group', 'guess', 'guy', 'guys', 'had', 'haha', 'hahah', 'hahaha', 'hahahaha', 'hair', 'half', 'hand', 'hands', 'hang', 'happen', 'happened', 'happens', 'happy', 'hard', 'hasnt', 'hate', 'have', 'havent', 'haveyouever', 'head', 'hear', 'heard', 'heart', 'hehe', 'hell', 'hello', 'help', 'hes', 'hey', 'high', 'hilarious', 'hit', 'hmm', 'hold', 'home', 'hope', 'hopefully', 'hoping', 'horrible', 'hot', 'hour', 'hours', 'house', 'how', 'hows', 'hug', 'huge', 'hugs', 'huh', 'hun', 'hungry', 'hurt', 'hurts', 'ice', 'idea', 'idk', 'ill', 'imagine', 'inaperfectworld', 'indeed', 'info', 'inside', 'instead', 'interesting', 'internet', 'interview', 'invite', 'iphone', 'ipod', 'iremember', 'isnt', 'itll', 'its', 'itunes', 'ive', 'jealous', 'job', 'join', 'july', 'june', 'just', 'keep', 'keeps', 'kick', 'kid', 'kidding', 'kids', 'kill', 'kind', 'kinda', 'knew', 'kno', 'know', 'knows', 'lady', 'lame', 'laptop', 'last', 'late', 'lately', 'later', 'laugh', 'learn', 'least', 'leave', 'leaving', 'left', 'less', 'let', 'lets', 'life', 'like', 'liked', 'lil', 'line', 'link', 'list', 'listen', 'listening', 'little', 'live', 'living', 'lmao', 'lol', 'london', 'long', 'longer', 'look', 'looked', 'looking', 'looks', 'lose', 'lost', 'lot', 'lots', 'love', 'loved', 'lovely', 'loves', 'loving', 'luck', 'lucky', 'lunch', 'luv', 'mac', 'mad', 'made', 'mail', 'make', 'makes', 'making', 'man', 'many', 'mate', 'matter', 'may', 'maybe', 'mean', 'means', 'meant', 'meet', 'meeting', 'mention', 'message', 'met', 'might', 'mind', 'mine', 'minute', 'minutes', 'miss', 'missed', 'missing', 'mom', 'moment', 'monday', 'money', 'month', 'months', 'mood', 'morning', 'mothers', 'move', 'movie', 'movies', 'moving', 'much', 'mum', 'music', 'musicmonday', 'must', 'myspace', 'myweakness', 'nah', 'name', 'near', 'need', 'needed', 'needs', 'never', 'new', 'news', 'next', 'nice', 'night', 'nite', 'nobody', 'nope', 'not', 'note', 'nothing', 'now', 'number', 'office', 'ohh', 'okay', 'old', 'omg', 'once', 'one', 'ones', 'online', 'only', 'ooh', 'open', 'order', 'others', 'ouch', 'outside', 'page', 'pain', 'parents', 'part', 'party', 'pass', 'past', 'pay', 'people', 'perfect', 'person', 'phone', 'photo', 'photos', 'pic', 'pick', 'pics', 'picture', 'pictures', 'place', 'plan', 'plans', 'play', 'played', 'playing', 'please', 'pleasure', 'plus', 'point', 'pool', 'poor', 'post', 'posted', 'ppl', 'pretty', 'prob', 'probably', 'problem', 'profile', 'proud', 'put', 'question', 'quick', 'quite', 'quot', 'quoti', 'quotthe', 'quotyou', 'radio', 'rain', 'raining', 'random', 'rather', 'read', 'reading', 'ready', 'real', 'really', 'reason', 'record', 'red', 'remember', 'reply', 'rest', 'ride', 'right', 'rock', 'room', 'run', 'running', 'sad', 'sadly', 'safe', 'said', 'sat', 'saturday', 'save', 'saw', 'say', 'saying', 'says', 'scared', 'scary', 'school', 'season', 'second', 'see', 'seeing', 'seem', 'seems', 'seen', 'self', 'send', 'sending', 'sense', 'sent', 'serious', 'seriously', 'service', 'set', 'sexy', 'shall', 'shame', 'share', 'sharing', 'she', 'shes', 'shirt', 'shit', 'shop', 'shopping', 'short', 'shot', 'shouldnt', 'show', 'shows', 'shut', 'sick', 'side', 'sigh', 'sign', 'silly', 'since', 'sing', 'single', 'sir', 'sis', 'sister', 'site', 'sitting', 'sleep', 'sleeping', 'slow', 'small', 'smile', 'sold', 'someone', 'something', 'sometimes', 'somewhere', 'son', 'song', 'songs', 'soo', 'soon', 'sooo', 'soooo', 'sorry', 'sort', 'sound', 'sounds', 'speak', 'special', 'spend', 'squarespace', 'star', 'start', 'started', 'starting', 'stay', 'still', 'stop', 'store', 'story', 'stuck', 'study', 'studying', 'stuff', 'stupid', 'suck', 'sucks', 'summer', 'sun', 'sunday', 'sunny', 'sunshine', 'super', 'support', 'supposed', 'sure', 'sweet', 'sweetie', 'take', 'taken', 'takes', 'taking', 'talk', 'talking', 'tea', 'team', 'tell', 'test', 'text', 'thank', 'thanks', 'that', 'thats', 'the', 'then', 'there', 'theres', 'they', 'theyre', 'thing', 'things', 'think', 'thinking', 'this', 'tho', 'though', 'thought', 'three', 'thursday', 'thx', 'ticket', 'tickets', 'til', 'till', 'time', 'times', 'tired', 'today', 'together', 'told', 'tomorrow', 'tonight', 'too', 'took', 'top', 'totally', 'touch', 'tour', 'town', 'train', 'tried', 'trip', 'true', 'try', 'trying', 'tuesday', 'turn', 'tweet', 'tweeting', 'tweets', 'twitter', 'two', 'type', 'ugh', 'understand', 'unfortunately', 'unless', 'update', 'updates', 'upset', 'use', 'used', 'using', 'usually', 'vegas', 'version', 'very', 'via', 'video', 'vip', 'visit', 'voice', 'vote', 'wait', 'waiting', 'wake', 'walk', 'wanna', 'want', 'wanted', 'wants', 'warm', 'was', 'wasnt', 'watch', 'watched', 'watching', 'water', 'way', 'wear', 'weather', 'web', 'website', 'wedding', 'wednesday', 'week', 'weekend', 'weeks', 'weird', 'welcome', 'well', 'went', 'were', 'weve', 'what', 'whatever', 'whats', 'when', 'where', 'white', 'who', 'whole', 'why', 'wife', 'will', 'win', 'wine', 'wish', 'wit', 'with', 'without', 'woke', 'woman', 'wonder', 'wonderful', 'wondering', 'wont', 'word', 'words', 'work', 'worked', 'working', 'works', 'world', 'worries', 'worry', 'worse', 'worst', 'worth', 'would', 'wouldnt', 'wow', 'write', 'writing', 'wrong', 'wtf', 'xoxo', 'xxx', 'yall', 'yay', 'yea', 'yeah', 'year', 'years', 'yep', 'yes', 'yesterday', 'yet', 'you', 'youd', 'youll', 'young', 'youquot', 'your', 'youre', 'youtube', 'youve', 'yummy', 'yup']

In [69]:
# transform train data
train_counts = vectorizer.transform(X_train)

# create dataframe with vectors
X_train_vec = pd.DataFrame(train_counts.toarray(), columns=vectorizer.get_feature_names())

# see dataframe
print(X_train_vec.shape)
X_train_vec.head()

(79991, 920)

,able,absolutely,account,actually,add,afternoon,ago,agree,ahh,ahhh,...,youd,youll,young,youquot,your,youre,youtube,youve,yummy,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
# transform test data
test_counts = vectorizer.transform(X_test)

# create df with vecs
X_test_vec = pd.DataFrame(test_counts.toarray(), columns=vectorizer.get_feature_names())

# see dataframe
print(X_test_vec.shape)
X_test_vec.head()

(19998, 920)

,able,absolutely,account,actually,add,afternoon,ago,agree,ahh,ahhh,...,youd,youll,young,youquot,your,youre,youtube,youve,yummy,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
# make and fit model
mnb = MultinomialNB().fit(X_train_vec, y_train)

# get train and test predictions
train_preds = mnb.predict(X_train_vec)
test_preds = mnb.predict(X_test_vec)

train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)

print('Train Accuracy:', train_acc)
print('Test Accuracy:', test_acc)

Train Accuracy: 0.734895175707267
Test Accuracy: 0.7282228222822282

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [76]:
# put data back in tokenized and list form
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv')

def tokenize_clean(doc):
    # make tokens with split
    tokens = doc.split()
    # remove punctuation
    table = str.maketrans('', '', string.punctuation)
    tokens = [w.translate(table) for w in tokens]
    # remove non-alphabetic tokens
    tokens = [word for word in tokens if word.isalpha()]
    # remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [w for w in tokens if not w in stop_words]
    # remove short tokens and make all words lower
    tokens = [word.lower() for word in tokens if len(word) > 2]
    return tokens
  
df['SentimentText'] = df['SentimentText'].apply(tokenize_clean)
df.head(10)

,Sentiment,SentimentText
0,0,"[sad, apl, friend]"
1,0,"[missed, new, moon, trailer]"
2,1,"[omg, already]"
3,0,"[omgaga, sooo, gunna, cry, ive, dentist, since, suposed, get, crown, put]"
4,0,"[think, cheating]"
5,0,"[worry, much]"
6,1,"[juuuuuuuuuuuuuuuuussssst, chillin]"
7,0,"[sunny, again, work, tomorrow, tonight]"
8,1,"[handed, uniform, today, miss, already]"
9,1,"[hmmmm, wonder, number]"

In [0]:
# model instance
wv_model = Word2Vec(df['SentimentText'], min_count=5, size=300, window=2)

In [79]:
# 10 words most similar to 'twitter'
wv_model.wv.most_similar('twitter')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('awalliewall', 0.8500722646713257),
 ('grats', 0.8236775398254395),
 ('list', 0.8124279379844666),
 ('aboard', 0.8105133175849915),
 ('peterfacinelli', 0.8083851337432861),
 ('bonniestwit', 0.8045743107795715),
 ('world', 0.8033061623573303),
 ('brittanyasnow', 0.8031395673751831),
 ('updates', 0.8026084899902344),
 ('facebook', 0.7961694598197937)]