In [1]:
import pandas as pd

In [4]:
df_gifts = pd.read_csv('iftsgay_2018_csv.csv')
df_beh = pd.read_csv('aughtynay_roay_icenay_2018.csv')

In [8]:
df_gifts.head()

,Things,Favorite?,Humanely Giftable?,Naughty or Nice?
0,aindropsray noay osesray,1,1,icenay
1,hiskersway noay ittenskay,1,0,NaN
2,rightbay oppercay ettleskay,1,1,icenay
3,armway oolenway ittensmay,1,1,icenay
4,rownbay aperpay ackagespay iedtay puay ithway ...,1,1,icenay

In [7]:
df_beh.head()

        Name              Location  Behavior  Other Gifts
0      Lamar    51.91599, 17.05723 -0.144877            7
1      Chloe  -47.99358, 128.19181  0.105298            3
2    Delilah  -56.54483, -68.75454 -0.510874            6
3     Melvin  -33.05493, 163.54943 -0.154494            9
4  Christine   67.91621, -20.02474 -0.285024            8

In [46]:
word = 'hiskersway'
new_word = word[:-2]
new_word[-1] + new_word[:-1]

'whiskers'

In [47]:
def un_pig(string):
    
    unpigged = []
    word_list = string.split()
    
    for word in word_list:
        word = word[:-2]
        unpigged += [word[-1] + word[:-1]]
        
    return unpigged

In [20]:
df_gifts.iloc[1][0]

'hiskersway noay ittenskay'

In [50]:
df_gifts['Things'].apply(un_pig)

0                                [raindrops, on, roses]
1                               [whiskers, on, kittens]
2                             [bright, copper, kettles]
3                               [warm, woolen, mittens]
4     [brown, paper, packages, tied, up, with, strings]
5                              [cream, colored, ponies]
6                                [crisp, eppl, strudel]
7                                           [doorbells]
8                                       [sleigh, bells]
9                            [schnitzel, with, noodles]
10    [wild, geese, that, fly, with, the, moon, on, ...
11    [girls, in, white, dresses, with, blue, satin,...
12    [snowflakes, that, stay, on, my, nose, and, ey...
13    [silver, white, winters, that, melt, into, spr...
14                              [when, the, dog, bites]
15                             [when, the, bee, stings]
16                            [when, i'm, feeling, sad]
Name: Things, dtype: object