In [11]:
# !kaggle competitions download -c ds3-which-whisky

Downloading test.csv to /home/seek/Documents/GitHub/DS-Unit-4-Sprint-1-NLP
  0%|                                                | 0.00/128k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 128k/128k [00:00<00:00, 2.06MB/s]
Downloading sample_submission.csv to /home/seek/Documents/GitHub/DS-Unit-4-Sprint-1-NLP
  0%|                                               | 0.00/1.91k [00:00<?, ?B/s]
100%|███████████████████████████████████████| 1.91k/1.91k [00:00<00:00, 890kB/s]
Downloading train.csv.zip to /home/seek/Documents/GitHub/DS-Unit-4-Sprint-1-NLP
  0%|                                                | 0.00/463k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 463k/463k [00:00<00:00, 7.52MB/s]

In [16]:
import pandas as pd
train_features = pd.read_csv('train.csv.zip')

train_features.head()

,id,author,description,price,ratingValue,pert_alcohol,category
0,1,John Hansell,A marriage of 13 and 18 year old bourbons. A m...,85.0,97,51.5,2.0
1,2,Dave Broom,There have been some legendary Bowmores from t...,13500.0,97,42.9,1.0
2,3,John Hansell,This bottling celebrates master distiller Park...,150.0,97,50.0,2.0
3,4,John Hansell,What impresses me most is how this whisky evol...,4500.0,97,40.5,1.0
4,6,Davin de Kergommeaux,"After 40 years in barrels, the trademark Canad...",199.0,96,45.0,NaN

In [17]:
train_labels = pd.read_csv('sample_submission.csv')

train_labels.head()

     id  category
0   955         1
1  3532         3
2  1390         2
3  1024         4
4  1902         2

In [18]:
test_features = pd.read_csv('test.csv')

test_features.head()

,id,author,description,price,ratingValue,pert_alcohol
0,955,Fred Minnick,"Think carnival aromas—the good ones, anyway—me...",36.0,90,50.0
1,3532,Lew Bryson,"A blend of three bourbons, between 6 and 12 ye...",90.0,82,49.3
2,1390,Davin de Kergommeaux,"The nose is focused on cereal, hints of fresh ...",48.0,89,45.0
3,1024,Gavin Smith,Swiss-based Chapter 7 released this 19 year ol...,180.0,90,55.8
4,1902,Gavin Smith,Valkyrie replaces the current Dark Origins exp...,71.0,87,45.9