<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [3]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

from bs4 import BeautifulSoup

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read through the documentation to accomplish this task.

In [4]:
from bs4 import BeautifulSoup
import requests

##### Your Code Here #####
df = pd.read_csv('data/job_listings.csv')

def get_descriptions(string):
    soup = BeautifulSoup(string)
    return soup.get_text()
df['description'] = df['description'].apply(lambda x: x.lstrip('b'))
df['description'] = df['description'].apply(get_descriptions)

df.head()

,Unnamed: 0,description,title
0,0,"""Job Requirements:\nConceptual understanding i...",Data scientist
1,1,"'Job Description\n\nAs a Data Scientist 1, you...",Data Scientist I
2,2,'As a Data Scientist you will be working on co...,Data Scientist - Entry Level
3,3,"'$4,969 - $6,756 a monthContractUnder the gene...",Data Scientist
4,4,'Location: USA \xe2\x80\x93 multiple locations...,Data Scientist

## 2) Use Spacy to tokenize the listings

In [5]:
nlp = spacy.load("en_core_web_lg")

In [6]:
##### Your Code Here #####
stop_words = nlp.Defaults.stop_words.union(['job', 'data', 'scientist', 'location', 'business'])
def tokenize_column(text):
    doc = nlp(text)
    tokens = ([token.lemma_ for token in doc if (token.text.lower() not in stop_words) and (token.is_punct != True) and token.text.isalpha()])
    return tokens

df['tokens'] = df['description'].apply(tokenize_column)

df.head()

,Unnamed: 0,description,title,tokens
0,0,"""Job Requirements:\nConceptual understanding i...",Data scientist,"[understanding, Machine, Learning, model, like..."
1,1,"'Job Description\n\nAs a Data Scientist 1, you...",Data Scientist I,"[help, build, machine, learning, model, pipeli..."
2,2,'As a Data Scientist you will be working on co...,Data Scientist - Entry Level,"[work, consult, responsible, analyze, large, c..."
3,3,"'$4,969 - $6,756 a monthContractUnder the gene...",Data Scientist,"[monthcontractunder, general, supervision, Pro..."
4,4,'Location: USA \xe2\x80\x93 multiple locations...,Data Scientist,"[USA, multiple, year, Analytics, requirement, ..."

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [7]:
##### Your Code Here #####
vect = CountVectorizer()

vect.fit(df['description'])
dtm = vect.transform(df['description'])
dtm.shape

(426, 10069)

## 4) Visualize the most common word counts

In [8]:
##### Your Code Here #####
dtm.todense()
dtm = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())
dtm.sample(10)

,00,000,02115,03,0356,04,062,06366,08,10,...,zenreach,zero,zeus,zf,zheng,zillow,zones,zoom,zuckerberg,zurich
130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
44,0,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
294,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
412,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [9]:
##### Your Code Here #####
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
dtm = tfidf.fit_transform(df['description'])
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())
dtm.head()

,000,04,10,100,1079302,11,12,125,14,15,...,years,yearthe,yes,yeti,york,young,yrs,zeus,zf,zillow
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.093431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
def tokenize(document):
    
    doc = nlp(document)
    
    return [token.lemma_.strip() for token in doc if (token.text.lower() not in stop_words) and (token.is_punct != True) and token.text.isalnum()]

In [14]:
tfidf = TfidfVectorizer(stop_words='english', 
                        ngram_range=(1,2),
                        max_df=.97,
                        min_df=3,
                        tokenizer=tokenize)

dtm = tfidf.fit_transform(df['description'])
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())
dtm.head()

,0,0 2,1,1 year,10,10 time,10 year,100,100 company,100 country,...,year science,year simple,year technical,year work,yearthe,yes,york,york area,york city,yrs
0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.100871,0.060391,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [16]:
##### Your Code Here #####
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [20]:
job_description = [""" Looking for a data scientist to work on health care related data. We are a company committed to solving
public health problems. Your data analysis skills can help us achieve our goals. We are looking for a data scientist with experience
in Python and SQL to build and analyze databases of health care data, and make predictions and suggestions to our implementation
team based on these databases. Must have a background in the medical field and experience in communicating technical information 
to non-technical peers."""]

In [21]:
new = tfidf.transform(job_description)

In [22]:
nn.kneighbors(new.todense())

(array([[1.25337666, 1.2595292 , 1.26677694, 1.26719827, 1.28173794]]),
 array([[213, 425, 388, 201,  47]], dtype=int64))

In [23]:
df['description'].iloc[213]

"'Houston Methodist (HM) is looking for passionate data scientists to join the Center for Outcomes Research (COR) to lead and develop informatics initiatives that transform healthcare via data science and informatics. The goal of the HM COR informatics initiative is to benefit patients and society as a whole by utilizing the skills and tools of data science to model patient populations clinically and economically within the context of the patient, the health care and hospital systems so that we can optimize business and clinical operations, improve patient care, reduce costs and position HM to more effectively address population health and other strategic health care needs into the future. The responsibility of the data scientist is to address the best uses of data science and informatics resources for HM clinical and business operations and patient care, including the organization\\xe2\\x80\\x99s needs to assess and understand clinical, financial, operational, population health and marketing data. The data scientist should leverage the information in HM enterprise data warehouses and the Epic\\xc2\\xae electronic medical record as well as contribute to, manage and maintain and adhere to data definition standards crafted by the Hospital Data Governance Council. Under the guidance and direction of the Division Chief of Healthcare Informatics within the COR, the data scientist will work closely with clinicians, care givers, hospital staff, administrators, and other stakeholders to implement projects of clinical, business and societal benefit. The projects for this role will include, but are not limited to: research study protocol design and supporting analysis, predictive analytics, crafting innovative decision support methodology, advanced analytics, outcomes measures, cost reduction, quality improvement, population health management, statistical and advanced modeling techniques applied to different types of health and meta data, and coordinate with clinicians and scientists for the development of business and scientific presentations for a variety of audiences and stakeholders. The position promotes and supports system and department specific ICARE values.\\nPATIENT AGE GROUP SERVED\\nNot applicable\\nDUTIES AND RESPONSIBILITIES\\nPEOPLE (15%)\\nManages client relationships as assigned, by leading the delivery of innovative strategies and solutions for our clients (EF).\\nPresents project progresses and results to the stakeholders.\\nReports to the Head of Informatics Development Department of HMH IT.\\n\\nFINANCE (10%)\\nApplies good fiscal management practices\\nManages the continuous improvement of clinical and operational data and analytics.\\n\\nQUALITY/SAFETY (20%)\\nBe knowledgeable on clinical data quality issues and assurance as well as patient privacy and data security and compliance.\\nDocuments the project requirements and results on a timely basis.\\n\\nSERVICE (35%)\\nDrives the data analytics insights across the hospital system.\\nDrives the execution of multiple analytical plans and projects.\\nIdentify data elements within the clinical/health databases for analytics and decision supports.\\nGROWTH/INNOVATION (20%)\\nConsults with clinicians and hospital staff regarding process improvement, delivery of best outcomes, decision supports, data insights and recommendations.\\nTranslates the findings into implementable informatics solutions with the clinicians, hospital administration, and other stakeholders.\\n\\nThis job description is not intended to be all inclusive; the employee will also perform other reasonably related business/job duties as assigned. Houston Methodist reserves the right to revise job duties and responsibilities as the need arises.\\nEDUCATION REQUIREMENTS\\nMaster\\xe2\\x80\\x99s Degree in Computer Science, Clinical Informatics, Public Health Administration, Business Administration, or Engineering, or an MD with experience in Computing, Informatics, and Statistics.\\nEXPERIENCE REQUIREMENTS\\nAt least 4 years of experience in data analytics and/or database management in a healthcare organization.\\nCERTIFICATES, LICENSES AND REGISTRATIONS REQUIRED\\nNone\\nKNOWLEDGE, SKILLS AND ABILITIES REQUIRED\\nExperience with clinical settings and healthcare administration.\\nExperience with statistical, database and algorithm modeling preferred.\\nExperience implementing and managing Health IT software prototyping and applications.\\nExperience in process mapping and analytics.\\nExperience on decision support methodology and advanced analytics.\\nExperience of clinical/health data integration in a health care IT environment.\\nGreat communications skills, both verbal and written a must \\xe2\\x80\\x93 especially as it pertains to communicating complicated technical concepts to non-technical stakeholders.\\nProven interaction skills with clinicians and hospital administrators.\\nSufficient proficiency in speaking, reading, and writing the English language necessary to perform the essential functions of this job, especially with regard to activities impacting patient or employee safety or security.\\nAbility to effectively communicate with patients, physicians, family members and co-workers in a manner consistent with a customer service focus and application of positive language principles.\\n\\nWORKING ENVIRONMENT\\nNormal office environment'"

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)