<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [1]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy
nlp = spacy.load("en_core_web_lg")

## 1) *Optional:* Scrape 100 Job Listings that contain the title "Data Scientist" from indeed.com

At a minimum your final dataframe of job listings should contain
- Job Title
- Job Description

If you choose to not to scrape the data, there is a CSV with outdated data in the directory. Remeber, if you scrape Indeed, you're helping yourself find a job. ;)

In [2]:
#pd.read_csv('job_listings.csv')
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 2) Use Spacy to tokenize / clean the listings

In [3]:
df = pd.read_csv("data/job_listings.csv")
df.head()

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [4]:
import csv
path = "data/job_listings.csv"
data = []
with open(path, newline = "") as text:
    rows= csv.reader(text)
    for row in rows:
        data.append(row)
data=data

In [5]:
df.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [6]:
import spacy
nlp = spacy.load("en_core_web_lg")

from spacy.tokenizer import Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [7]:
df.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [8]:
def hcode(data):
    clean_text=re.sub('<.*?>', ' ', data)
    return clean_text

In [9]:
type(df['description'][0])

str

In [10]:
df['description'] = df['description'].apply(lambda x: hcode(x))

In [11]:
#df['tokens'] = df['description'].apply(lambda x: tokenizer(x))

In [12]:
df.head()

,Unnamed: 0,description,title
0,0,"b"" Job Requirements: \nConceptual understa...",Data scientist
1,1,b' Job Description \n \n As a Data Scientist 1...,Data Scientist I
2,2,b' As a Data Scientist you will be working on...,Data Scientist - Entry Level
3,3,"b' $4,969 - $6,756 a month Contract Unde...",Data Scientist
4,4,b' Location: USA \xe2\x80\x93 multiple locati...,Data Scientist

In [13]:
STOP_WORDS = nlp.Defaults.stop_words

In [14]:
STOP_WORDS = STOP_WORDS.union(['\\n#li-ms1"',"\\nwe\\'re",'it\\xe2\\x80\\x99s','\\nwe\\’re','we\\xe2\\x80\\x99re','customers\\xe2\\x80\\x99','members\\xe2\\x80\\x99','\\nall','\\nwe\\xe2\\x80\\x99re','\\nmaster\\xe2\\x80\\x99s','for\\xe2\\x80\\xa6','life\\xe2\\x80\\xa6','nai\\xc2\\xa8ve','   ',' ','        ','\\n''-',"b'",'b"', "it's",' \xe2\x80\x93',"i'm",'1','come',' :','  ','','\n',' \xe2\x80\x93',"i've",'b"everytown.', ' \n','r&amp;D','b"nfosys\xe2\x80\x93','we\xe2\x80\x99re'])

In [15]:
tokens = []

for doc in tokenizer.pipe(df['description'], batch_size=500):
    doc_tokens = []
    
    for x in doc:
        if x.text.lower() not in STOP_WORDS:
            doc_tokens.append(x.text.lower())
            
    tokens.append(doc_tokens)
    
df['token'] = tokens

In [16]:
df.head()

,Unnamed: 0,description,title,token
0,0,"b"" Job Requirements: \nConceptual understa...",Data scientist,"[job, requirements:, \nconceptual, understandi..."
1,1,b' Job Description \n \n As a Data Scientist 1...,Data Scientist I,"[job, description, \n, \n, data, scientist, 1,..."
2,2,b' As a Data Scientist you will be working on...,Data Scientist - Entry Level,"[data, scientist, working, consulting, busines..."
3,3,"b' $4,969 - $6,756 a month Contract Unde...",Data Scientist,"[$4,969, -, $6,756, month, contract, general, ..."
4,4,b' Location: USA \xe2\x80\x93 multiple locati...,Data Scientist,"[location:, usa, \xe2\x80\x93, multiple, locat..."

In [17]:
df.token[0]

['job',
 'requirements:',
 '\\nconceptual',
 'understanding',
 'machine',
 'learning',
 'models',
 'like',
 'bayes,',
 'k-means,',
 'svm,',
 'apriori,',
 'linear/',
 'logistic',
 'regression,',
 'neural,',
 'random',
 'forests,',
 'decision',
 'trees,',
 'k-nn',
 'hands-on',
 'experience',
 '2',
 '\\n',
 'intermediate',
 'expert',
 'level',
 'coding',
 'skills',
 'python/r.',
 '(ability',
 'write',
 'functions,',
 'clean',
 'efficient',
 'data',
 'manipulation',
 'mandatory',
 'role)',
 '\\n',
 'exposure',
 'packages',
 'like',
 'numpy,',
 'scipy,',
 'pandas,',
 'matplotlib',
 'etc',
 'python',
 'ggplot2,',
 'dplyr,',
 'tidyr',
 'r',
 '\\n',
 'ability',
 'communicate',
 'model',
 'findings',
 'technical',
 'non-technical',
 'stake',
 'holders',
 '\\n',
 'hands',
 'experience',
 'sql/hive',
 'similar',
 'programming',
 'language',
 '\\n',
 'past',
 'work',
 'github,',
 'kaggle',
 'published',
 'article',
 '\\n',
 "master's",
 'degree',
 'statistics/mathematics/computer',
 'science',
 'quant',
 'specific',
 'field.',
 '\\napply',
 '"']

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [18]:
df.head()

,Unnamed: 0,description,title,token
0,0,"b"" Job Requirements: \nConceptual understa...",Data scientist,"[job, requirements:, \nconceptual, understandi..."
1,1,b' Job Description \n \n As a Data Scientist 1...,Data Scientist I,"[job, description, \n, \n, data, scientist, 1,..."
2,2,b' As a Data Scientist you will be working on...,Data Scientist - Entry Level,"[data, scientist, working, consulting, busines..."
3,3,"b' $4,969 - $6,756 a month Contract Unde...",Data Scientist,"[$4,969, -, $6,756, month, contract, general, ..."
4,4,b' Location: USA \xe2\x80\x93 multiple locati...,Data Scientist,"[location:, usa, \xe2\x80\x93, multiple, locat..."

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
data = list[df.description]
# create the transformer
vect = CountVectorizer(stop_words=STOP_WORDS,min_df=.05, max_df=.9,lowercase=True)

# build vocab
vect.fit(data)

# transform text
dtm = vect.transform(data)
pd.DataFrame(dtm.todense(),columns=vect.get_feature_names())

TypeError: 'type' object is not subscriptable

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 4) Visualize the most common word counts

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)