<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [128]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

from bs4 import BeautifulSoup

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read through the documentation to accomplish this task.

In [129]:
from bs4 import BeautifulSoup
import requests

jobs = pd.read_csv("data/job_listings.csv")

jobs.head(20)

jobs = jobs.drop(columns='Unnamed: 0')

##### Your Code Here #####
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

In [130]:
jobs

###OK now I need to use Beautiful Soup to parse the words.

,description,title
0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist
...,...,...
421,"b""<b>About Us:</b><br/>\nWant to be part of a ...",Senior Data Science Engineer
422,"b'<div class=""jobsearch-JobMetadataHeader icl-...",2019 PhD Data Scientist Internship - Forecasti...
423,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist - Insurance
424,"b""<p></p><div><p>SENIOR DATA SCIENTIST</p><p>\...",Senior Data Scientist
425,b'<div></div><div><div><div><div><p>Cerner Int...,Data Scientist

In [131]:
def clean_description(desc):
    soup = BeautifulSoup(desc)
    #soup = soup.stripped_strings
    soup = soup.get_text()
    soup = soup.replace("\\n", "")

    
        #strip=True
    return soup

In [132]:
jobs['clean_desc'] = jobs['description'].apply(clean_description)

In [133]:
jobs['description'][5]

"b'<div>Create various Business Intelligence Analytical reports, visualization and dashboards with BI tools like Tableau, Power BI or similar;<br/>\\nUtilize experience in scientific data, logic programming and calculated columns, and decision making;<br/>\\nDevelop and maintain dashboards for KPIs, purchase trends with time series and customer flows with Tableau and Teradata;<br/>\\nDevelop recommendation models utilizing machine learning and predictive analysis with supervised and unsupervised algorithms like random forest, support vector machine and k-means clustering;<br/>\\nUtilize experience with SQL with strong concepts of database, data warehouse and metadata;<br/>\\nWork closely with frontend web developer and UX designer on improving online shopping experience and deploying business strategies like promotion or similar;<br/>\\nAnalyze customer behaviors and purchase trends to create customized recommended items;<br/>\\nConduct and apply A/B test to monitor and test new or modified features for online shopping experiences across desktop and mobile platforms;<br/>\\nCollect real time data from A/B test and generate feedback reports for presentations and communications to other teams, both technical and non-technical;<br/>\\nUtilize clustering models to categorize customers and generate optimized business strategies for different categories;<br/>\\nCreate novel computational approaches and analytical tools as required by market and business goals;<br/>\\nDesign databases and develop algorithms for processing and analyzing purchase, device information and customer information;<br/>\\nAnalyze geographic trends for online shopper sessions with business strategy implications and present on dashboard;<br/>\\nConsult with clients to analyze business problem, setup market goals, recommend technology-based solutions, or determine computational strategies;<br/>\\nWork with large data access, admin &amp; configuration and application data services;<br/>\\nWork with business stakeholders to identify requirements and outcomes, and to frame meaningful business scenarios that impact critical business functions;<br/>\\nDesign experiments, test hypothesis, build models to conduct data analysis and design algorithms and utilize appropriate designs to conduct analytics and discover patterns;</div>\\n<br/><div><div>Key Skills: </div><div>Python, R, SQL, Tableau, Excel</div></div>'"

In [134]:
jobs['clean_desc'][5]

"b'Create various Business Intelligence Analytical reports, visualization and dashboards with BI tools like Tableau, Power BI or similar;Utilize experience in scientific data, logic programming and calculated columns, and decision making;Develop and maintain dashboards for KPIs, purchase trends with time series and customer flows with Tableau and Teradata;Develop recommendation models utilizing machine learning and predictive analysis with supervised and unsupervised algorithms like random forest, support vector machine and k-means clustering;Utilize experience with SQL with strong concepts of database, data warehouse and metadata;Work closely with frontend web developer and UX designer on improving online shopping experience and deploying business strategies like promotion or similar;Analyze customer behaviors and purchase trends to create customized recommended items;Conduct and apply A/B test to monitor and test new or modified features for online shopping experiences across desktop and mobile platforms;Collect real time data from A/B test and generate feedback reports for presentations and communications to other teams, both technical and non-technical;Utilize clustering models to categorize customers and generate optimized business strategies for different categories;Create novel computational approaches and analytical tools as required by market and business goals;Design databases and develop algorithms for processing and analyzing purchase, device information and customer information;Analyze geographic trends for online shopper sessions with business strategy implications and present on dashboard;Consult with clients to analyze business problem, setup market goals, recommend technology-based solutions, or determine computational strategies;Work with large data access, admin & configuration and application data services;Work with business stakeholders to identify requirements and outcomes, and to frame meaningful business scenarios that impact critical business functions;Design experiments, test hypothesis, build models to conduct data analysis and design algorithms and utilize appropriate designs to conduct analytics and discover patterns;Key Skills: Python, R, SQL, Tableau, Excel'"

## 2) Use Spacy to tokenize the listings

In [135]:
##### Your Code Here #####
#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

nlp = spacy.load('en_core_web_lg')

jobs['clean_desc'] = jobs['clean_desc'].apply(nlp)

In [136]:
type(jobs['clean_desc'][0])

spacy.tokens.doc.Doc

In [137]:
jobs['clean_desc'][9]

b'Slack is hiring experienced data scientists to join our Lifecycle team. The Lifecycle team\xe2\x80\x99s mission is to build product experiences that help companies of all sizes adopt and scale Slack within their organization. These product experiences include team and user onboarding, payments and billing systems, and the marketing and packaging of paid plans.You will use data to help the team discover opportunities and define appropriate solutions to user problems by performing research into user behavior, defining and applying experimentation standards, and understanding the drivers of business performance.Slack has a positive, diverse, and supportive culture\xe2\x80\x94we look for people who are curious, inventive, and work to be a little better every single day. In our work together we aim to be smart, humble, hardworking and, above all, collaborative. If this sounds like a good fit for you, why not say hello?What you will be doingUse data to influence the direction of team roadmaps and inform business decisionsDeepen our understanding of our product, our users, and our business through data and the use of the scientific methodWork with partner teams to define goals and identify metrics that describe our product through dataBe an ambassador for data by improving the availability, understanding, and sophistication with data at SlackWhat you should have6+ years of professional industry experience doing quantitative analysisA consistent record of using analysis to impact key business or product decisionsThe ability to clearly and effectively communicate the results of complex analysesUnderstanding of standard data science methodologiesDeep understanding of statisticsAbility to write clean code, especially in R or PythonSlack is an Equal Opportunity Employer and participant in the U.S. Federal E-Verify program. Women, minorities, individuals with disabilities and protected veterans are encouraged to apply. Slack will consider qualified applicants with criminal histories in a manner consistent with the San Francisco Fair Chance Ordinance.Slack is a layer of the business technology stack that brings together people, data, and applications \xe2\x80\x93 a single place where people can effectively work together, find important information, and access hundreds of thousands of critical applications and services to do their best work. From global Fortune 100 companies to corner markets, businesses and teams of all kinds use Slack to bring the right people together with all the right information. Slack is headquartered in San Francisco, CA and has ten offices around the world. For more information on how Slack makes teams better connected, visit slack.com.Ensuring a diverse and inclusive workplace where we learn from each other is core to Slack\xe2\x80\x99s values. We welcome people of different backgrounds, experiences, abilities and perspectives. We are an equal opportunity employer and a pleasant and supportive place to work.Come do the best work of your life here at Slack.'

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [164]:
jobs

,description,title,clean_desc,clean_desc_list
0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,"(b""Job, Requirements, :, Conceptual, understan...","(b""Job, Requirements, :, Conceptual, understan..."
1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I,"(b'Job, DescriptionAs, a, Data, Scientist, 1, ...","(b'Job, DescriptionAs, a, Data, Scientist, 1, ..."
2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,"(b'As, a, Data, Scientist, you, will, be, work...","(b'As, a, Data, Scientist, you, will, be, work..."
3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"(b'$4,969, -, $, 6,756, a, monthContractUnder,...","(b'$4,969, -, $, 6,756, a, monthContractUnder,..."
4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist,"(b'Location, :, USA, \xe2\x80\x93, multiple, l...","(b'Location, :, USA, \xe2\x80\x93, multiple, l..."
...,...,...,...,...
421,"b""<b>About Us:</b><br/>\nWant to be part of a ...",Senior Data Science Engineer,"(b""About, Us, :, Want, to, be, part, of, a, fa...","(b""About, Us, :, Want, to, be, part, of, a, fa..."
422,"b'<div class=""jobsearch-JobMetadataHeader icl-...",2019 PhD Data Scientist Internship - Forecasti...,"(b'InternshipAt, Uber, ,, we, ignite, opportun...","(b'InternshipAt, Uber, ,, we, ignite, opportun..."
423,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist - Insurance,"(b'$200,000, -, $, 350,000, a, yearA, million,...","(b'$200,000, -, $, 350,000, a, yearA, million,..."
424,"b""<p></p><div><p>SENIOR DATA SCIENTIST</p><p>\...",Senior Data Scientist,"(b""SENIOR, DATA, SCIENTISTJOB, DESCRIPTIONABOU...","(b""SENIOR, DATA, SCIENTISTJOB, DESCRIPTIONABOU..."
425,b'<div></div><div><div><div><div><p>Cerner Int...,Data Scientist,"(b'Cerner, Intelligence, is, a, new, ,, innova...","(b'Cerner, Intelligence, is, a, new, ,, innova..."

In [237]:
vect = CountVectorizer()

def vectorize(text):
    vect.fit(text)
    dtm = vect.transform(text)
    return dtm

def vectorize_str(text):
    vect.fit([text])
    dtm = vect.transform([text])
    return dtm

In [238]:
vectorized_description_1 = vectorize_str(jobs['description'][0])

vectorized_description_1

<1x103 sparse matrix of type '<class 'numpy.int64'>'
	with 103 stored elements in Compressed Sparse Row format>

In [239]:
dtm = pd.DataFrame(vectorized_description_1.todense(), columns=vect.get_feature_names())
dtm["description"] = jobs['description'][0]

dtm

,ability,along,and,any,apriori,are,article,at,bayes,both,...,trees,ul,understanding,via,with,work,write,xa8ve,xc2,description
0,2,1,2,2,1,1,1,1,1,1,...,1,2,1,1,1,1,1,1,1,"b""<div><div>Job Requirements:</div><ul><li><p>..."

In [240]:
vectorized_description_2 = vectorize_str(jobs['description'][1])

vectorized_description_2

<1x346 sparse matrix of type '<class 'numpy.int64'>'
	with 346 stored elements in Compressed Sparse Row format>

In [241]:
dtm2 = pd.DataFrame(vectorized_description_2.todense(), columns=vect.get_feature_names())
dtm2["description"] = jobs['description'][1]

In [242]:
result = pd.concat([dtm, dtm2], axis=0, sort=False)
result

,ability,along,and,any,apriori,are,article,at,bayes,both,...,written,x80,x99,x99re,x99s,xa6,xe2,year,you,your
0,2,1,2,2.0,1.0,1,1.0,1,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,1,36,NaN,NaN,2,NaN,1,NaN,1,...,1.0,8.0,2.0,2.0,2.0,2.0,8.0,1.0,2.0,1.0

In [248]:
range(len(jobs['description']))

range(0, 426)

In [263]:

jobs_dtms = []

In [259]:
type(jobs_dtms)

list

In [264]:
jobs_dtms = []

for row in range(len(jobs['description'])):
#for row in range(5):
    vectorized_description = vectorize_str(jobs['description'][row])
    dtm = pd.DataFrame(vectorized_description.todense(), columns=vect.get_feature_names())
    dtm["description"] = jobs['description'][row]
    dtm["title"] = jobs['title'][row]
    
    jobs_dtms.append(dtm)
    
result = pd.concat(jobs_dtms, axis=0, sort=False)
result

,ability,along,and,any,apriori,are,article,at,bayes,both,...,malvern,ncerner,nexpectations,obligated,principals,quadruple,residing,riak,safeguarding,shot
0,2.0,1.0,2,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1.0,1.0,36,NaN,NaN,2.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2.0,NaN,29,NaN,NaN,1.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,13,NaN,NaN,2.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,18,NaN,NaN,4.0,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,25,2.0,NaN,2.0,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,29,2.0,NaN,4.0,NaN,3.0,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [272]:
result.describe()

KeyboardInterrupt:

fuck everything below this

In [243]:
dtm = jobs['description'].apply(vectorize_str)

In [244]:
type(dtm[0])

scipy.sparse.csr.csr_matrix

In [245]:
dtm[0].todense().shape

(1, 103)

In [246]:
print(dtm[0])

dtm[0].shape

  (0, 0)	2
  (0, 1)	1
  (0, 2)	2
  (0, 3)	2
  (0, 4)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	1
  (0, 8)	1
  (0, 9)	1
  (0, 10)	1
  (0, 11)	1
  (0, 12)	1
  (0, 13)	1
  (0, 14)	1
  (0, 15)	1
  (0, 16)	1
  (0, 17)	18
  (0, 18)	1
  (0, 19)	1
  (0, 20)	1
  (0, 21)	2
  (0, 22)	1
  (0, 23)	1
  (0, 24)	1
  :	:
  (0, 78)	1
  (0, 79)	1
  (0, 80)	1
  (0, 81)	1
  (0, 82)	1
  (0, 83)	1
  (0, 84)	1
  (0, 85)	1
  (0, 86)	1
  (0, 87)	1
  (0, 88)	1
  (0, 89)	2
  (0, 90)	1
  (0, 91)	1
  (0, 92)	1
  (0, 93)	5
  (0, 94)	1
  (0, 95)	2
  (0, 96)	1
  (0, 97)	1
  (0, 98)	1
  (0, 99)	1
  (0, 100)	1
  (0, 101)	1
  (0, 102)	1

(1, 103)

In [247]:
dtm = pd.DataFrame(dtm[0].todense(), columns=vect.get_feature_names())
dtm

ValueError: Shape of passed values is (1, 103), indices imply (1, 369)

# eveything below this is garbage

In [ ]:
type(jobs['description'][0])

In [ ]:
type(jobs['clean_desc_list'][0])

In [ ]:
##workflow for one row

token_text = jobs['clean_desc_list'][0]

token_text

In [ ]:
token_text = [token_text]

type(token_text)

In [ ]:
og_text = jobs['description'][0]
og_text

In [ ]:
og_text = [og_text]
vectorize(og_text)

In [ ]:
vect.get_feature_names()

In [ ]:
og_text[:20]

In [ ]:
dtm = vectorize(og_text)
dtm

In [ ]:
dtm.todense()

In [ ]:
dtm = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())
dtm

In [ ]:
for item in jobs['description']:
    item = [item]

In [ ]:
type(jobs['description'][0])

In [ ]:
jobs['description'][0]

## 4) Visualize the most common word counts

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)