<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Assignment 2*

# Document Representations: Bag-Of-Words

In [4]:
import re
import string

#!pip install -U nltk

import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import sent_tokenize # Sentence Tokenizer
from nltk.tokenize import word_tokenize # Word Tokenizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.probability import FreqDist

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

[nltk_data] Downloading package punkt to /Users/TomasFox/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/TomasFox/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# 1) (optional) Scrape 100 Job Listings that contain the title "Data Scientist" from indeed.com

At a minimum your final dataframe of job listings should contain
- Job Title
- Job Description

If you choose to not to scrape the data, there is a CSV with outdated data in the directory. Remeber, if you scrape Indeed, you're helping yourself find a job. ;)

In [6]:
!python -m spacy validate
!python -m spacy download en_core_web_lg

✔ Loaded compatibility table

====================== Installed models (spaCy v2.1.4) ======================
ℹ spaCy installation: /anaconda3/lib/python3.7/site-packages/spacy

TYPE      NAME             MODEL            VERSION
package   en-core-web-sm   en_core_web_sm   2.1.0   ✔
package   en-core-web-lg   en_core_web_lg   2.0.0   --> 2.1.0
link      en               en_core_web_sm   2.1.0   ✔


============================== Install updates ==============================
Use the following commands to update the model packages:
python -m spacy download en_core_web_lg

Collecting en_core_web_lg==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz#egg=en_core_web_lg==2.1.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz (826.9MB)
    100% |████████████████████████████████| 826.9MB 18.6MB/s ta 0:00:01  1% |▌                               | 13.6MB 1.6MB/s eta 0:08:39    1% |▋                               | 14.9MB 977kB/s eta 0:13:51    2% |▊                               | 17.3MB 3.1MB/s eta 0:04:25    2% |█                               | 23.1MB 1.1MB/s eta 0:12:05    2% |█                               | 24.4MB 944kB/s eta 0:14:10    3% |█                               | 27.6MB 2.5MB/s eta 0:05:24    7% |██▎                             | 60.1MB 2.5MB/s eta 0:05:08    10% |███▍                            | 88.5MB 16.0MB/s eta 0:00:47    11% |███▋                            | 93.0MB 10.6MB/s eta 0:01:10    13% |████▎                           | 109.4MB 2.3MB/s eta 0:05:17    13% |████▍                           | 114.2MB 1.7MB/s eta 0:06:55    14% |████▌                           | 116.0MB 3.3MB/s eta 0:03:33    15% |█████                           | 129.2MB 5.3MB/s eta 0:02:13�███▍                         | 166.5MB 5.5MB/s eta 0:02:01 eta 0:00:50    21% |██████▉                         | 175.5MB 4.1MB/s eta 0:02:41    22% |███████                         | 183.3MB 3.8MB/s eta 0:02:51    22% |███████                         | 183.7MB 11.4MB/s eta 0:00:57    24% |███████▊                        | 200.3MB 19.5MB/s eta 0:00:33    25% |████████▎                       | 214.3MB 5.3MB/s eta 0:01:55    26% |████████▋                       | 222.5MB 10.9MB/s eta 0:00:56    28% |█████████▎                      | 238.4MB 1.5MB/s eta 0:06:34    29% |█████████▌                      | 245.8MB 3.4MB/s eta 0:02:53    31% |██████████                      | 257.0MB 2.2MB/s eta 0:04:21    31% |██████████▏                     | 262.1MB 1.3MB/s eta 0:07:08    32% |██████████▍                     | 269.0MB 2.2MB/s eta 0:04:12    34% |███████████                     | 285.6MB 3.4MB/s eta 0:02:42    39% |████████████▋                   | 326.6MB 6.5MB/s eta 0:01:18    40% |████████████▉                   | 332.3MB 5.1MB/s eta 0:01:38    40% |█████████████                   | 335.7MB 2.1MB/s eta 0:03:54    41% |█████████████▎                  | 343.8MB 3.2MB/s eta 0:02:33    42% |█████████████▌                  | 348.1MB 3.3MB/s eta 0:02:26    43% |█████████████▉                  | 357.3MB 937kB/s eta 0:08:21    48% |███████████████▌                | 399.6MB 11.9MB/s eta 0:00:36    49% |███████████████▊                | 405.7MB 14.4MB/s eta 0:00:30    49% |███████████████▊                | 406.5MB 1.8MB/s eta 0:03:54    50% |████████████████▎               | 421.3MB 1.3MB/s eta 0:05:09    52% |████████████████▊               | 431.2MB 25.2MB/s eta 0:00:16    52% |█████████████████               | 437.4MB 506kB/s eta 0:12:49    54% |█████████████████▎              | 446.7MB 597kB/s eta 0:10:37    56% |██████████████████              | 465.8MB 354kB/s eta 0:17:00    56% |██████████████████▏             | 468.7MB 724kB/s eta 0:08:15    58% |██████████████████▋             | 480.6MB 3.2MB/s eta 0:01:50    62% |████████████████████            | 518.7MB 14.4MB/s eta 0:00:22    63% |████████████████████▍           | 526.1MB 12.8MB/s eta 0:00:24    69% |██████████████████████▏         | 573.7MB 913kB/s eta 0:04:38█████▎         | 575.2MB 4.5MB/s eta 0:00:56    69% |██████████████████████▍         | 577.6MB 981kB/s eta 0:04:15    74% |███████████████████████▊        | 612.7MB 5.4MB/s eta 0:00:40    76% |████████████████████████▌       | 632.9MB 9.1MB/s eta 0:00:22    78% |█████████████████████████       | 646.1MB 2.9MB/s eta 0:01:02    78% |█████████████████████████▏      | 651.2MB 18.7MB/s eta 0:00:10    79% |█████████████████████████▍      | 656.5MB 2.9MB/s eta 0:00:59    79% |█████████████████████████▌      | 660.1MB 6.5MB/s eta 0:00:26    81% |██████████████████████████      | 670.3MB 6.4MB/s eta 0:00:25    82% |██████████████████████████▌     | 685.8MB 2.9MB/s eta 0:00:49    83% |██████████████████████████▉     | 693.4MB 4.2MB/s eta 0:00:32    90% |█████████████████████████████   | 751.3MB 5.2MB/s eta 0:00:15�██████████▉ | 797.9MB 3.0MB/s eta 0:00:10    97% |███████████████████████████████▏| 804.5MB 6.2MB/s eta 0:00:04    99% |███████████████████████████████▊| 819.0MB 5.9MB/s eta 0:00:02
Installing collected packages: en-core-web-lg
  Found existing installation: en-core-web-lg 2.0.0
    Uninstalling en-core-web-lg-2.0.0:
      Successfully uninstalled en-core-web-lg-2.0.0
  Running setup.py install for en-core-web-lg ... done
Successfully installed en-core-web-lg-2.1.0
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

## 2) Use Spacy to tokenize / clean the listings

In [5]:
df = pd.read_csv('job_listings.csv')
df.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [6]:
text = df['description']
text.head()

0    b"<div><div>Job Requirements:</div><ul><li><p>...
1    b'<div>Job Description<br/>\n<br/>\n<p>As a Da...
2    b'<div><p>As a Data Scientist you will be work...
3    b'<div class="jobsearch-JobMetadataHeader icl-...
4    b'<ul><li>Location: USA \xe2\x80\x93 multiple ...
Name: description, dtype: object

In [7]:
def tokenize(text):
    """Parses a string into a list of semantic units (words)

    Args:
        text (str): The string that the function will tokenize.

    Returns:
        list: tokens parsed out by the mechanics of your choice
    """
    
    # Ned's Solution:
    sample = re.sub(r'[^a-zA-Z ^0-9]', '', text)
    tokens = sample.lower().split()
    
    return tokens

In [8]:
df['tokens'] = text.apply(tokenize)
df['tokens'].head()

0    [bdivdivjob, requirementsdivullipnconceptual, ...
1    [bdivjob, descriptionbrnbrnpas, a, data, scien...
2    [bdivpas, a, data, scientist, you, will, be, w...
3    [bdiv, classjobsearchjobmetadataheader, icluxs...
4    [bullilocation, usa, xe2x80x93, multiple, loca...
Name: tokens, dtype: object

In [22]:
#let's use spacy 

import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load('en_core_web_lg')

# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [23]:
tokens = []

for review in tokenizer.pipe(text):
    doc_tokens = [token.text for token in review]
    tokens.append(doc_tokens)
    
df['tokens'] = tokens

# 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [50]:
from sklearn.feature_extraction.text import CountVectorizer 

vectorizer = CountVectorizer(stop_words='english')

vectorizer.fit(text)

vectorizer.vocabulary_

dtm = vectorizer.transform(text)
dtm.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 2, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 1, 0, ..., 0, 0, 0]])

In [51]:
dtm = pd.DataFrame(dtm.todense(), columns = vectorizer.get_feature_names())

In [67]:
dtm.head()

,00,000,02115,03,0356,04,057,062,06366,08,...,zero,zeus,zf,zheng,zillow,zogsports,zones,zoom,zuckerberg,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
dtm.sum().sort_values(ascending=False).head(10)

li            12785
div            6870
data           4452
br             3894
ul             2636
experience     1584
xe2            1417
x80            1404
business       1210
work           1077
dtype: int64

# 4) Visualize the most common word counts

In [77]:
tokens = []

""" Update those tokens """
for doc in tokenizer.pipe(df['description'], batch_size=500):
    
    doc_tokens = []
    
    for token in doc: 
        if (token.is_stop == False) and (token.is_punct == False):
            doc_tokens.append(token.text.lower())
            
    tokens.append(doc_tokens)
    
df['tokens'] = tokens

In [78]:
# Object from Base Python
from collections import Counter

# The object `Counter` takes an iterable, but you can instantiate an empty one and update it. 
word_counts = Counter()


# Update it based on a split of each of our documents
df['tokens'].apply(lambda x: word_counts.update(x))


# Print out the 10 most common words
word_counts.most_common(10)

[('data', 3748),
 ('business', 1008),
 ('experience', 940),
 ('work', 875),
 ('team', 726),
 ('machine', 660),
 ('learning', 640),
 ('science', 564),
 ('statistical', 530),
 ('new', 517)]

 # 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [83]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', max_features=5000)

dtm = tfidf.fit_transform(df['description'])

docs = pd.DataFrame(dtm.todense(), columns = tfidf.get_feature_names())
docs.head()

,00,000,04,10,100,1079302,11,12,125,14,...,yes,yeti,york,young,yrs,zenreach,zeus,zf,zillow,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

 # 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [84]:
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors(n_neighbors=5, algorithm='ball_tree')

nn.fit(dtm.todense())

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [85]:
nn.kneighbors(dtm.todense()[0])

(array([[0.        , 0.86248789, 0.87371026, 0.88181475, 0.88777735]]),
 array([[  0, 276, 301, 264,  71]]))

In [86]:
ideal = ["""Data scientists utilize their analytical, statistical,
and programming skills to collect, analyze, and interpret large data sets. 
They then use this information to develop data-driven solutions to 
difficult business challenges. Data scientists commonly 
have a bachelor's degree in statistics, math, computer science, 
or economics. Data scientists have a wide range of technical
competencies including: statistics and machine learning, coding
languages, databases, machine learning, and reporting technologies."""]

In [87]:
new = tfidf.transform(ideal)
nn.kneighbors(new.todense())

(array([[1.27520712, 1.28386618, 1.28605981, 1.28728691, 1.28728691]]),
 array([[261, 327, 176, 184, 147]]))

In [82]:
df['description'][261]

"b'<div><p>The Data Science Engineer, Mintel Futures is a core part of Mintel\\xe2\\x80\\x99s data science team that will have the opportunity to work on a wide array of initiatives across varying aspects of Mintel\\xe2\\x80\\x99s business and data. This individual will help manage the full analytics lifecycle of advanced projects; help to identify new, impactful ways to apply machine learning to Mintel\\xe2\\x80\\x99s data; work alongside data scientists and business stakeholders to implement solutions that provide valuable insights; and aide in the design and development of a modern data analytics environment.</p>\\n<p><b>\\nWhat You Will Do:</b></p>\\n<ul>\\n<li>Play an integral role in shaping the underlying technology environment for Mintel\\xe2\\x80\\x99s fast growing team of data scientists and data analysts</li>\\n<li>Assist in the acquisition and management of a variety of data sources for large-scale analysis</li>\\n<li>Identify opportunities for predictive modeling or other machine learning techniques and experiment with solutions that focus on adding value to our clients and analysts</li>\\n<li>Work alongside software engineers and other data scientists to ensure the proper deployment, management and monitoring of machine learning models and/or other data pipelines in Mintel\\xe2\\x80\\x99s production platforms</li>\\n<li>Grow the technical and engineering capabilities of other data scientists and data analysts on the team</li>\\n<li>Develop engineering best practices, documentation and process flows that facilitate collaboration and knowledge transfer</li>\\n<li>Continually learn - as a part of a fluid, innovation focused team, you will stay current on emerging data science and data engineering technologies</li><br/>\\n</ul>\\n<p>\\n</p><p><b>What We Are Looking For:</b></p>\\n<ul>\\n<li>3+ years professional experience with building data focused solutions (integrations, pipelines, data warehousing, etc.)</li>\\n<li>1+ years professional experience as a data scientist or machine learning engineer preferred and/or having demonstrable analytical capability and working knowledge of data science principles</li>\\n<li>Proficient engineer with the ability to lead the deployment of machine learning or other analytical models</li>\\n<li>Expert level SQL skills and expert level proficiency in at least one programming language (Python, C++, Java, etc.)</li>\\n<li>Strong communication skills with the ability to converse with both technical and non-technical stakeholders</li>\\n<li>Team player with a collaborative nature</li>\\n<li>Strong work ethic with an inherent sense of ownership and responsibility</li>\\n<li>Experience building data solutions in at least one public cloud environment, AWS or GCP preferred</li>\\n<li>Advanced degree holder in a STEM or related quantitative discipline preferred</li>\\n</ul><p><b>Equal Opportunity Employer: Race/Color/Sex/Sexual Orientation/Gender Identity/Religion/National Origin/Disability/Vets</b></p></div>'"

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.