<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [69]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy
from bs4 import BeautifulSoup
import requests

## 1) *Optional:* Scrape 100 Job Listings that contain the title "Data Scientist" from indeed.com

At a minimum your final dataframe of job listings should contain
- Job Title
- Job Description

If you choose to not to scrape the data, there is a CSV with outdated data in the directory. Remeber, if you scrape Indeed, you're helping yourself find a job. ;)

In [106]:
url = 'https://www.indeed.com/viewjob?jk=b0dc2eadfcba419b&tk=1dr7f3vtdf111800&from=serp&vjs=3&advn=3848214563120147&adid=316929093&sjdu=X3GaIr4M8D6_6QaCbE5pWFqzvZnRRu8_cpMB5N7CL_YKUDrSZ58YrnVxndauEMGDGoXPgkacThvkAeBcdUk4sNe8IhI4yz5sumfAJcZ9jXnk9QALlUcJJdCjLhTPlhL6sPIfWbAi82W2g4UaiOFoh5FGRcxAGttDhK9wbovnsEY'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')
soup.find_all(class_='jobSectionHeader')

[<h2 class="jobSectionHeader"><b>Job Posting Title
 </b></h2>, <h2 class="jobSectionHeader"><b>Summary
 </b></h2>, <h2 class="jobSectionHeader"><b>Responsibilities
 </b></h2>, <h2 class="jobSectionHeader"><b>Qualifications
 </b></h2>, <h2 class="jobSectionHeader"><b>Why Aristocrat?
 </b></h2>, <h2 class="jobSectionHeader"><b>Our Winning Ways
 </b></h2>, <h2 class="jobSectionHeader"><b>Location
 </b></h2>, <h2 class="jobSectionHeader"><b>Job family
 </b></h2>, <h2 class="jobSectionHeader"><b>Contract Type
 </b></h2>, <h2 class="jobSectionHeader"><b>Time Type
 </b></h2>, <h2 class="jobSectionHeader"><b>Company
 </b></h2>]

In [70]:
dir(requests)

['ConnectTimeout',
 'ConnectionError',
 'DependencyWarning',
 'FileModeWarning',
 'HTTPError',
 'NullHandler',
 'PreparedRequest',
 'ReadTimeout',
 'Request',
 'RequestException',
 'RequestsDependencyWarning',
 'Response',
 'Session',
 'Timeout',
 'TooManyRedirects',
 'URLRequired',
 '__author__',
 '__author_email__',
 '__build__',
 '__builtins__',
 '__cached__',
 '__cake__',
 '__copyright__',
 '__description__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__url__',
 '__version__',
 '_check_cryptography',
 '_internal_utils',
 'adapters',
 'api',
 'auth',
 'certs',
 'chardet',
 'check_compatibility',
 'codes',
 'compat',
 'cookies',
 'delete',
 'exceptions',
 'get',
 'head',
 'hooks',
 'logging',
 'models',
 'options',
 'packages',
 'patch',
 'post',
 'put',
 'request',
 'session',
 'sessions',
 'status_codes',
 'structures',
 'urllib3',
 'utils',
 'warnings']

In [5]:
# Load Data Provided
data = "./data/job_listings.csv"
df = pd.read_csv(data)
print(f'The shape of the Dataframe is: {df.shape}')
print(df.columns)
df["description"][0]

The shape of the Dataframe is: (426, 3)
Index(['Unnamed: 0', 'description', 'title'], dtype='object')

'b"<div><div>Job Requirements:</div><ul><li><p>\\nConceptual understanding in Machine Learning models like Nai\\xc2\\xa8ve Bayes, K-Means, SVM, Apriori, Linear/ Logistic Regression, Neural, Random Forests, Decision Trees, K-NN along with hands-on experience in at least 2 of them</p>\\n</li><li><p>Intermediate to expert level coding skills in Python/R. (Ability to write functions, clean and efficient data manipulation are mandatory for this role)</p>\\n</li><li><p>Exposure to packages like NumPy, SciPy, Pandas, Matplotlib etc in Python or GGPlot2, dplyr, tidyR in R</p>\\n</li><li><p>Ability to communicate Model findings to both Technical and Non-Technical stake holders</p>\\n</li><li><p>Hands on experience in SQL/Hive or similar programming language</p>\\n</li><li><p>Must show past work via GitHub, Kaggle or any other published article</p>\\n</li><li><p>Master\'s degree in Statistics/Mathematics/Computer Science or any other quant specific field.</p></li></ul><div><div><div><div><div><div>\\nApply Now</div></div></div></div></div></div></div><div></div>"'

## 2) Use Spacy to tokenize / clean the listings

In [30]:
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_lg")

# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

# Make Tokens
tokens = []

for doc in tokenizer.pipe(df['description']):
    
    doc_tokens = []
    
    for token in doc:
        if (token.is_stop == False) & (token.is_punct == False):
            doc_tokens.append(token.text.lower())

    tokens.append(doc_tokens)

df['tokens'] = tokens

In [31]:
df['tokens'][0]

['b"<div><div>job',
 'requirements:</div><ul><li><p>\\nconceptual',
 'understanding',
 'machine',
 'learning',
 'models',
 'like',
 'nai\\xc2\\xa8ve',
 'bayes,',
 'k-means,',
 'svm,',
 'apriori,',
 'linear/',
 'logistic',
 'regression,',
 'neural,',
 'random',
 'forests,',
 'decision',
 'trees,',
 'k-nn',
 'hands-on',
 'experience',
 '2',
 'them</p>\\n</li><li><p>intermediate',
 'expert',
 'level',
 'coding',
 'skills',
 'python/r.',
 '(ability',
 'write',
 'functions,',
 'clean',
 'efficient',
 'data',
 'manipulation',
 'mandatory',
 'role)</p>\\n</li><li><p>exposure',
 'packages',
 'like',
 'numpy,',
 'scipy,',
 'pandas,',
 'matplotlib',
 'etc',
 'python',
 'ggplot2,',
 'dplyr,',
 'tidyr',
 'r</p>\\n</li><li><p>ability',
 'communicate',
 'model',
 'findings',
 'technical',
 'non-technical',
 'stake',
 'holders</p>\\n</li><li><p>hands',
 'experience',
 'sql/hive',
 'similar',
 'programming',
 'language</p>\\n</li><li><p>must',
 'past',
 'work',
 'github,',
 'kaggle',
 'published',
 "article</p>\\n</li><li><p>master's",
 'degree',
 'statistics/mathematics/computer',
 'science',
 'quant',
 'specific',
 'field.</p></li></ul><div><div><div><div><div><div>\\napply',
 'now</div></div></div></div></div></div></div><div></div>"']

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [52]:
# Turning the tokens list of lists into a single list to be vectorized
tokens_list = [item for sublist in tokens for item in sublist]
len(tokens_list)

126222

In [53]:
# Vectorize
vect = CountVectorizer()
vect.fit(tokens_list)
dtm = vect.transform(tokens_list)

126222

In [59]:
dtm_df = pd.DataFrame(dtm.todense(), columns=vect.get_feature_names())

## 4) Visualize the most common word counts

In [60]:
dtm_df.head()

,00,000,02115,03,0356,04,057,062,06366,08,...,zero,zeus,zf,zheng,zillow,zogsports,zones,zoom,zuckerberg,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate vectorizer object
tfidf = TfidfVectorizer(stop_words='english')

# Create a vocabulary and get word counts per document
dtm = tfidf.fit_transform(tokens_list)

# Print word counts


# Get feature names to use as dataframe column headers
dtm = pd.DataFrame(dtm.todense(), columns=tfidf.get_feature_names())

# View Feature Matrix as DataFrame
dtm.head()

,00,000,02115,03,0356,04,057,062,06366,08,...,zero,zeus,zf,zheng,zillow,zogsports,zones,zoom,zuckerberg,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [62]:
# Instantiate
from sklearn.neighbors import NearestNeighbors

# Fit on TF-IDF Vectors
nn  = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=None, n_neighbors=5, p=2, radius=1.0)

In [63]:
nn.kneighbors([dtm.iloc[356]])

(array([[0., 0., 0., 0., 0.]]), array([[1717, 3362, 3161,  356, 3265]]))

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)