In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/LambdaSchool/DS-Unit-4-Sprint-1-NLP/master/module1-text-data/data/yelp_coffeeshop_review_data.csv"

shops = pd.read_csv(url)
shops.head()

In [ ]:
def wrangle(df):
    df = df.copy()
    
    df['star_rating'] = df['star_rating'].str.replace('star rating', '').astype(float)
    
    df['date'] = df['full_review_text'].str.extract(r"(\d{1,2}[/. ](?:\d{1,2}|January|Jan)[/. ]\d{2}(?:\d{2})?)")
    df['date'] = pd.to_datetime(df['date'])
    
    df['full_review_text'] = df['full_review_text'].str.replace('(\d{1,2}[/. ](?:\d{1,2}|January|Jan)[/. ]\d{2}(?:\d{2})?)', '')
    df['full_review_text'] = df['full_review_text'].str.replace('(\d*)', '').str.strip().str.lstrip('check-in ')
#     df['full_review_text'] = df['full_review_text'].apply(lambda x: x.lower())
    
#     df['coffee_shop_name'] = df['coffee_shop_name'].str.strip()
    
    df['positive_review'] = df['star_rating'] >= 4.0
    
    return df

In [ ]:
df = wrangle(shops)
df.head()

In [ ]:
# first need to filter for Third Way Cafe

gj_df = df[df['coffee_shop_name'] == 'Third Way Cafe']
gj_df.head()

In [ ]:
# https://learn.co/lessons/python-api-intro-yelp

In [ ]:
import requests

In [ ]:
response = requests.get('https://flatironschool.com')
print('Type:', type(response), '\n')
print('Response:', response, '\n')
print('Response text:\n', response.text)

In [ ]:
client_id = 'hl_nLnocBvabc607rPQKtg'
api_key = '4WPAIityQYb6AolJrhLxeiUjiViDX7RW9Y63iYkzh4aUC_zGsRxGiHxw0a6X2sRN7W-VpW5N6ySE935_0DNmpBdNzZQgRnpEjq3EzsJmCG3ygr3tdHEmzyxlu3SWXXYx'

In [25]:
term = 'Third Way Cafe'
location = 'Columbus OH'
SEARCH_LIMIT = 50

# GET https://api.yelp.com/v3/businesses/Zo4y2zbF_KskGYfYEMeP3w/reviews

url = 'https://api.yelp.com/v3/businesses/search'

headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

url_params = {
                'term': term.replace(' ', '+'),
                'location': location.replace(' ', '+'),
                'limit': SEARCH_LIMIT
            }
response = requests.get(url, headers=headers, params=url_params)
print(response)
print(type(response.text))
print(response.text[:1000])

<Response [200]>
<class 'str'>
{"businesses": [{"id": "Zo4y2zbF_KskGYfYEMeP3w", "alias": "third-way-cafe-columbus", "name": "Third Way Cafe", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/4p8-Vq8MKrT885XPfeg5WQ/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=hl_nLnocBvabc607rPQKtg", "review_count": 24, "categories": [{"alias": "coffee", "title": "Coffee & Tea"}], "rating": 5.0, "coordinates": {"latitude": 39.954702, "longitude": -83.0821473}, "transactions": [], "price": "$", "location": {"address1": "3058 W Broad St", "address2": "", "address3": null, "city": "Columbus", "zip_code": "43204", "country": "US", "state": "OH", "display_address": ["3058 W Broad St", "Columbus, OH 43204"]}, "phone": "+16147473475", "display_phone": "(614) 747-3475", "distance": 9504.710541836119}, {"id": "UdJ452gSkPVyf55zsWFfGw", "alias": "one-line-coffee-short-north-columbus", "name":

In [22]:
response.json().keys()

dict_keys(['businesses', 'total', 'region'])

In [23]:
for key in response.json().keys():
    print(key)
    value = response.json()[key] #Use standard dictionary formatting
    print(type(value)) #What type is it?
    print('\n\n') #Seperate out data

businesses
<class 'list'>



total
<class 'int'>



region
<class 'dict'>

In [ ]:
response.json()['businesses'][:2]

In [ ]:
response.json()['total']

In [ ]:
response.json()['region']

In [ ]:
df = pd.DataFrame.from_dict(response.json()['businesses'])

In [ ]:
df.describe

In [21]:
df.head(2)

,alias,categories,coordinates,display_phone,distance,id,image_url,is_closed,location,name,phone,price,rating,review_count,transactions,url
0,one-line-coffee-short-north-columbus,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]","{'latitude': 39.9775933, 'longitude': -83.0038...",(614) 564-9852,3810.300036,UdJ452gSkPVyf55zsWFfGw,https://s3-media1.fl.yelpcdn.com/bphoto/Xqwo2p...,False,"{'address1': '745 N High St', 'address2': '', ...",One Line Coffee - Short North,+16145649852,$,4.5,250,[],https://www.yelp.com/biz/one-line-coffee-short...
1,mission-coffee-columbus,"[{'alias': 'coffeeroasteries', 'title': 'Coffe...","{'latitude': 39.98068, 'longitude': -83.0047}",(614) 300-0648,3482.656427,HeXUeRmksk3_BRYKPgWVVw,https://s3-media4.fl.yelpcdn.com/bphoto/D0ElM2...,False,"{'address1': '11 Price Ave', 'address2': '', '...",Mission Coffee,+16143000648,$,4.5,202,[],https://www.yelp.com/biz/mission-coffee-columb...

In [46]:
# term = 'Third Way Cafe'
# location = 'Columbus OH'
# SEARCH_LIMIT = 50

url =' https://api.yelp.com/v3/businesses/Zo4y2zbF_KskGYfYEMeP3w/reviews'

# url = 'https://api.yelp.com/v3/businesses/search'

headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

url_params = {
#                 'term': term.replace(' ', '+'),
#                 'location': location.replace(' ', '+'),
#                 'limit': SEARCH_LIMIT
            }
response = requests.get(url, headers=headers)#, params=url_params)
print(response)
print(type(response.text))
print(response.text[:1000])

<Response [200]>
<class 'str'>
{"reviews": [{"id": "C0eAjpDUN1E8GXbutGEjwg", "url": "https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&hrid=C0eAjpDUN1E8GXbutGEjwg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=hl_nLnocBvabc607rPQKtg", "text": "MISSION AND CULTURE RULE!\n\nWhen Third Way opened, I was living on the far side of town and now I'm in Westgate only a few blocks away and in walking...", "rating": 5, "time_created": "2019-08-06 09:53:34", "user": {"id": "ALj8pXYG9MKtd4CoU6WNfw", "profile_url": "https://www.yelp.com/user_details?userid=ALj8pXYG9MKtd4CoU6WNfw", "image_url": "https://s3-media4.fl.yelpcdn.com/photo/gE2h9yYemTadpX7c3SwrHg/o.jpg", "name": "Mark W."}}, {"id": "qC4OXdR_irg82B17g21Q5A", "url": "https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&hrid=qC4OXdR_irg82B17g21Q5A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=hl_nLnocBvabc607rPQKtg", "text": "This is my favorite coffee

In [47]:
response.json().keys()

dict_keys(['reviews', 'total', 'possible_languages'])

In [48]:
for key in response.json().keys():
    print(key)
    value = response.json()[key] #Use standard dictionary formatting
    print(type(value)) #What type is it?
    print('\n') #Seperate out data

reviews
<class 'list'>


total
<class 'int'>


possible_languages
<class 'list'>

In [49]:
response.json()['reviews']

[{'id': 'C0eAjpDUN1E8GXbutGEjwg',
  'url': 'https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&hrid=C0eAjpDUN1E8GXbutGEjwg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=hl_nLnocBvabc607rPQKtg',
  'text': "MISSION AND CULTURE RULE!\n\nWhen Third Way opened, I was living on the far side of town and now I'm in Westgate only a few blocks away and in walking...",
  'rating': 5,
  'time_created': '2019-08-06 09:53:34',
  'user': {'id': 'ALj8pXYG9MKtd4CoU6WNfw',
   'profile_url': 'https://www.yelp.com/user_details?userid=ALj8pXYG9MKtd4CoU6WNfw',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/gE2h9yYemTadpX7c3SwrHg/o.jpg',
   'name': 'Mark W.'}},
 {'id': 'qC4OXdR_irg82B17g21Q5A',
  'url': 'https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&hrid=qC4OXdR_irg82B17g21Q5A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=hl_nLnocBvabc607rPQKtg',
  'text': 'This is my favorite coffee shop. Not only because of the close proximity to my home but because of the mission of the shop. \n\n"Coffee, books, and community...',
  'rating': 5,
  'time_created': '2019-06-28 16:11:15',
  'user': {'id': 'bkIATQiG0c6erj_4oj0tiw',
   'profile_url': 'https://www.yelp.com/user_details?userid=bkIATQiG0c6erj_4oj0tiw',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/m6MfoF7xvCUKLf4TaQXY2w/o.jpg',
   'name': 'Tracy S.'}},
 {'id': '82giIDDdEMv3ZxvR60sQKg',
  'url': 'https://www.yelp.com/biz/third-way-cafe-columbus?adjust_creative=hl_nLnocBvabc607rPQKtg&hrid=82giIDDdEMv3ZxvR60sQKg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=hl_nLnocBvabc607rPQKtg',
  'text': "I've been meaning to check this place out for a while now, and I'm so glad I finally made it! Kind of an unexpected business in the area, but I'm so glad...",
  'rating': 5,
  'time_created': '2019-06-17 15:48:12',
  'user': {'id': 'ffGGc-X7ViyU1ZS22DEaMg',
   'profile_url': 'https://www.yelp.com/user_details?userid=ffGGc-X7ViyU1ZS22DEaMg',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/hStj47ZPIOd0a3TfthCS2Q/o.jpg',
   'name': 'Roza M.'}}]

In [50]:
df = pd.DataFrame.from_dict(response.json()['reviews'])

In [51]:
df.shape

(3, 6)

In [52]:
df

,id,rating,text,time_created,url,user
0,C0eAjpDUN1E8GXbutGEjwg,5,MISSION AND CULTURE RULE!\n\nWhen Third Way op...,2019-08-06 09:53:34,https://www.yelp.com/biz/third-way-cafe-columb...,"{'id': 'ALj8pXYG9MKtd4CoU6WNfw', 'profile_url'..."
1,qC4OXdR_irg82B17g21Q5A,5,This is my favorite coffee shop. Not only beca...,2019-06-28 16:11:15,https://www.yelp.com/biz/third-way-cafe-columb...,"{'id': 'bkIATQiG0c6erj_4oj0tiw', 'profile_url'..."
2,82giIDDdEMv3ZxvR60sQKg,5,I've been meaning to check this place out for ...,2019-06-17 15:48:12,https://www.yelp.com/biz/third-way-cafe-columb...,"{'id': 'ffGGc-X7ViyU1ZS22DEaMg', 'profile_url'..."

In [ ]:
#Create a dataframe
df = pd.DataFrame.from_dict(response.json())