<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 2 Sprint Challenge*

# Natural Language Processing

**Part 1 - Working with Text Data**
Use Python string methods remove irregular whitespace from the following string:

In [1]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "

print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [2]:
##### Your Code Here #####

new_string = " ".join(whitespace_string.split())
print(new_string)

This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt)

- Day
- Month
- Year

In [4]:
##### Your Code Here #####
import re

dates = """
March 8, 2015
March 15, 2015
March 22, 2015
March 29, 2015
April 5, 2015
April 12, 2015
April 19, 2015
April 26, 2015
May 3, 2015
May 10, 2015
May 17, 2015
May 24, 2015
May 31, 2015
June 7, 2015
June 14, 2015
June 21, 2015
June 28, 2015
July 5, 2015
July 12, 2015
July 19, 2015
"""

regex = r"([a-zA-Z]+) (\d+)(..)(\d+)"
search_result = re.findall(regex, dates)
print(search_result)

[('March', '8', ', ', '2015'), ('March', '15', ', ', '2015'), ('March', '22', ', ', '2015'), ('March', '29', ', ', '2015'), ('April', '5', ', ', '2015'), ('April', '12', ', ', '2015'), ('April', '19', ', ', '2015'), ('April', '26', ', ', '2015'), ('May', '3', ', ', '2015'), ('May', '10', ', ', '2015'), ('May', '17', ', ', '2015'), ('May', '24', ', ', '2015'), ('May', '31', ', ', '2015'), ('June', '7', ', ', '2015'), ('June', '14', ', ', '2015'), ('June', '21', ', ', '2015'), ('June', '28', ', ', '2015'), ('July', '5', ', ', '2015'), ('July', '12', ', ', '2015'), ('July', '19', ', ', '2015')]

In [5]:
import pandas as pd

df = pd.DataFrame(search_result, columns=['Month', 'Day', 'Commas', 'Year'])
df.head()

   Month Day Commas  Year
0  March   8     ,   2015
1  March  15     ,   2015
2  March  22     ,   2015
3  March  29     ,   2015
4  April   5     ,   2015

In [6]:
df.drop(columns=['Commas'],inplace=True)
df.head()

   Month Day  Year
0  March   8  2015
1  March  15  2015
2  March  22  2015
3  March  29  2015
4  April   5  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [29]:
##### Your Code Here #####
url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv'

df = pd.read_csv(url)
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [30]:
# wow that is messy

df['SentimentText'][3]

"          .. Omgaga. Im sooo  im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)..."

In [35]:
import string

def apply_changes(ugly_string):
    
    new_string = ugly_string.lower()
    new_string = " ".join(new_string.split())
    for p in string.punctuation:
        new_string = new_string.replace(p, '')

    return new_string

df['SentimentText'] = df['SentimentText'].apply(apply_changes)
df['SentimentText'][3]

'omgaga im sooo im gunna cry ive been at this dentist since 11 i was suposed 2 just get a crown put on 30mins'

In [39]:
df.head()

   Sentiment                                      SentimentText
0          0                        is so sad for my apl friend
1          0                      i missed the new moon trailer
2          1                              omg its already 730 o
3          0  omgaga im sooo im gunna cry ive been at this d...
4          0                 i think mi bf is cheating on me tt

In [45]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python2.7/site-packages (3.4.1)
Requirement already satisfied: six in /usr/local/lib/python2.7/site-packages (from nltk) (1.11.0)
Requirement already satisfied: singledispatch; python_version < "3.4" in /Users/chrislouie/Library/Python/2.7/lib/python/site-packages (from nltk) (3.4.0.3)
You are using pip version 18.1, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [42]:
#it's ready
import nltk
from nltk.corpus import stopwords

stop = stopwords.words('english')

ModuleNotFoundError: No module named 'nltk'

### How should TF-IDF scores be interpreted? How are they calculated?

#### Your Answer Here #####
(in markdown)

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.
 - Stretch goal: Track your results in a DataFrmae and produce a visualization of the results

In [ ]:
##### Your Code Here #####

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [ ]:
##### Your Code Here #####